@import url(layout.css);
@import url(default.css);
@import url(fonts.css);
@import url(common.css);



.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/main/visual_bg4.png);
}
.visual ul li h3 {
    font-family: 'Eulyoo1945';
    font-size: 5.333rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 50vh 20px 0 20px;
}
.visual ul li p {
    margin-top: 17px;
    font-size: 1.667rem;
    padding: 0 20px;
}
.visual .btn_wrap {
    position: absolute;  /*swiper기준으로 정렬*/
    right: 15%;
    bottom: 25%;
    z-index: 10;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
}
.visual .btn_wrap .paging span {
    margin-bottom: 10px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿*/
    width: 5px;
    height: 67px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; 
    /* 애니메이션 종류 후 마지막 상태 유지, 애니메이션 반복 횟수가 제한되었을때 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { height: 0;}
    100% { height: 100%;}
}
.visual .btn_wrap button {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    position: relative;
}

.visual .btn_wrap button::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15V0H15V15H0ZM1.5 13.5H13.5V1.5H1.5V13.5Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='17' viewBox='0 0 13 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.5566V0L13 8.27831L0 16.5566ZM1.59436 13.6194L10.0261 8.27831L1.59436 2.93721V13.6194Z' fill='white' fill-opacity='0.5'/%3E%3Cpath d='M1.58186 13.6194V13.6421L1.60105 13.63L10.0328 8.28887L10.0495 8.27831L10.0328 8.26775L1.60105 2.92665L1.58186 2.91449V2.93721V13.6194ZM0.0125 16.5338V0.0227792L12.9767 8.27831L0.0125 16.5338Z' stroke='white' stroke-opacity='0.5' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지버튼만 나옴 */
}
@media screen and (max-width:1024px){ 
    .visual ul li h3 {
        padding: 50vh 20px 0 20px;
        line-height: 1.2;
    }
    .visual ul li p {
        margin-top: 10px;
    }
}
@media screen and (max-width:768px){ 
    .visual ul li h3 {
        font-size: 2.667rem;
        line-height: 1.3;
    }
    .visual ul li p {
        margin-top: 5px;
    }
    .visual .btn_wrap {
        position: absolute;  /*swiper기준으로 정렬*/
        left: 50%;
        transform: translate(-50%, 0); /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
                                        btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform) 
                                        그럼 가운데 정렬이 됨 */
        bottom: 8%;
        z-index: 10;
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .visual .btn_wrap .paging {
        width: auto; /* swiper가 준 width:100% 속성 삭제 */
        display: flex;
    }
    .visual .btn_wrap .paging span {
        margin-right: 5px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 블릿*/
        width: 50px;
        height: 3px;
        position: relative;
        display: flex;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
        /* 현재 선택된 블릿 */
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
    }
    @keyframes visual_count {
        0% { width: 0;}
        100% { width: 100%;}
    }
    .visual .btn_wrap button {
        width: 15px;
        height: 15px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    
    .visual .btn_wrap button::before {
        position: absolute;
        right: -6px;
        top: -3px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
}
@media screen and (max-width:640px){
    .visual ul li h3 {
        font-size: 1.867rem;
    }

}


.story {
    padding: 0 20px;
    margin: 178px 0 200px 0;
}
.story .wrapper2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.story .tit {
    width: 50%;
}
.story .tit .tit_txt1 {
    font-family: 'Eulyoo1945';
    color: var(--color-main1);
    font-size: 1.667rem;
    position: relative;
}
.story .tit .tit_txt1::before{
    position: absolute;
    right: -159px;
    top: 14px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.story .tit .tit_txt2 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 5rem;
    color: var(--color-main2);
}
.story .tit h4 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 25px;
    margin: 36px 0 14px 0;
}
.story .tit p {
    line-height: 1.5;
}
.story .list {
    width: 50%;
    height: 50%;
}
.story .list .swiper-slide {
    width: auto;
}
.story .list .photo {
    overflow: hidden;
}
.story .list .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.story .more {
    width: 177px;
    height: 39px;
    color: #fff;
    background-color: var(--color-main1);
    border-radius: 50px;
}
.story .more a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 26px;
    margin: 30px 0 0 0;
}
@media screen and (max-width:1300px){
    .story .wrapper2 {
        display: block
    }
    .story .tit {
        width: 100%;
        padding:0;
        padding-bottom: 30px;
    }
    .story .list {
        width: 100%;
        height: 100%;
        padding-right: 0;
    }
    .story .more a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 26px;
        margin: 30px 0 0 0;
    }
}
@media screen and (max-width:640px){
    .story .tit span.tit_txt1 {
        font-size: 1.231rem;
    }
    .story .tit .tit_txt1::before{
        position: absolute;
        right: -108px;
        top: 10px;
        width: 100px;
        height: 1px;
        background-color: var(--color-main1);
        content: "";
    }
    .story .tit h3.tit_txt2 {
        font-size: 3.077rem;
    }
    .story .tit h4 {
        font-size: 1.308rem;
        margin: 20px 0 10px 0;
    }
    .story .more {
        width: 168px;
        height: 33px;
    }
    
}

.subject {
    background: #3E3E3F;
    padding: 0 20px;
}
.wrapper {
    position: relative;
    margin: 0 auto;
}
.subject .tit {
    position: relative;
    color: #fff;
}
.subject .tit span {
    font-family: 'Eulyoo1945';
    font-size: 1.667rem;
    color: var(--color-main1);
    padding-top: 123px;
    display: block;
    position: relative;
}
.subject .tit span::before {
    position: absolute;
    left: 115px;
    top: 138px;
    width: 150px;
    height: 1px;
    background-color: var(--color-main1);
    content: "";
}
.subject .tit h3 {
    font-size: 5rem;
    font-family: 'Eulyoo1945';
}
.subject .tit p {
    margin-bottom: 66px;
}
.subject .list {
    color: #C7A88B;
    position: relative;
}
.subject .list .line span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}
.subject .list ul {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
.subject .list ul li {
    width: 239px;
    height: 298px;
    background-color: var(--color-main2);
    border: 1px solid #ECDCCC;
    border-radius: 50px 0 50px 0;
    margin-bottom: 167px;
    position: relative;
}
.subject .list ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.subject .list ul li.active {
    width: 468px;
    background-color: #ECDCCC;
    color: #3E3E3F;
}
.subject .list ul li h3 {
    font-family: 'Eulyoo1945';
    font-size: 25px;
    padding: 45px 45px 0 45px;
    margin-bottom: 17px;
}
.subject .list ul li p {
    padding: 0 45px 0 45px;
}
.subject .list ul li::before {
    position: absolute;
    right: 35px;
    bottom: 36px;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.subject .list ul li.subject1::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='71' viewBox='0 0 70 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_183)'%3E%3Cpath d='M51.2753 59.9424C50.8855 59.9424 50.4827 59.8124 50.2228 59.5525L20.0632 29.3799C19.8033 29.12 19.6733 28.7302 19.6733 28.3274C19.6733 27.9246 19.8033 27.5347 20.0632 27.2748L30.8224 16.5156C31.4721 15.8659 32.3947 15.8659 32.9275 16.5156L62.9572 46.5453C63.2171 46.8052 63.347 47.195 63.347 47.5978C63.347 48.0007 63.2171 48.3905 62.9572 48.6504L52.3279 59.4096C52.068 59.7994 51.6782 59.9294 51.2753 59.9294V59.9424ZM23.3507 28.3274L51.2883 56.265L59.9425 47.6108L32.0049 19.6732L23.3507 28.3274Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 29.7701C21.1156 29.7701 20.8558 29.7701 20.7258 29.6401C20.206 29.3802 19.8032 28.8475 19.8032 28.1978V17.4385C19.8032 16.6459 20.4529 15.8662 21.3755 15.8662H32.1348C32.7845 15.8662 33.3172 16.256 33.5771 16.7888C33.837 17.3086 33.7071 17.9713 33.1873 18.491L22.4281 29.2503C22.0382 29.6401 21.6354 29.7701 21.2456 29.7701ZM22.6879 19.1538V24.6633L28.1975 19.1538H22.6879Z' fill='%23C7A88B'/%3E%3Cpath d='M60.9822 63.0873C60.5924 63.0873 60.1896 62.9574 59.9297 62.6975L53.4975 56.2653C52.8478 55.6156 52.8478 54.693 53.4975 54.1603L57.8246 49.8332C58.0845 49.5733 58.4743 49.4434 58.8772 49.4434C59.28 49.4434 59.6698 49.5733 59.9297 49.8332L66.3618 56.2653C66.6217 56.5252 66.7517 56.9151 66.7517 57.3179C66.7517 57.7207 66.6217 58.1105 66.3618 58.3704L62.0348 62.6975C61.7749 62.9574 61.385 63.0873 60.9822 63.0873ZM56.6551 55.2128L60.9822 59.5399L63.0873 57.4348L58.7602 53.1077L56.6551 55.1998V55.2128Z' fill='%23C7A88B'/%3E%3Cpath d='M57.7073 66.3615C57.3175 66.3615 56.9146 66.2316 56.6548 65.9717C56.0051 65.322 56.0051 64.3994 56.6548 63.8666L67.414 53.1074C68.0637 52.4577 68.9863 52.4577 69.5191 53.1074C70.1688 53.7571 70.1688 54.6797 69.5191 55.1995L58.7598 65.9587C58.5 66.2186 58.1101 66.3485 57.7073 66.3485V66.3615Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0008 63.0873C47.6109 63.0873 47.2081 62.9574 46.9482 62.6975C46.2985 62.0478 46.2985 61.1252 46.9482 60.5924L64.1266 43.414C64.7763 42.7643 65.6989 42.7643 66.2317 43.414C66.8814 44.0638 66.8814 44.9863 66.2317 45.5061L49.1832 62.6845C48.7934 62.9444 48.3906 63.0743 48.0008 63.0743V63.0873Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0007 48.1306C47.6108 48.1306 47.208 48.0006 46.9481 47.7407L24.3901 25.0528C23.7404 24.4031 23.7404 23.4805 24.3901 22.9477C25.0398 22.4279 25.9624 22.298 26.4952 22.9477L49.0532 45.5057C49.7029 46.1554 49.7029 47.078 49.0532 47.6108C48.7933 48.0006 48.4035 48.1306 48.0007 48.1306Z' fill='%23C7A88B'/%3E%3Cpath d='M25.4426 34.0971C25.0528 34.0971 24.65 33.9672 24.3901 33.7073C23.7404 33.0576 23.7404 32.135 24.3901 31.6152L30.8223 25.1831C31.472 24.5334 32.3946 24.5334 32.9273 25.1831C33.577 25.8328 33.577 26.7554 32.9273 27.2882L26.4952 33.7203C26.2353 33.9802 25.8455 34.1101 25.4426 34.1101V34.0971Z' fill='%23C7A88B'/%3E%3Cpath d='M29.7698 38.4243C29.38 38.4243 28.9771 38.2943 28.7173 38.0345C28.0676 37.3847 28.0676 36.4622 28.7173 35.9424L35.1494 29.5102C35.7991 28.8605 36.7217 28.8605 37.2415 29.5102C37.8912 30.1599 37.8912 31.0825 37.2415 31.6153L30.8093 38.0475C30.5495 38.3073 30.1596 38.4373 29.7568 38.4373L29.7698 38.4243Z' fill='%23C7A88B'/%3E%3Cpath d='M34.0969 42.7509C33.7071 42.7509 33.3043 42.621 33.0444 42.3611C32.3947 41.7114 32.3947 40.7888 33.0444 40.269L39.4766 33.8369C40.1263 33.1872 41.0489 33.1872 41.5816 33.8369C42.2313 34.4866 42.2313 35.4092 41.5816 35.929L35.1495 42.3611C34.8896 42.621 34.4998 42.7509 34.0969 42.7509Z' fill='%23C7A88B'/%3E%3Cpath d='M38.4241 46.9482C38.0343 46.9482 37.6314 46.8183 37.3716 46.5584C36.7218 45.9087 36.7218 44.9861 37.3716 44.4663L43.8037 38.0342C44.4534 37.3844 45.376 37.3844 45.9088 38.0342C46.5585 38.6839 46.5585 39.6065 45.9088 40.1392L39.4766 46.5714C39.2167 46.8313 38.8269 46.9612 38.4241 46.9612V46.9482Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 19.1536C20.8558 19.1536 20.453 19.0237 20.1931 18.7638L7.34178 5.89948C6.69206 5.24977 6.69206 4.32718 7.34178 3.79441C7.99149 3.1447 8.91408 3.1447 9.44684 3.79441L22.2982 16.6457C22.9479 17.2954 22.9479 18.218 22.2982 18.7508C22.0383 18.8807 21.6484 19.1406 21.2456 19.1406V19.1536Z' fill='%23C7A88B'/%3E%3Cpath d='M5.6395 25.9623C2.4949 25.9623 0 23.2075 0 19.803C0 17.8409 1.44236 15.8658 2.75478 14.0336C3.40449 13.2409 3.93726 12.4613 4.32708 11.6686C4.58697 11.1489 5.11973 10.876 5.6395 10.876C6.15927 10.876 6.69204 11.1359 6.95192 11.6686C7.34175 12.4613 8.00445 13.2409 8.52423 14.0336C9.83664 15.8658 11.279 17.7109 11.279 19.803C11.4089 23.2075 8.78411 25.9623 5.6395 25.9623ZM5.6395 15.2161C5.50956 15.4759 5.37962 15.6059 5.24968 15.8658C4.19714 17.1782 3.14461 18.7505 3.14461 19.803C3.14461 21.5053 4.32708 22.8177 5.76944 22.8177C7.21181 22.8177 8.39428 21.5053 8.39428 19.803C8.39428 18.7505 7.34175 17.3081 6.28922 15.8658C6.02933 15.7358 5.89939 15.4759 5.6395 15.2161Z' fill='%23C7A88B'/%3E%3Cpath d='M14.5534 41.3088C13.3709 41.3088 12.1884 40.7891 11.2788 39.9964L8.1342 36.7219C7.21161 35.7993 6.82178 34.7597 6.82178 33.4473C6.82178 32.1349 7.34155 31.0824 8.1342 30.1728C9.05679 29.2502 10.0963 28.8604 11.4087 28.8604C12.7212 28.8604 13.7737 29.3801 14.6833 30.1728L17.9578 33.4473C18.8804 34.3699 19.2703 35.4095 19.2703 36.7219C19.2703 38.0343 18.7505 39.0868 17.9578 39.9964C16.9053 40.7891 15.7228 41.3088 14.5534 41.3088ZM11.4087 32.005C11.0189 32.005 10.6161 32.1349 10.3562 32.3948C9.7065 33.0445 9.7065 33.9671 10.3562 34.4869L13.6308 37.7614C13.8906 38.0213 14.2805 38.1512 14.6833 38.1512C15.0861 38.1512 15.4759 38.0213 15.7358 37.7614C16.3855 37.1117 16.3855 36.1891 15.7358 35.6693L12.4613 32.3948C12.2014 32.1349 11.8116 32.005 11.4087 32.005Z' fill='%23C7A88B'/%3E%3Cpath d='M14.4237 70.1689C13.2413 70.1689 12.0588 69.6492 11.1492 68.8565L7.87463 65.582C6.04244 63.7498 6.04244 60.8651 7.87463 59.1498C8.79722 58.2272 9.83676 57.8374 11.1492 57.8374C12.3317 57.8374 13.5141 58.3572 14.4237 59.1498L17.6983 62.4244C18.6209 63.347 19.0107 64.3865 19.0107 65.6989C19.0107 66.8814 18.4909 68.0639 17.6983 68.9735C16.9056 69.8961 15.5932 70.156 14.4237 70.156V70.1689ZM11.1492 60.8521C10.7594 60.8521 10.3565 60.982 10.0966 61.2419C9.44693 61.8916 9.44693 62.8142 10.0966 63.334L13.3712 66.6085C13.6311 66.8684 14.0209 66.9984 14.4237 66.9984C14.8266 66.9984 15.2164 66.8684 15.4763 66.6085C16.126 65.9588 16.126 65.0362 15.4763 64.5164L12.2017 61.2419C11.9418 60.982 11.552 60.8521 11.1492 60.8521Z' fill='%23C7A88B'/%3E%3Cpath d='M8.26441 56.2651C7.08194 56.2651 5.89946 55.7454 4.98986 54.9527C3.15768 53.1205 3.15768 50.2358 4.98986 48.5206L8.26441 45.246C9.18701 44.3234 10.2265 43.9336 11.539 43.9336C12.8514 43.9336 13.9039 44.4534 14.8135 45.246C15.7361 46.1686 16.1259 47.2081 16.1259 48.5206C16.1259 49.703 15.6062 50.8855 14.8135 51.7951L11.539 55.0697C10.6164 55.8623 9.57683 56.2521 8.26441 56.2521V56.2651ZM11.539 47.0912C11.1491 47.0912 10.7463 47.2211 10.4864 47.481L7.21188 50.7556C6.56217 51.4053 6.56217 52.3279 7.21188 52.8476C7.47177 53.1075 7.86159 53.2375 8.26441 53.2375C8.66724 53.2375 9.05706 53.1075 9.31695 52.8476L12.5915 49.5731C13.2412 48.9234 13.2412 48.0008 12.5915 47.481C12.3316 47.2211 11.9418 47.0912 11.539 47.0912Z' fill='%23C7A88B'/%3E%3Cpath d='M47.8707 21.3756C45.3758 21.3756 43.2837 19.2705 43.2837 16.7886C43.2837 14.3067 45.3758 12.2017 47.8707 12.2017C50.3656 12.2017 52.4576 14.2937 52.4576 16.7886C52.4576 19.2835 50.3526 21.3756 47.8707 21.3756ZM47.8707 15.3463C47.078 15.3463 46.2984 15.996 46.2984 16.9186C46.2984 17.7112 46.9481 18.4909 47.8707 18.4909C48.6633 18.4909 49.443 17.8412 49.443 16.9186C49.313 15.996 48.6503 15.3463 47.8707 15.3463Z' fill='%23C7A88B'/%3E%3Cpath d='M40.2691 9.17394C37.7742 9.17394 35.6821 7.08186 35.6821 4.58697C35.6821 2.09207 37.7872 0 40.2691 0C42.751 0 44.8561 2.09207 44.8561 4.58697C44.8561 7.08186 42.751 9.17394 40.2691 9.17394ZM40.2691 3.14461C39.4764 3.14461 38.6968 3.79432 38.6968 4.71691C38.6968 5.6395 39.3465 6.28922 40.2691 6.28922C41.0617 6.28922 41.8414 5.6395 41.8414 4.71691C41.8414 3.79432 41.0488 3.14461 40.2691 3.14461Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_183'%3E%3Crect width='70' height='70.1689' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul li.subject2::before {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='62' viewBox='0 0 80 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_210)'%3E%3Cpath d='M40.9156 61.1522C40.4578 61.1522 39.9999 60.9996 39.6947 60.6944C35.7115 56.7112 31.7283 53.3384 27.8977 49.9657C23.6093 46.1351 19.4734 42.6097 16.1007 38.9317C12.2701 34.9485 9.813 31.2705 8.13425 27.5925C6.76073 24.3724 6.13501 21.3048 6.13501 17.9321C6.13501 17.3216 6.13501 16.5586 6.28762 15.7802C7.35592 6.74552 15.1697 0 24.5249 0C32.7966 0 36.7798 3.22015 40.3052 9.50782C44.441 2.7623 49.6451 0 57.6268 0C66.9668 0 74.7958 6.74552 75.8641 15.7802C76.0167 16.5433 76.0167 17.1538 76.0167 17.9321C76.0167 21.3048 75.4063 24.525 74.0175 27.5925C72.4914 31.2705 69.8817 34.9485 66.0511 38.9317C62.6783 42.6097 58.5425 46.1351 54.254 49.9657C50.4234 53.3384 46.4402 56.8638 42.3044 60.847C41.8466 60.9996 41.3887 61.1522 40.9309 61.1522H40.9156ZM24.3723 3.37276C16.8637 3.37276 10.5761 8.89737 9.66038 16.1007C9.66038 16.7112 9.50777 17.3216 9.50777 17.7795C9.50777 20.6944 10.1182 23.3041 11.1865 26.0511C12.56 29.4239 14.8645 32.644 18.3899 36.4746C21.7626 40 25.7458 43.5254 30.0343 47.2034C33.5597 50.2709 37.085 53.491 40.763 56.8638C44.441 53.3384 48.119 50.1183 51.4917 47.0507C55.7802 43.3728 59.7634 39.8474 63.1362 36.322C66.6615 32.644 68.966 29.2713 70.3395 25.8985C71.4078 23.1362 72.0183 20.5418 72.0183 17.6269C72.0183 17.0164 72.0183 16.5586 71.8656 15.9481C70.95 8.74475 64.6623 3.23541 57.1537 3.23541C49.6451 3.23541 45.2041 5.99771 41.3735 13.6589C41.0682 14.2694 40.4578 14.5746 39.8473 14.5746C39.2369 14.5746 38.6264 14.2694 38.3212 13.6589C34.338 5.53987 31.2705 3.38802 24.3723 3.38802V3.37276Z' fill='%23C7A88B'/%3E%3Cpath d='M40.9157 46.8979C40.1526 46.8979 39.3895 46.2875 39.2369 45.5244L34.6433 28.9659L33.7276 39.9998C33.7276 40.9155 32.8119 41.6786 31.881 41.6786H1.83136C0.915681 41.6786 0 40.9155 0 39.8319C0 38.9163 0.763068 37.9853 1.83136 37.9853H30.3396L32.0183 18.3745C32.0183 17.4588 32.7814 16.8483 33.6971 16.6957C34.6127 16.5431 35.3758 17.1536 35.5284 18.0693L40.8852 37.9853L44.5631 23.426C44.7158 22.6629 45.4788 22.0525 46.2419 22.0525C47.005 22.0525 47.768 22.5103 47.9206 23.2734L52.8195 37.9853H78.1076C79.0233 37.9853 79.939 38.7484 79.939 39.8319C79.939 40.7476 79.1759 41.6786 78.1076 41.6786H51.446C50.6829 41.6786 50.0725 41.2207 49.7673 40.4577L46.3945 30.1868L42.5639 45.5092C42.4113 46.4248 41.6482 46.8827 40.8852 46.8827L40.9157 46.8979Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_210'%3E%3Crect width='80' height='61.1522' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.subject .list ul li.subject3::before {
    
}
.subject .list ul li.subject4::before {
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='71' viewBox='0 0 70 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_32_183)'%3E%3Cpath d='M51.2753 59.9424C50.8855 59.9424 50.4827 59.8124 50.2228 59.5525L20.0632 29.3799C19.8033 29.12 19.6733 28.7302 19.6733 28.3274C19.6733 27.9246 19.8033 27.5347 20.0632 27.2748L30.8224 16.5156C31.4721 15.8659 32.3947 15.8659 32.9275 16.5156L62.9572 46.5453C63.2171 46.8052 63.347 47.195 63.347 47.5978C63.347 48.0007 63.2171 48.3905 62.9572 48.6504L52.3279 59.4096C52.068 59.7994 51.6782 59.9294 51.2753 59.9294V59.9424ZM23.3507 28.3274L51.2883 56.265L59.9425 47.6108L32.0049 19.6732L23.3507 28.3274Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 29.7701C21.1156 29.7701 20.8558 29.7701 20.7258 29.6401C20.206 29.3802 19.8032 28.8475 19.8032 28.1978V17.4385C19.8032 16.6459 20.4529 15.8662 21.3755 15.8662H32.1348C32.7845 15.8662 33.3172 16.256 33.5771 16.7888C33.837 17.3086 33.7071 17.9713 33.1873 18.491L22.4281 29.2503C22.0382 29.6401 21.6354 29.7701 21.2456 29.7701ZM22.6879 19.1538V24.6633L28.1975 19.1538H22.6879Z' fill='%23C7A88B'/%3E%3Cpath d='M60.9822 63.0873C60.5924 63.0873 60.1896 62.9574 59.9297 62.6975L53.4975 56.2653C52.8478 55.6156 52.8478 54.693 53.4975 54.1603L57.8246 49.8332C58.0845 49.5733 58.4743 49.4434 58.8772 49.4434C59.28 49.4434 59.6698 49.5733 59.9297 49.8332L66.3618 56.2653C66.6217 56.5252 66.7517 56.9151 66.7517 57.3179C66.7517 57.7207 66.6217 58.1105 66.3618 58.3704L62.0348 62.6975C61.7749 62.9574 61.385 63.0873 60.9822 63.0873ZM56.6551 55.2128L60.9822 59.5399L63.0873 57.4348L58.7602 53.1077L56.6551 55.1998V55.2128Z' fill='%23C7A88B'/%3E%3Cpath d='M57.7073 66.3615C57.3175 66.3615 56.9146 66.2316 56.6548 65.9717C56.0051 65.322 56.0051 64.3994 56.6548 63.8666L67.414 53.1074C68.0637 52.4577 68.9863 52.4577 69.5191 53.1074C70.1688 53.7571 70.1688 54.6797 69.5191 55.1995L58.7598 65.9587C58.5 66.2186 58.1101 66.3485 57.7073 66.3485V66.3615Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0008 63.0873C47.6109 63.0873 47.2081 62.9574 46.9482 62.6975C46.2985 62.0478 46.2985 61.1252 46.9482 60.5924L64.1266 43.414C64.7763 42.7643 65.6989 42.7643 66.2317 43.414C66.8814 44.0638 66.8814 44.9863 66.2317 45.5061L49.1832 62.6845C48.7934 62.9444 48.3906 63.0743 48.0008 63.0743V63.0873Z' fill='%23C7A88B'/%3E%3Cpath d='M48.0007 48.1306C47.6108 48.1306 47.208 48.0006 46.9481 47.7407L24.3901 25.0528C23.7404 24.4031 23.7404 23.4805 24.3901 22.9477C25.0398 22.4279 25.9624 22.298 26.4952 22.9477L49.0532 45.5057C49.7029 46.1554 49.7029 47.078 49.0532 47.6108C48.7933 48.0006 48.4035 48.1306 48.0007 48.1306Z' fill='%23C7A88B'/%3E%3Cpath d='M25.4426 34.0971C25.0528 34.0971 24.65 33.9672 24.3901 33.7073C23.7404 33.0576 23.7404 32.135 24.3901 31.6152L30.8223 25.1831C31.472 24.5334 32.3946 24.5334 32.9273 25.1831C33.577 25.8328 33.577 26.7554 32.9273 27.2882L26.4952 33.7203C26.2353 33.9802 25.8455 34.1101 25.4426 34.1101V34.0971Z' fill='%23C7A88B'/%3E%3Cpath d='M29.7698 38.4243C29.38 38.4243 28.9771 38.2943 28.7173 38.0345C28.0676 37.3847 28.0676 36.4622 28.7173 35.9424L35.1494 29.5102C35.7991 28.8605 36.7217 28.8605 37.2415 29.5102C37.8912 30.1599 37.8912 31.0825 37.2415 31.6153L30.8093 38.0475C30.5495 38.3073 30.1596 38.4373 29.7568 38.4373L29.7698 38.4243Z' fill='%23C7A88B'/%3E%3Cpath d='M34.0969 42.7509C33.7071 42.7509 33.3043 42.621 33.0444 42.3611C32.3947 41.7114 32.3947 40.7888 33.0444 40.269L39.4766 33.8369C40.1263 33.1872 41.0489 33.1872 41.5816 33.8369C42.2313 34.4866 42.2313 35.4092 41.5816 35.929L35.1495 42.3611C34.8896 42.621 34.4998 42.7509 34.0969 42.7509Z' fill='%23C7A88B'/%3E%3Cpath d='M38.4241 46.9482C38.0343 46.9482 37.6314 46.8183 37.3716 46.5584C36.7218 45.9087 36.7218 44.9861 37.3716 44.4663L43.8037 38.0342C44.4534 37.3844 45.376 37.3844 45.9088 38.0342C46.5585 38.6839 46.5585 39.6065 45.9088 40.1392L39.4766 46.5714C39.2167 46.8313 38.8269 46.9612 38.4241 46.9612V46.9482Z' fill='%23C7A88B'/%3E%3Cpath d='M21.2456 19.1536C20.8558 19.1536 20.453 19.0237 20.1931 18.7638L7.34178 5.89948C6.69206 5.24977 6.69206 4.32718 7.34178 3.79441C7.99149 3.1447 8.91408 3.1447 9.44684 3.79441L22.2982 16.6457C22.9479 17.2954 22.9479 18.218 22.2982 18.7508C22.0383 18.8807 21.6484 19.1406 21.2456 19.1406V19.1536Z' fill='%23C7A88B'/%3E%3Cpath d='M5.6395 25.9623C2.4949 25.9623 0 23.2075 0 19.803C0 17.8409 1.44236 15.8658 2.75478 14.0336C3.40449 13.2409 3.93726 12.4613 4.32708 11.6686C4.58697 11.1489 5.11973 10.876 5.6395 10.876C6.15927 10.876 6.69204 11.1359 6.95192 11.6686C7.34175 12.4613 8.00445 13.2409 8.52423 14.0336C9.83664 15.8658 11.279 17.7109 11.279 19.803C11.4089 23.2075 8.78411 25.9623 5.6395 25.9623ZM5.6395 15.2161C5.50956 15.4759 5.37962 15.6059 5.24968 15.8658C4.19714 17.1782 3.14461 18.7505 3.14461 19.803C3.14461 21.5053 4.32708 22.8177 5.76944 22.8177C7.21181 22.8177 8.39428 21.5053 8.39428 19.803C8.39428 18.7505 7.34175 17.3081 6.28922 15.8658C6.02933 15.7358 5.89939 15.4759 5.6395 15.2161Z' fill='%23C7A88B'/%3E%3Cpath d='M14.5534 41.3088C13.3709 41.3088 12.1884 40.7891 11.2788 39.9964L8.1342 36.7219C7.21161 35.7993 6.82178 34.7597 6.82178 33.4473C6.82178 32.1349 7.34155 31.0824 8.1342 30.1728C9.05679 29.2502 10.0963 28.8604 11.4087 28.8604C12.7212 28.8604 13.7737 29.3801 14.6833 30.1728L17.9578 33.4473C18.8804 34.3699 19.2703 35.4095 19.2703 36.7219C19.2703 38.0343 18.7505 39.0868 17.9578 39.9964C16.9053 40.7891 15.7228 41.3088 14.5534 41.3088ZM11.4087 32.005C11.0189 32.005 10.6161 32.1349 10.3562 32.3948C9.7065 33.0445 9.7065 33.9671 10.3562 34.4869L13.6308 37.7614C13.8906 38.0213 14.2805 38.1512 14.6833 38.1512C15.0861 38.1512 15.4759 38.0213 15.7358 37.7614C16.3855 37.1117 16.3855 36.1891 15.7358 35.6693L12.4613 32.3948C12.2014 32.1349 11.8116 32.005 11.4087 32.005Z' fill='%23C7A88B'/%3E%3Cpath d='M14.4237 70.1689C13.2413 70.1689 12.0588 69.6492 11.1492 68.8565L7.87463 65.582C6.04244 63.7498 6.04244 60.8651 7.87463 59.1498C8.79722 58.2272 9.83676 57.8374 11.1492 57.8374C12.3317 57.8374 13.5141 58.3572 14.4237 59.1498L17.6983 62.4244C18.6209 63.347 19.0107 64.3865 19.0107 65.6989C19.0107 66.8814 18.4909 68.0639 17.6983 68.9735C16.9056 69.8961 15.5932 70.156 14.4237 70.156V70.1689ZM11.1492 60.8521C10.7594 60.8521 10.3565 60.982 10.0966 61.2419C9.44693 61.8916 9.44693 62.8142 10.0966 63.334L13.3712 66.6085C13.6311 66.8684 14.0209 66.9984 14.4237 66.9984C14.8266 66.9984 15.2164 66.8684 15.4763 66.6085C16.126 65.9588 16.126 65.0362 15.4763 64.5164L12.2017 61.2419C11.9418 60.982 11.552 60.8521 11.1492 60.8521Z' fill='%23C7A88B'/%3E%3Cpath d='M8.26441 56.2651C7.08194 56.2651 5.89946 55.7454 4.98986 54.9527C3.15768 53.1205 3.15768 50.2358 4.98986 48.5206L8.26441 45.246C9.18701 44.3234 10.2265 43.9336 11.539 43.9336C12.8514 43.9336 13.9039 44.4534 14.8135 45.246C15.7361 46.1686 16.1259 47.2081 16.1259 48.5206C16.1259 49.703 15.6062 50.8855 14.8135 51.7951L11.539 55.0697C10.6164 55.8623 9.57683 56.2521 8.26441 56.2521V56.2651ZM11.539 47.0912C11.1491 47.0912 10.7463 47.2211 10.4864 47.481L7.21188 50.7556C6.56217 51.4053 6.56217 52.3279 7.21188 52.8476C7.47177 53.1075 7.86159 53.2375 8.26441 53.2375C8.66724 53.2375 9.05706 53.1075 9.31695 52.8476L12.5915 49.5731C13.2412 48.9234 13.2412 48.0008 12.5915 47.481C12.3316 47.2211 11.9418 47.0912 11.539 47.0912Z' fill='%23C7A88B'/%3E%3Cpath d='M47.8707 21.3756C45.3758 21.3756 43.2837 19.2705 43.2837 16.7886C43.2837 14.3067 45.3758 12.2017 47.8707 12.2017C50.3656 12.2017 52.4576 14.2937 52.4576 16.7886C52.4576 19.2835 50.3526 21.3756 47.8707 21.3756ZM47.8707 15.3463C47.078 15.3463 46.2984 15.996 46.2984 16.9186C46.2984 17.7112 46.9481 18.4909 47.8707 18.4909C48.6633 18.4909 49.443 17.8412 49.443 16.9186C49.313 15.996 48.6503 15.3463 47.8707 15.3463Z' fill='%23C7A88B'/%3E%3Cpath d='M40.2691 9.17394C37.7742 9.17394 35.6821 7.08186 35.6821 4.58697C35.6821 2.09207 37.7872 0 40.2691 0C42.751 0 44.8561 2.09207 44.8561 4.58697C44.8561 7.08186 42.751 9.17394 40.2691 9.17394ZM40.2691 3.14461C39.4764 3.14461 38.6968 3.79432 38.6968 4.71691C38.6968 5.6395 39.3465 6.28922 40.2691 6.28922C41.0617 6.28922 41.8414 5.6395 41.8414 4.71691C41.8414 3.79432 41.0488 3.14461 40.2691 3.14461Z' fill='%23C7A88B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_32_183'%3E%3Crect width='70' height='70.1689' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}