*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 15px;
    font-family: 'malgun gothic';
    background-color: #fff;
    color: #333;
}
.wrapper {
    width: 1000px;
    display: flex;
}
header {
    width: 200px;

}
header h1 {
    padding: 15px 0 0 10px;
}
header .gnb {
    margin-top: 10px;
}
header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
    background-color: #db800a;
    color: #fff;
    margin-left: 25px;
    position: relative;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 18px;
    line-height: 50px;
    transition: 0.2s;
}
header .gnb .depth1 > li:hover > a {
    background-color: #d16822;
}
header .gnb .depth1 > li.over .depth2 {
    display: block;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 150px;
    top: 0;
    width: 100px;
    z-index: 5;
}
header .gnb .depth2 > li {
    background-color: #fff;
    border: 1px solid #db800a;
    border-bottom: none;
    color: #333;
}
header .gnb .depth2 > li:last-child {
    border-bottom: 1px solid #db800a;
}
header .gnb .depth2 > li > a {
    font-size: 16px;
    display: block;
    line-height: 35px;
    transition: 0.2s;
}
header .gnb .depth2 > li > a:hover {
    background-color: #d16822;
    color: #fff;
}
.inner_box {
    width: 800px;
}
.popup {
    height: 350px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.popup ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 3600px;
    display: flex;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 20px;
}
.news {
    width: 300px;
}
.news h2 {
    font-size: 18px;
    background-color: #db800a;
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
.news ul li a:hover {
    color: #db800a;
    text-decoration: underline;
}
.gall {
    width: 230px;
}
.gall h2 {
    font-size: 18px;
    background-color: #db800a;
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 10px;
}
.gall ul {
    display: flex;
    justify-content: space-between;
}
.gall ul li a:hover {
    opacity: 0.5;
}
.link {
    width: 230px;
}
.layer_popup {
    position: absolute;
    z-index: 200;
    left: 400px;
    top: 300px;
    width: 500px;
    background-color: #d16822;
    color: #fff;
    padding: 30px 40px;
}
.layer_popup h2 {
    font-size: 23px;
}
.layer_popup p {
    font-size: 16px;
    padding: 15px 0;
}
.layer_popup button {
    cursor: pointer;
    font-size: 15px;
    border: 0;
    background-color: #fff;
    padding: 3px 6px;
}
footer {
    background-color: #f7f7f7;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
footer .f_logo {
    margin-top: 30px;
}
footer .f_nav {
    margin-top: 25px;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 20px;
}
footer .copy {
    margin-top: 10px;
    color: #666;
}