*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 15px;
    font-family: 'malgun gothic';
    color: #333;
    background-color: #fff;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
header {
    width: 200px;
    position: relative;
    z-index: 100;
}
header h1 {
    padding-top: 10px;
}
header .gnb .depth1 {
    margin-left: 20px;
    margin-top: 10px;
}
header .gnb .depth1 > li {
    text-align: center;
    width: 150px;
    background-color: #fff;
    border: 1px solid #333;
    border-bottom: none;
    position: relative;
}
header .gnb .depth1 > li:last-child {
    border-bottom: 1px solid #333;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 18px;
    line-height: 40px;
}
header .gnb .depth1 > li:hover > a {
    background-color: #b3e5bd;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 37px;
    width: 100%;
}
header .gnb .depth2 > li  {
    padding: 3px 0;   
}
header .gnb .depth2 > li > a {
    display: block;
    line-height: 40px;
}
header .gnb .depth2 > li > a:hover {
    background-color: #77bc82;
    color: #fff;
}
header .gnb .depth1 > li.over .depth2 {
    display: block;
}
header .gnb .depth1 > li.over {
    height: 215px;
}
.inner_box {
    width: 800px;
}
.popup {
    height: 350px;
    background-color: #ededed;
    margin-top: 10px;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 280px;
}
.news h2 {
    font-size: 18px;
    background-color: #77bc82;
    color: #fff;
    padding: 3px 6px;
    display: inline-block;
    margin-bottom: 10px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.news ul li a:hover {
    color: #77bc82;
    text-decoration: underline;
}
.gall {
    width: 280px;
}
.gall h2 {
    font-size: 18px;
    background-color: #77bc82;
    color: #fff;
    padding: 3px 6px;
    display: inline-block;
    margin-bottom: 10px;
}
.gall ul {
    display: flex;
    justify-content: space-between;
}
.gall ul li a:hover {
    opacity: 0.5;
}
.link {
    width: 200px;
}
.layer_popup {
    position: absolute;
    left: 900px;
    top: 300px;
    width: 400px;
    z-index: 200;
    background-color: #b3e5bd;
    padding: 20px 40px;
}
.layer_popup h2 {
    font-size: 22px;
}
.layer_popup p {
    font-size: 16px;
    padding: 15px 0;
}
.layer_popup button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    padding: 3px 6px;
    font-size: 15px;
    
}
footer {
    background-color: #f7f7f7;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
footer .copy {
    margin-top: 30px;
    color: #666;
}
footer .sns {
    margin: 20px 0 10px 100px
}
footer .sns ul {
    display: flex;
}
footer .sns ul li {
    margin-right: 10px;
}
footer .sns ul li img {
    width: 30px;
}
footer .family ul {
    display: flex;
}
footer .family ul li {
    margin-right: 10px;
}