@import url(default.css);
@import url(fonts.css);
@import url(common.css);


header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    
    color: #fff;
}
header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .logo a {
    width: 284px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo_w.svg);
    content: "";
}
@media screen and (min-width:1025px) { /*1025이상 - pc버전 메뉴임*/
        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            padding: 0 21px;
            line-height: 100px;
            display: block;
            font-size: 20px;
            font-family: 'hoho';
            position: relative;
        }
        header .gnb .gnb_wrap ul.depth1 > li:has(.depth2) > a::after {
            position: absolute;
            right: 7px;
            top: 43px;
            width: 10px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.072' height='4.195' viewBox='0 0 7.072 4.195'%3E%3Cpath id='keyboard_arrow_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M257.386-621.955l3.536-3.536-.659-.659-2.877,2.877-2.877-2.877-.659.659Z' transform='translate(-253.85 626.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
        }
        header .gnb .gnb_wrap ul.depth2 {
            display: none;
            position: absolute;
            left: 50%;
            top: 100px;
            padding: 10px 0 0 0;
            text-align: center;
            transform: translate(-50%, 0); /* li를 기준으로 해서 가운데 (left:50%)에서 오른쪽으로 늘어남
                                              그 ul의 길이만큼 왼쪽으로 절반만 이동 */
        }
        header .gnb .gnb_wrap ul.depth2::before {
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            height: calc(100% - 10px);
        }
        header .gnb .gnb_wrap ul.depth2 > li > a {
            display: block;
            color: #fff;
            white-space: nowrap;
            line-height: 2;
            padding: 0 17px;
        }
        header .gnb .gnb_wrap ul.depth1 > li.on > a { /* 1차 메뉴에 오버해서 하위메뉴가 나타나는 스타일*/
            color: #E84F4B;
        }
        header .gnb .gnb_wrap ul.depth1 > li.on:has(.depth2) > a::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.072' height='4.195' viewBox='0 0 7.072 4.195'%3E%3Cpath id='keyboard_arrow_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M257.386-621.955l3.536-3.536-.659-.659-2.877,2.877-2.877-2.877-.659.659Z' transform='translate(260.922 -621.955) rotate(180)' fill='%23e84f4b'/%3E%3C/svg%3E%0A");
            width: 10px;
            height: 10px;
        }
        header .gnb .gnb_wrap ul.depth1 > li.on > ul.depth2 {
            display: block;
        }
}   
    
header .tnb {
    display: flex;
    gap: 10px;
} 
header .tnb .search {
    width: 92px;
    height: 29px;
    border: 1px solid #fff;
    border-radius: 15px; /* 좌우 라운드를 많이 줄때 높이의 절반을 줌 (동그라미는 50%) */
}
header .tnb .btn_open {
    display: none;
}
header .tnb .search .search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 13px 0 14px;
}
header .tnb .search .search_box label {
    display: none;
}
header .tnb .search .search_box input[type="text"] {
    width: calc(100% - 33px);
    height: 28px;
    border: 0;
    background-color: transparent;
    outline: 0; /*focus되었을때 테두리*/
}
header .tnb .search .search_box input[type="text"]::placeholder {
    color: rgba(255,255,255,0.5);
}
header .tnb .search .search_box input[type="submit"] {
    width: 17px;
    height: 17px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Cpath id='search_24dp_FILL0_wght400_GRAD0_opsz24' d='M126.287-827.425a6.069,6.069,0,0,1-4.462-1.825A6.074,6.074,0,0,1,120-833.712a6.068,6.068,0,0,1,1.826-4.462A6.07,6.07,0,0,1,126.287-840a6.07,6.07,0,0,1,4.462,1.826,6.068,6.068,0,0,1,1.826,4.462,5.89,5.89,0,0,1-.339,2.006,5.764,5.764,0,0,1-.919,1.669l5.417,5.417a.916.916,0,0,1,.266.676.92.92,0,0,1-.266.678.917.917,0,0,1-.677.266.916.916,0,0,1-.677-.266l-5.417-5.417a5.775,5.775,0,0,1-1.669.92A5.919,5.919,0,0,1,126.287-827.425Zm0-1.935a4.2,4.2,0,0,0,3.083-1.269,4.2,4.2,0,0,0,1.269-3.083,4.2,4.2,0,0,0-1.269-3.084,4.2,4.2,0,0,0-3.083-1.269A4.2,4.2,0,0,0,123.2-836.8a4.2,4.2,0,0,0-1.27,3.084,4.2,4.2,0,0,0,1.27,3.083A4.2,4.2,0,0,0,126.287-829.36Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
header .tnb .link a {
    width: 92px;
    height: 29px;
    border: 1px solid #fff;
    border-radius: 15px;
    display: block;
    padding: 5px 0 0 17px;
    position: relative;
    transition: 0.2s;
}
header .tnb .link a::after {
    position: absolute;
    right: 12px;
    top: 8px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='arrow_outward_24dp_FILL0_wght400_GRAD0_opsz24' d='M225.41-757.3l-7.078,7.078a.755.755,0,0,1-.557.219.755.755,0,0,1-.557-.219.756.756,0,0,1-.219-.557.757.757,0,0,1,.219-.558l7.078-7.077h-6.044a.769.769,0,0,1-.567-.228.77.77,0,0,1-.229-.566.774.774,0,0,1,.229-.568.774.774,0,0,1,.567-.227H226.2a.774.774,0,0,1,.567.227.772.772,0,0,1,.229.568v7.952a.768.768,0,0,1-.229.566.771.771,0,0,1-.567.228.772.772,0,0,1-.567-.228.769.769,0,0,1-.228-.566Z' transform='translate(-217 760)' fill='%23fff'/%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .link a:hover {
    border-color: #E84F4B;
    background-color: #E84F4B;
}
/* header가 상단에 고정되었을때 */
header.fixed,
header.menu_over {
    position: fixed;
}
header.fixed::before,
header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    backdrop-filter: blur(3px) brightness(0.9);
    z-index: -1;
}

@media screen and (max-width:1300px){
    header .logo a {
        width: 160px;
    }
}
@media screen and (max-width:1024px){
    /* 모바일 메뉴 스타일 */
    header .gnb .gnb_wrap {
        display: none;
    }
    header .gnb .gnb_open {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 62px;
        height: 100%; /* header 높이만큼 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 31px;
        height: 21px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.979' height='20.536' viewBox='0 0 30.979 20.536'%3E%3Cpath id='menu_24dp_FILL0_wght300_GRAD0_opsz24' d='M141.366-684.845a1.331,1.331,0,0,1-.974-.393,1.326,1.326,0,0,1-.392-.974,1.326,1.326,0,0,1,.392-.974,1.32,1.32,0,0,1,.974-.389h28.247a1.317,1.317,0,0,1,.974.389,1.333,1.333,0,0,1,.393.976,1.324,1.324,0,0,1-.393.972,1.328,1.328,0,0,1-.974.393Zm0-8.9a1.338,1.338,0,0,1-.974-.393,1.332,1.332,0,0,1-.392-.974,1.334,1.334,0,0,1,.392-.976,1.339,1.339,0,0,1,.974-.393h28.247a1.336,1.336,0,0,1,.974.393,1.333,1.333,0,0,1,.393.976,1.328,1.328,0,0,1-.393.974,1.336,1.336,0,0,1-.974.393Zm0-8.9a1.307,1.307,0,0,1-.974-.393,1.326,1.326,0,0,1-.392-.974,1.329,1.329,0,0,1,.392-.974,1.339,1.339,0,0,1,.974-.393h28.247a1.336,1.336,0,0,1,.974.393,1.332,1.332,0,0,1,.393.974,1.325,1.325,0,0,1-.393.974,1.3,1.3,0,0,1-.974.393Z' transform='translate(-140 705.381)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb_close {
        display: none;
    }
    header .tnb {
        margin: 0 45px 0 0;
    }
}
@media screen and (max-width:768px){ 
    header .wrapper {
        height: 45px;
    }
    header .tnb .btn_open {
        display: block;
        width: 18px;
        height: 18px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .tnb .btn_open::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='search_24dp_FILL0_wght400_GRAD0_opsz24' d='M125.548-828.906a5.352,5.352,0,0,1-3.937-1.609A5.357,5.357,0,0,1,120-834.451a5.35,5.35,0,0,1,1.611-3.938A5.354,5.354,0,0,1,125.548-840a5.355,5.355,0,0,1,3.937,1.611,5.352,5.352,0,0,1,1.611,3.938,5.205,5.205,0,0,1-.3,1.77,5.1,5.1,0,0,1-.811,1.472l4.779,4.778a.816.816,0,0,1,.235.6.816.816,0,0,1-.235.6.81.81,0,0,1-.6.234.811.811,0,0,1-.6-.234l-4.779-4.78a5.168,5.168,0,0,1-1.472.813A5.233,5.233,0,0,1,125.548-828.906Zm0-1.707a3.7,3.7,0,0,0,2.721-1.121,3.7,3.7,0,0,0,1.12-2.717,3.7,3.7,0,0,0-1.12-2.722,3.7,3.7,0,0,0-2.721-1.121,3.7,3.7,0,0,0-2.721,1.121,3.7,3.7,0,0,0-1.12,2.722,3.7,3.7,0,0,0,1.12,2.717A3.7,3.7,0,0,0,125.548-830.613Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .search {
        display: none;
    }
    header .tnb .link {
        display: none;
    }
    header .gnb .gnb_open::before {
        width: 24px;
        height: 21px;
    }
}

.visual {
    position: relative;
}
.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual ul li .wrapper {
    height: 1050px;
    padding-bottom: 166px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual ul li.bg1 {
    background-image: url(../images/visual1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/visual4.png);
}
.visual ul li.bg5 {
    background-image: url(../images/visual5.png);
}
.visual ul li h3 {
    font-family: 'hoho';
    font-size: 70px;
    line-height: 1.1;
    padding: 0 0 15px 0;
}
.visual ul li p {
    font-size: 20px;
}
.visual {
    position: relative;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%; /* 정렬의 기준= swiper 넓이의 왼쪽 절반부터 시작됨 */
    transform: translate(-50%, 0); /* btn_wrap 나 자신의 넓이의 절반만큼 왼쪽으로 이동 -50% */
    bottom: 69px;
    z-index: 10;
    display: flex;
    gap: 15px;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    position: relative;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* 감싸는 요소 button 사이즈를 기준으로 100%*/
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='expand_circle_right_24dp_FILL0_wght200_GRAD0_opsz24' d='M137.311-825l-5.125,5.125,1.148,1.189L139.647-825l-6.314-6.314-1.148,1.189Zm-2.305,15a14.619,14.619,0,0,1-5.85-1.181,15.16,15.16,0,0,1-4.765-3.2,15.136,15.136,0,0,1-3.208-4.761A14.586,14.586,0,0,1,120-824.995a14.619,14.619,0,0,1,1.181-5.85,15.161,15.161,0,0,1,3.205-4.765,15.136,15.136,0,0,1,4.761-3.208A14.588,14.588,0,0,1,134.995-840a14.617,14.617,0,0,1,5.85,1.181,15.158,15.158,0,0,1,4.765,3.2,15.135,15.135,0,0,1,3.208,4.761A14.586,14.586,0,0,1,150-825.005a14.619,14.619,0,0,1-1.181,5.85,15.161,15.161,0,0,1-3.2,4.765,15.135,15.135,0,0,1-4.761,3.208A14.586,14.586,0,0,1,135.005-810ZM135-811.667a12.868,12.868,0,0,0,9.458-3.875A12.868,12.868,0,0,0,148.333-825a12.868,12.868,0,0,0-3.875-9.458A12.869,12.869,0,0,0,135-838.333a12.869,12.869,0,0,0-9.458,3.875A12.868,12.868,0,0,0,121.667-825a12.868,12.868,0,0,0,3.875,9.458A12.868,12.868,0,0,0,135-811.667ZM135-825Z' transform='translate(150 -810) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='expand_circle_right_24dp_FILL0_wght200_GRAD0_opsz24' d='M137.311-825l-5.125,5.125,1.148,1.189L139.647-825l-6.314-6.314-1.148,1.189Zm-2.305,15a14.619,14.619,0,0,1-5.85-1.181,15.16,15.16,0,0,1-4.765-3.2,15.136,15.136,0,0,1-3.208-4.761A14.586,14.586,0,0,1,120-824.995a14.619,14.619,0,0,1,1.181-5.85,15.161,15.161,0,0,1,3.205-4.765,15.136,15.136,0,0,1,4.761-3.208A14.588,14.588,0,0,1,134.995-840a14.617,14.617,0,0,1,5.85,1.181,15.158,15.158,0,0,1,4.765,3.2,15.135,15.135,0,0,1,3.208,4.761A14.586,14.586,0,0,1,150-825.005a14.619,14.619,0,0,1-1.181,5.85,15.161,15.161,0,0,1-3.2,4.765,15.135,15.135,0,0,1-4.761,3.208A14.586,14.586,0,0,1,135.005-810ZM135-811.667a12.868,12.868,0,0,0,9.458-3.875A12.868,12.868,0,0,0,148.333-825a12.868,12.868,0,0,0-3.875-9.458A12.869,12.869,0,0,0,135-838.333a12.869,12.869,0,0,0-9.458,3.875A12.868,12.868,0,0,0,121.667-825a12.868,12.868,0,0,0,3.875,9.458A12.868,12.868,0,0,0,135-811.667ZM135-825Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='pause_circle_24dp_FILL0_wght200_GRAD0_opsz24' d='M131.346-819.167h1.667v-11.667h-1.667Zm5.641,0h1.667v-11.667h-1.667ZM135.005-810a14.619,14.619,0,0,1-5.85-1.181,15.16,15.16,0,0,1-4.765-3.205,15.135,15.135,0,0,1-3.208-4.761A14.587,14.587,0,0,1,120-824.995a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.205-4.765,15.136,15.136,0,0,1,4.761-3.208A14.587,14.587,0,0,1,134.995-840a14.619,14.619,0,0,1,5.85,1.181,15.16,15.16,0,0,1,4.765,3.205,15.135,15.135,0,0,1,3.208,4.761A14.587,14.587,0,0,1,150-825.005a14.62,14.62,0,0,1-1.181,5.85,15.16,15.16,0,0,1-3.205,4.765,15.136,15.136,0,0,1-4.761,3.208A14.587,14.587,0,0,1,135.005-810ZM135-811.667a12.868,12.868,0,0,0,9.458-3.875A12.868,12.868,0,0,0,148.333-825a12.868,12.868,0,0,0-3.875-9.458A12.868,12.868,0,0,0,135-838.333a12.868,12.868,0,0,0-9.458,3.875A12.868,12.868,0,0,0,121.667-825a12.868,12.868,0,0,0,3.875,9.458A12.868,12.868,0,0,0,135-811.667ZM135-825Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='play_circle_24dp_FILL0_wght200_GRAD0_opsz24' d='M131.667-819.038,140.962-825l-9.295-5.962ZM135.005-810a14.619,14.619,0,0,1-5.85-1.181,15.16,15.16,0,0,1-4.765-3.205,15.135,15.135,0,0,1-3.208-4.761A14.587,14.587,0,0,1,120-824.995a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.205-4.765,15.136,15.136,0,0,1,4.761-3.208A14.587,14.587,0,0,1,134.995-840a14.619,14.619,0,0,1,5.85,1.181,15.16,15.16,0,0,1,4.765,3.205,15.135,15.135,0,0,1,3.208,4.761A14.587,14.587,0,0,1,150-825.005a14.62,14.62,0,0,1-1.181,5.85,15.16,15.16,0,0,1-3.205,4.765,15.136,15.136,0,0,1-4.761,3.208A14.587,14.587,0,0,1,135.005-810ZM135-811.667a12.868,12.868,0,0,0,9.458-3.875A12.868,12.868,0,0,0,148.333-825a12.868,12.868,0,0,0-3.875-9.458A12.868,12.868,0,0,0,135-838.333a12.868,12.868,0,0,0-9.458,3.875A12.868,12.868,0,0,0,121.667-825a12.868,12.868,0,0,0,3.875,9.458A12.868,12.868,0,0,0,135-811.667ZM135-825Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;
}
.visual .slogan {
    position: absolute;
    right: 3%;
    bottom: 0;
    transform: translate(0, 50%);
    width: 15vw; /*브라우저의 넓이에 맞춰서 들어감*/
    z-index: 10;
    /* mix-blend-mode: difference;
    filter: invert(1);  = 흰색 배경일때만 나옴 */ 
    
}
.visual .slogan img {
    width: 100%;
    animation-name: slogan_rotate; /*애니메이션 호출*/
    animation-duration: 5s; /* 1번 도는 회전 시간 */
    animation-iteration-count: infinite; /* 도는것 반복 횟수 : 영원히*/
    animation-timing-function: linear; /* 가속도가 기본값이라 기본 가속도를 삭제하는 값 */
}
@keyframes slogan_rotate { /*애니메이션을 정의한것*/
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@media screen and (max-width:768px){ 
    
}


@media screen and (max-width:1024px){
    .visual ul li .wrapper {
        height: 750px;
        padding-bottom: 135px;
    }
    .visual ul li h3 {
        font-size: 40px;
        padding: 0 0 10px 0;
    }
    .visual ul li p {
        font-size: 20px;
    }
}
@media screen and (max-width:768px){
    .visual ul li .wrapper {
        height: 600px;
    }
    .visual .btn_wrap {
        display: none;
    }
    
    .visual ul li h3 {
        font-size: 30px;
        padding: 0 0 10px 0;
    }
    .visual ul li p {
        font-size: 15px;
    }
}
@media screen and (max-width:640px){
    .visual ul li .wrapper {
        height: 318px;
        padding-bottom: 19px;
    }
    .visual ul li h3 {
        font-size: 19px;
        padding: 0 0 6px 0;
    }
    .visual ul li p {
        font-size: 12px;
    }
}

.find {
    background-color: #345997;
    color: #fff;
    padding: 163px 0 151px 0;
}
.find h2 {
    font-size: 70px;
    font-family: 'hoho';
    text-align: center;
    margin: 0 0 20px 0;
}
.find .tab > ul > li .tab_menu {
    font-size: 25px;
    font-family: 'hoho';
    padding: 6px 24px 6px 24px;
}
.find .tab > ul > li.find01.on .tab_menu {
    background-color: #237D26;
    border-radius: 30px;
}
.find .tab > ul > li.find02.on .tab_menu {
    background-color: #E84F4B;
    border-radius: 30px;
}
.find .tab .tab_detail ul li {
    width: 297px;
}
.find .tab .tab_detail .btn_wrap {
    margin: 90px 0 0 0;
    display: flex;
    justify-content: center;
}
.find .tab .tab_detail .btn_wrap button {
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    margin-right: 7px;
    position: relative;
}
.find .tab .tab_detail .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 13px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.find .tab .tab_detail .btn_wrap button:hover {
    border-color: #2d2d2d;
    background-color: #2d2d2d;
}
.find .tab .tab_detail .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.969' height='13.434' viewBox='0 0 7.969 13.434'%3E%3Cpath id='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24_2_' data-name='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24 (2)' d='M336.354-699.433l5.465-5.465-1.252-1.252-6.717,6.717,6.717,6.717,1.252-1.252Z' transform='translate(-333.85 706.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.969' height='13.434' viewBox='0 0 7.969 13.434'%3E%3Cpath id='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24_2_' data-name='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24 (2)' d='M339.315-699.433,333.85-704.9l1.252-1.252,6.717,6.717-6.717,6.717-1.252-1.252Z' transform='translate(-333.85 706.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.find .tab .tab_detail .btn_wrap .more {
    width: 99px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 0 0 14px;
    position: relative;
}
.find .tab .tab_detail .btn_wrap .more::after {
    position: absolute;
    left: 74px;
    top: 9px;
    width: 11px;
    height: 11px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.423-734.423H220v-1.154h4.423V-740h1.154v4.423H230v1.154h-4.423V-730h-1.154Z' transform='translate(-220 740)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap .more:hover {
    border-color: #2d2d2d;
    color: #fff;
    background-color: #2d2d2d;
}
/* 탭메뉴 구현 = 하나의 li에만 on 클래스가 들어가 있음*/
.find .tab {
    position: relative;
}
.find .tab > ul > li .tab_menu {
    position: absolute;
    top: 0;
}
.find .tab > ul > li.find01 .tab_menu {
    right: 50%;
}
.find .tab > ul > li.find02 .tab_menu {
    left: 50%;
}
.find .tab > ul > li .tab_detail {
    display: none;
    padding: 105px 0 0 0;
}
.find .tab > ul > li.on .tab_detail {
    display: block;
}
@media screen and (max-width:768px){ 
    .find .tab > ul > li .tab_detail {
        padding: 46px 0 0 0;
    }
}

@media screen and (max-width:768px){ 
    .find .tab .tab_detail ul li {
        width: 208px;
    }
    .find {
        padding: 44px 0 45px 0;
    }
    .find .tab .tab_detail .btn_wrap {
        margin: 59px 0 0 0;
    }
    .find .tab .tab_detail .btn_wrap button {
        display: none;
    }
    .find .tab .tab_detail .btn_wrap .more {
        width: 87px;
        height: 24px;
        line-height: 24px;
        padding: 0 0 0 13px;
    }
    .find .tab .tab_detail .btn_wrap .more::after {
        left: 66px;
        top: 6px;
    }
}

.find .tab .tab_detail ul li a {
    display: block;
}
.find .tab .tab_detail ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 20px;
}
.find .tab .tab_detail ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.find .tab .tab_detail ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.find .tab .tab_detail ul li a .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 15px 0;
    font-family: 'hoho';
    font-size: 20px;
}
.find .tab .tab_detail ul li a .tit strong {
    width: 4.3em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    border-radius: 1em;
    white-space: nowrap;
}
.find .tab .tab_detail ul li a .tit strong.cate01 {
    background-color: #237D26;
}
.find .tab .tab_detail ul li a .tit strong.cate02 {
    background-color: #AAAAAA;
}
.find .tab .tab_detail ul li a .tit strong.cate03 {
    background-color: #E84F4B;
}
.find .tab .tab_detail ul li a .tit strong.cate04 {
    background-color: #DB70AB;
}
.find .tab .tab_detail ul li a .tit h3 {
    width: calc(100% - 4.8em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /*한줄제한*/
}
.find .tab .tab_detail ul li a h3 {
    font-family: 'Pretendard';
}
.find .tab .tab_detail ul li a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /*한줄제한*/
}
@media screen and (max-width:768px){ 
    .find .tab .tab_detail ul li a .tit {
        font-size: 15px;
        margin: 17px 0 12px 0;
    }
    .find h2 {
        font-size: 20px;
    }
    .find .tab > ul > li .tab_menu {
        font-size: 15px;
        padding: 5px 14px;
    }
} 

.campaign {
    margin: 201px 0 152px 0;
    text-align: center;
}
.campaign h2 {
    display: none;
}
.campaign p {
    font-size: 70px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.6;
}
.campaign p span {
    display: inline-block;
}
.campaign p .cam01 {
    width: 2.1em; /* 아이콘 너비 140 나누기 글자크기 70*/
    height: 0.5em;
    position: relative;
}
.campaign p .cam01::before {
    position: absolute;
    left: 0;
    top: 16%;
    transform: translate(0, -50%);
    width: 100%;
    height: 91px;
    background: url(../images/campaign01.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam02 {
    width: 1.5em;
    height: 0.5em;
    position: relative;
}
.campaign p .cam02::before {
    position: absolute;
    left: 0;
    top: 34%;
    transform: translate(0, -50%);
    width: 100%;
    height: 86px;
    background: url(../images/campaign02.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam03 {
    width: 1.3em;
    height: 0.5em;
    position: relative;
}
.campaign p .cam03::before {
    position: absolute;
    left: 0;
    top: 32%;
    transform: translate(0, -50%);
    width: 100%;
    height: 115px;
    background: url(../images/campaign03.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam04 {
    width: 1.7em;
    height: 0.5em;
    position: relative;
}
.campaign p .cam04::before {
    position: absolute;
    left: 0;
    top: 24%;
    transform: translate(0, -50%);
    width: 100%;
    height: 117px;
    background: url(../images/campaign04.svg) no-repeat center center / contain;
    content: "";
}
.campaign strong {
    font-weight: 700;
    margin: 60px 0 0 0;
    display: block;
    color: #AAAAAA;
}
@media screen and (max-width:1024px){ 
   
    .campaign p {
        font-size: 60px;
    }
}
@media screen and (max-width:768px){ 
    .campaign {
        margin: 61px 0 49px 0;
    }
    .campaign p {
        font-size: 45px;
    }
    .campaign p br {
        display: none;
    }
}
@media screen and (max-width:360px){ 
    .campaign p {
        font-size: 25px;
    }
    .campaign strong {
        font-size: 11px;
    }
}
.family {
    background-color: #237D26;
    color: #fff;
    padding: 65px 0 279px 0;
    text-align: center;
    position: relative;
}
.family h2 {
    font-family: 'hoho';
    font-size: 70px;
    margin: 0 0 52px 0;
}
.family .list ul li {
    width: 297px;
}
.family .list ul li a {
    display: block;
    position: relative;
}
.family .list ul li a .photo {
    overflow: hidden;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
.family .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.family .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.family .list ul li a strong {
    position: absolute;
    left: 15%;
    bottom: 2.05em; /* 여백 41 나누기 글자크기 20 */
    font-size: 20px;
    font-family: 'hoho';
    width: 2.95em; /* 동그라미넓이 59 나누기 글자크기 20*/
    height: 2.95em;
    line-height: 2.95em;
    border-radius: 50%;
    text-align: center;
    content: "";
}
.family .list ul li a strong.cate01 {
    background-color: #345997;
}
.family .list ul li a strong.cate02 {
    background-color: #E84F4B;
}
.family .list ul li a p {
    margin-top: 14px;
    color: #FDE76E;
    font-weight: 700;
}

.family .list .btn_wrap {
    margin: 90px 0 0 0;
    display: flex;
    justify-content: center;
}
.family .list .btn_wrap button {
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    margin-right: 7px;
    position: relative;
}
.family .list .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 13px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.family .list .btn_wrap button:hover {
    border-color: #2d2d2d;
    background-color: #2d2d2d;
}
.family .list .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.969' height='13.434' viewBox='0 0 7.969 13.434'%3E%3Cpath id='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24_2_' data-name='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24 (2)' d='M336.354-699.433l5.465-5.465-1.252-1.252-6.717,6.717,6.717,6.717,1.252-1.252Z' transform='translate(-333.85 706.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.family .list .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.969' height='13.434' viewBox='0 0 7.969 13.434'%3E%3Cpath id='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24_2_' data-name='chevron_right_24dp_FILL0_wght300_GRAD0_opsz24 (2)' d='M339.315-699.433,333.85-704.9l1.252-1.252,6.717,6.717-6.717,6.717-1.252-1.252Z' transform='translate(-333.85 706.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.family .list .btn_wrap .more {
    width: 99px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 0 0 14px;
    position: relative;
    text-align: left;
}
.family .list .btn_wrap .more::after {
    position: absolute;
    left: 74px;
    top: 9px;
    width: 11px;
    height: 11px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.423-734.423H220v-1.154h4.423V-740h1.154v4.423H230v1.154h-4.423V-730h-1.154Z' transform='translate(-220 740)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.family .list .btn_wrap .more:hover {
    border-color: #2d2d2d;
    color: #fff;
    background-color: #2d2d2d;
}
.family .slogan {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 200px;
    font-weight: 700;
    line-height: 1.19;
    /* 글자를 선만 표시하는것 : webkit (일부 브라우저에서는 적용 안될 수 있음) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255,255,255,0.2);
    color: transparent; /*글자색은 투명으로*/
    white-space: nowrap; /* 줄바꿈 금지 */
}
.family .slogan p { /* p태그는 진짜 글자가 들어간 만큼의 넓이를 가져야함
                       position:absolute를 줘야함 */
    /* transform: translate(-25%, 0); */
    position: absolute;
    left: 0;
    bottom: 0;
    animation-name: slogan_move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slogan_move {
    0%{ transform: translate(0,0); }
    100%{ transform: translate(-25%, 0); }
}

@media screen and (max-width:768px){ 
    .family {
        padding: 66px 0 142px 0;
    }
    .family h2 {
        font-size: 50px;
        margin: 0 0 35px 0;
    }
    .family .list ul li {
        width: 184px;
    }
    .family .list ul li a strong {
        font-size: 15px;
        left: -2%;
        bottom: 4.05em;
    }
    .family .slogan {
        font-size: 80px;
        margin: 65px 0 11px 0;
    }
}
@media screen and (max-width:360px){ 
    .family h2 {
        font-size: 19px;
        margin: 0 0 21px 0;
    }
    .family .list ul li a strong {
        font-size: 13px;
    }
}
@media screen and (max-width:768px){ 
    .find .tab > ul > li .tab_detail {
        padding: 46px 0 0 0;
    }
    .find .tab .tab_detail ul li {
        width: 208px;
    }
    .find {
        padding: 44px 0 45px 0;
    }
    .family .list  .btn_wrap {
        margin: 32px 0 0 0;
    }
    .family .list  .btn_wrap button {
        display: none;
    }
    .family .list  .btn_wrap .more {
        width: 87px;
        height: 24px;
        line-height: 24px;
        padding: 0 0 0 13px;
    }
    .family .list  .btn_wrap .more::after {
        left: 66px;
        top: 6px;
    }
}


footer {
    background-color: #2e2e2e;
    color: rgba(255,255,255,0.8);
    padding: 100px 0 110px 0;
}
footer .wrapper {
    position: relative;
}
footer .sns {
    position: absolute;
    right: 0;
    bottom: 0;
}
footer .sns ul {
    display: flex;
    gap: 13.7px;
}
footer .sns ul li a {
    width: 29px;
    height: 29px;
    background-color: #fff;
    border-radius: 20%;
    display: block;
    font-size: 0;
    line-height: 0;
    position: relative;
}
footer .sns ul li a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
footer .sns ul li.twitter a::before {
    width: 24px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.599' height='12.838' viewBox='0 0 15.599 12.838'%3E%3Cpath id='패스_301' data-name='패스 301' d='M24.061,11.674a6.411,6.411,0,0,1-1.578.45c.254-.043.626-.5.776-.687a2.9,2.9,0,0,0,.524-.955c.014-.027.023-.062,0-.083a.089.089,0,0,0-.083.007,8.076,8.076,0,0,1-1.871.716.125.125,0,0,1-.128-.035,1.471,1.471,0,0,0-.164-.167,3.311,3.311,0,0,0-.906-.556,3.151,3.151,0,0,0-1.39-.223,3.325,3.325,0,0,0-1.318.372,3.393,3.393,0,0,0-1.063.869,3.266,3.266,0,0,0-.635,1.273A3.419,3.419,0,0,0,16.187,14c.01.075,0,.086-.065.075A9.989,9.989,0,0,1,9.7,10.8c-.075-.086-.116-.086-.177.006a3.258,3.258,0,0,0,.556,3.85c.126.12.255.239.4.348a3.281,3.281,0,0,1-1.24-.348c-.075-.047-.112-.02-.119.065a1.937,1.937,0,0,0,.02.369,3.3,3.3,0,0,0,2.031,2.627,1.925,1.925,0,0,0,.412.126,3.678,3.678,0,0,1-1.216.038c-.088-.017-.122.027-.088.112a3.421,3.421,0,0,0,2.556,2.14c.116.02.231.02.348.047-.007.01-.014.01-.021.021a4.047,4.047,0,0,1-1.745.925,6.243,6.243,0,0,1-2.651.339c-.142-.021-.173-.019-.211,0s0,.059.041.1c.181.119.365.225.552.327a8.72,8.72,0,0,0,1.771.709,9.436,9.436,0,0,0,9.162-2.142,9.612,9.612,0,0,0,2.536-7.014c0-.1.119-.156.189-.21a6.182,6.182,0,0,0,1.247-1.3.393.393,0,0,0,.083-.248v-.014c0-.041,0-.029-.064,0' transform='translate(-8.527 -10.135)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.naver a::before {
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.381' height='13.223' viewBox='0 0 14.381 13.223'%3E%3Cpath id='패스_303' data-name='패스 303' d='M42.427,30.274V43.5H37.6l-4.729-6.656V43.5H28.045V30.274h4.826L37.6,37.2V30.274Z' transform='translate(-28.045 -30.274)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.facebook a::before {
    width: 19px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.235' height='23.193' viewBox='0 0 12.235 23.193'%3E%3Cpath id='패스_299' data-name='패스 299' d='M14.357,12.742v3.15H10.726v4.135h3.631V30.371h4.469V20.027h3.333l.634-4.135H18.826V13.21a2.067,2.067,0,0,1,2.331-2.234h1.8V7.457a22.058,22.058,0,0,0-3.2-.279c-3.267,0-5.4,1.979-5.4,5.564' transform='translate(-10.726 -7.178)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
footer .sns ul li.instargram a::before {
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.768' height='16.769' viewBox='0 0 16.768 16.769'%3E%3Cpath id='패스_305' data-name='패스 305' d='M23.321,11.355a.983.983,0,1,0,.983.983.983.983,0,0,0-.983-.983' transform='translate(-10.497 -8.361)' fill='%232d2d2d'/%3E%3Cpath id='패스_306' data-name='패스 306' d='M17.1,12.926a4.13,4.13,0,1,0,4.13,4.129,4.134,4.134,0,0,0-4.13-4.129m0,6.775a2.645,2.645,0,1,1,2.645-2.645A2.648,2.648,0,0,1,17.1,19.7' transform='translate(-8.651 -8.671)' fill='%232d2d2d'/%3E%3Cpath id='패스_307' data-name='패스 307' d='M19.321,24.395H12.626A5.042,5.042,0,0,1,7.59,19.358V12.663a5.042,5.042,0,0,1,5.036-5.037h6.694a5.042,5.042,0,0,1,5.037,5.037v6.694a5.042,5.042,0,0,1-5.037,5.037M12.626,9.2a3.463,3.463,0,0,0-3.46,3.46v6.694a3.463,3.463,0,0,0,3.46,3.46h6.694a3.463,3.463,0,0,0,3.46-3.46V12.663a3.463,3.463,0,0,0-3.46-3.46Z' transform='translate(-7.59 -7.626)' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
}
footer .f_nav ul {
    margin: 0 0 28px 0;
    display: flex;
    gap: 37px;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after{
    position: absolute;
    right: -18px;
    top: 4px;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_nav ul li:last-child:after{
    display: none;
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
}
footer .family_site button {
    display: none;
}
footer .family_site .list ul li a {
    text-align: right;
    display: block;
    line-height: 2;
}
footer .family_site .list ul li a span {
    padding-right: 17px; /*아이콘이 들어갈 자리를 만들어줆*/
    position: relative;

}
footer .family_site .list ul li a span::after {
    position: absolute;
    right: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='arrow_outward_24dp_FILL0_wght400_GRAD0_opsz24' d='M225.41-757.3l-7.078,7.078a.755.755,0,0,1-.557.219.755.755,0,0,1-.557-.219.756.756,0,0,1-.219-.557.757.757,0,0,1,.219-.558l7.078-7.077h-6.044a.769.769,0,0,1-.567-.228.77.77,0,0,1-.229-.566.774.774,0,0,1,.229-.568.774.774,0,0,1,.567-.227H226.2a.774.774,0,0,1,.567.227.772.772,0,0,1,.229.568v7.952a.768.768,0,0,1-.229.566.771.771,0,0,1-.567.228.772.772,0,0,1-.567-.228.769.769,0,0,1-.228-.566Z' transform='translate(-217 760)' fill='%23fff'/%3E%3C/svg%3E%0A");
    content: "";

}
footer .copyright {
    padding: 23px 0 0 0;
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width:768px){ 
    footer {
        padding: 43px 0 52px 0;
    }
    footer .sns {
        position: relative;
        right: auto;
        bottom: auto;
    }
    footer .sns ul {
        gap: 11px;
        justify-content: center;
    }
    footer .sns ul li a {
        width: 24px;
        height: 24px;
    }
    footer .sns ul li.twitter a::before {
        width: 16px;
        height: 14px;
    }
    footer .sns ul li.naver a::before {
        width: 12px;
        height: 11px;
    }
    footer .sns ul li.facebook a::before {
        width: 10px;
        height: 18px;
    }
    footer .sns ul li.instargram a::before {
        width: 14px;
        height: 14px;
    }
    footer .f_nav {
        margin: 23px 0 42px 0;
    }
    footer .f_nav ul {
        margin: 0 0 10px 0;
        flex-wrap: wrap; /* 여러줄 허용 */
        gap: 0;
        justify-content: center;
    }
    footer .f_nav ul li {
        margin: 0 31px 0 0;
    }
    footer .f_nav ul li::after{
        right: -18px;
        top: 4px;
        width: 1px;
        height: 10px;
        background-color: rgba(255,255,255,0.2);
        content: "";
    }
    footer .f_nav ul li:last-child:after{
        display: none;
    }
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        max-width: 400px;
        margin: 0 auto; /* 가운데 정렬 */
    }
    footer .family_site button.open {
        display: block;
    }
    footer .family_site button {
        width: 100%;
        height: 46px;
        background-color: #393939;
        border-radius: 13px;
        text-align: left;
        padding: 0 0 0 24px;
        position: relative;
    }
    footer .family_site button::after {
        position: absolute;
        right: 19px;
        top: 17px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
    }
    footer .family_site button.open::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.423-734.423H220v-1.154h4.423V-740h1.154v4.423H230v1.154h-4.423V-730h-1.154Z' transform='translate(-220 740)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
    }
    footer .family_site button.close::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='1.154' viewBox='0 0 10 1.154'%3E%3Cpath id='remove_24dp_5F6368_FILL0_wght300_GRAD0_opsz24' d='M220-508.846V-510h10v1.154Z' transform='translate(-220 510)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
    }
    footer .family_site .list {
        display: none;
        position: absolute;
        left: 0;
        bottom: 47px;
        width: 100%;
        background-color: #393939;
        border-radius: 13px;
        padding: 12px 24px 0 24px;
    }
    footer .family_site .list ul li a {
        text-align: left;
        line-height: 2.8;
    }
    footer .family_site .list ul li a span {
        padding-right: 17px; /*아이콘이 들어갈 자리를 만들어줆*/
    }
    /* family_site가 열렸을때 */
    footer .family_site.open button.open {
        display: none;
    }
    footer .family_site.open button.close {
        display: block;
    }
    footer .family_site.open .list {
        display: block;
    }
    footer .copyright {
        padding: 42px 0 45px 0;
        color: rgba(255,255,255,0.6);
        text-align: center;
    }
}