@import url(default.css);
@import url(fonts.css);
@import url(common.css);


h2{
    font-family: 'Eulyoo1945';
    font-size: 40px;
}
p {
    font-family: 'Eulyoo1945';
    font-size: 15px;
}



header {
    height: 100px;
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .logo a {
    display: block;
    width: 210px;
    height: 36px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 배경으로 넣은 요소가 짤리면 안되는 경우 contain -- 대부분 아이콘
       배경으로 넣은 요소가 영역을 꽉 채워야하는 경우 cover - 대부분 배경이미지 */
    background: url(../images/logo_w.png) no-repeat center center / contain;
    content: "";
}
header .gnb {
    margin: 0 0 0 134px;
}
header .gnb .gnb_opne {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-size: 20px;
    padding: 38px 44px 37px 44px;
    display: block;
}
header .tnb {
    display: flex;
    align-items: center
}
header .tnb .mapage {
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .tnb .mapage::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_398' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_398)'%3E%3Cpath d='M12.9997 13C11.808 13 10.7879 12.5757 9.93926 11.7271C9.09065 10.8785 8.66634 9.85834 8.66634 8.66668C8.66634 7.47501 9.09065 6.45487 9.93926 5.60626C10.7879 4.75765 11.808 4.33334 12.9997 4.33334C14.1913 4.33334 15.2115 4.75765 16.0601 5.60626C16.9087 6.45487 17.333 7.47501 17.333 8.66668C17.333 9.85834 16.9087 10.8785 16.0601 11.7271C15.2115 12.5757 14.1913 13 12.9997 13ZM4.33301 21.6667V18.6333C4.33301 18.0195 4.49099 17.4552 4.80697 16.9406C5.12294 16.4261 5.54273 16.0333 6.06634 15.7625C7.18579 15.2028 8.32329 14.783 9.47884 14.5031C10.6344 14.2233 11.808 14.0833 12.9997 14.0833C14.1913 14.0833 15.365 14.2233 16.5205 14.5031C17.6761 14.783 18.8136 15.2028 19.933 15.7625C20.4566 16.0333 20.8764 16.4261 21.1924 16.9406C21.5084 17.4552 21.6663 18.0195 21.6663 18.6333V21.6667H4.33301ZM6.49967 19.5H19.4997V18.6333C19.4997 18.4347 19.45 18.2542 19.3507 18.0917C19.2514 17.9292 19.1205 17.8028 18.958 17.7125C17.983 17.225 16.999 16.8594 16.0059 16.6156C15.0129 16.3719 14.0108 16.25 12.9997 16.25C11.9886 16.25 10.9865 16.3719 9.99342 16.6156C9.00037 16.8594 8.01634 17.225 7.04134 17.7125C6.87884 17.8028 6.74794 17.9292 6.64863 18.0917C6.54933 18.2542 6.49967 18.4347 6.49967 18.6333V19.5ZM12.9997 10.8333C13.5955 10.8333 14.1056 10.6212 14.5299 10.1969C14.9542 9.77258 15.1663 9.26251 15.1663 8.66668C15.1663 8.07084 14.9542 7.56077 14.5299 7.13647C14.1056 6.71216 13.5955 6.50001 12.9997 6.50001C12.4038 6.50001 11.8938 6.71216 11.4695 7.13647C11.0452 7.56077 10.833 8.07084 10.833 8.66668C10.833 9.26251 11.0452 9.77258 11.4695 10.1969C11.8938 10.6212 12.4038 10.8333 12.9997 10.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .search {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_386' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_386)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
/*header가 상단에 고정되었을때 - 스크롤 되었을때*/
header.fixed {
    position: fixed; /* 꼭 body 태그로만 위치 조정됨 - 스크롤해도 위치가 고정됨 */
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url(../images/logo.png);
}
header.fixed .tnb .mapage::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_55)'%3E%3Cpath d='M13.0007 13C11.809 13 10.7888 12.5757 9.94023 11.7271C9.09162 10.8785 8.66732 9.85834 8.66732 8.66668C8.66732 7.47501 9.09162 6.45487 9.94023 5.60626C10.7888 4.75765 11.809 4.33334 13.0007 4.33334C14.1923 4.33334 15.2125 4.75765 16.0611 5.60626C16.9097 6.45487 17.334 7.47501 17.334 8.66668C17.334 9.85834 16.9097 10.8785 16.0611 11.7271C15.2125 12.5757 14.1923 13 13.0007 13ZM4.33398 21.6667V18.6333C4.33398 18.0195 4.49197 17.4552 4.80794 16.9406C5.12391 16.4261 5.54371 16.0333 6.06732 15.7625C7.18676 15.2028 8.32426 14.783 9.47982 14.5031C10.6354 14.2233 11.809 14.0833 13.0007 14.0833C14.1923 14.0833 15.3659 14.2233 16.5215 14.5031C17.677 14.783 18.8145 15.2028 19.934 15.7625C20.4576 16.0333 20.8774 16.4261 21.1934 16.9406C21.5093 17.4552 21.6673 18.0195 21.6673 18.6333V21.6667H4.33398ZM6.50065 19.5H19.5007V18.6333C19.5007 18.4347 19.451 18.2542 19.3517 18.0917C19.2524 17.9292 19.1215 17.8028 18.959 17.7125C17.984 17.225 17 16.8594 16.0069 16.6156C15.0138 16.3719 14.0118 16.25 13.0007 16.25C11.9895 16.25 10.9875 16.3719 9.9944 16.6156C9.00135 16.8594 8.01732 17.225 7.04232 17.7125C6.87982 17.8028 6.74891 17.9292 6.64961 18.0917C6.5503 18.2542 6.50065 18.4347 6.50065 18.6333V19.5ZM13.0007 10.8333C13.5965 10.8333 14.1066 10.6212 14.5309 10.1969C14.9552 9.77258 15.1673 9.26251 15.1673 8.66668C15.1673 8.07084 14.9552 7.56077 14.5309 7.13647C14.1066 6.71216 13.5965 6.50001 13.0007 6.50001C12.4048 6.50001 11.8947 6.71216 11.4704 7.13647C11.0461 7.56077 10.834 8.07084 10.834 8.66668C10.834 9.26251 11.0461 9.77258 11.4704 10.1969C11.8947 10.6212 12.4048 10.8333 13.0007 10.8333Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_58' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_58)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){ 
        header {
            height: 40px;
        }
        header .logo {
            margin: 11px 0 0 0;
        }
        header .logo a {
            width: 130px;
            height: 22px;
        }
        header .gnb {
            margin: 0 0 0 134px;
        }
        header .gnb .gnb_opne {
            display: block;
            position: absolute;
            right: 0;
            top: 5px;
            width: 20px;
            height: 20px;
            font-size: 0;
            line-height: 0;
        }
        header .gnb .gnb_opne::before {
            position: absolute;
            left: 1px;
            top: 3px;
            width: 15px;
            height: 15px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='11' y2='1' stroke='white' stroke-width='2'/%3E%3Cline y1='6' x2='11' y2='6' stroke='white' stroke-width='2'/%3E%3Cline y1='11' x2='11' y2='11' stroke='white' stroke-width='2'/%3E%3C/svg%3E ");
            content: "";
        }
        header .gnb .gnb_wrap {
            display: none;
        }
        header .gnb .gnb_wrap ul li a {
            font-size: 20px;
            padding: 38px 44px 37px 44px;
            display: block;
        }
        header .tnb {
            margin: 0 0 0 0;
        }
        header .tnb .mapage {
            display: none;
        }
        header .gnb .gnb_opne {
            display: block;
            position: absolute;
            right: 0;
            top: 5px;
            width: 20px;
            height: 20px;
            font-size: 0;
            line-height: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='11' y2='1' stroke='%231D1D1D' stroke-width='2'/%3E%3Cline y1='6' x2='11' y2='6' stroke='%231D1D1D' stroke-width='2'/%3E%3Cline y1='11' x2='11' y2='11' stroke='%231D1D1D' stroke-width='2'/%3E%3C/svg%3E ");
        }
        /*header가 상단에 고정되었을때 - 스크롤 되었을때*/
        header.fixed {
            position: fixed; /* 꼭 body 태그로만 위치 조정됨 - 스크롤해도 위치가 고정됨 */
            background-color: #fff;
            color: #1d1d1d;
        }
        header.fixed .logo a::before {
            background-image: url(../images/logo.png);
        }
        header.fixed .tnb .mapage::before {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_55)'%3E%3Cpath d='M13.0007 13C11.809 13 10.7888 12.5757 9.94023 11.7271C9.09162 10.8785 8.66732 9.85834 8.66732 8.66668C8.66732 7.47501 9.09162 6.45487 9.94023 5.60626C10.7888 4.75765 11.809 4.33334 13.0007 4.33334C14.1923 4.33334 15.2125 4.75765 16.0611 5.60626C16.9097 6.45487 17.334 7.47501 17.334 8.66668C17.334 9.85834 16.9097 10.8785 16.0611 11.7271C15.2125 12.5757 14.1923 13 13.0007 13ZM4.33398 21.6667V18.6333C4.33398 18.0195 4.49197 17.4552 4.80794 16.9406C5.12391 16.4261 5.54371 16.0333 6.06732 15.7625C7.18676 15.2028 8.32426 14.783 9.47982 14.5031C10.6354 14.2233 11.809 14.0833 13.0007 14.0833C14.1923 14.0833 15.3659 14.2233 16.5215 14.5031C17.677 14.783 18.8145 15.2028 19.934 15.7625C20.4576 16.0333 20.8774 16.4261 21.1934 16.9406C21.5093 17.4552 21.6673 18.0195 21.6673 18.6333V21.6667H4.33398ZM6.50065 19.5H19.5007V18.6333C19.5007 18.4347 19.451 18.2542 19.3517 18.0917C19.2524 17.9292 19.1215 17.8028 18.959 17.7125C17.984 17.225 17 16.8594 16.0069 16.6156C15.0138 16.3719 14.0118 16.25 13.0007 16.25C11.9895 16.25 10.9875 16.3719 9.9944 16.6156C9.00135 16.8594 8.01732 17.225 7.04232 17.7125C6.87982 17.8028 6.74891 17.9292 6.64961 18.0917C6.5503 18.2542 6.50065 18.4347 6.50065 18.6333V19.5ZM13.0007 10.8333C13.5965 10.8333 14.1066 10.6212 14.5309 10.1969C14.9552 9.77258 15.1673 9.26251 15.1673 8.66668C15.1673 8.07084 14.9552 7.56077 14.5309 7.13647C14.1066 6.71216 13.5965 6.50001 13.0007 6.50001C12.4048 6.50001 11.8947 6.71216 11.4704 7.13647C11.0461 7.56077 10.834 8.07084 10.834 8.66668C10.834 9.26251 11.0461 9.77258 11.4704 10.1969C11.8947 10.6212 12.4048 10.8333 13.0007 10.8333Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header.fixed .gnb .gnb_opne {
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='11' y2='1' stroke='%231D1D1D' stroke-width='2'/%3E%3Cline y1='6' x2='11' y2='6' stroke='%231D1D1D' stroke-width='2'/%3E%3Cline y1='11' x2='11' y2='11' stroke='%231D1D1D' stroke-width='2'/%3E%3C/svg%3E ");
        }
}

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li.pop_bg4 {
    background-image: url(../images/visual_bg4.png);
}
.visual ul li h2 {
    font-size: 70px;
    color: #fff;
    margin: 409px 0 8px 0px;
    display: block;
}
.visual ul li p {
    font-size: 20px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute;
    top: 441px;
    z-index: 10;
    width: 50px;
    height: 18px;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev::after,
.visual .btn_next::before  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.visual .btn_prev{
    left: 2%;
}
.visual .btn_next{
    right: 2%;
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='20' viewBox='0 0 52 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18.8571H50L33.3333 1' stroke='white'/%3E%3C/svg%3E%0A");
 }
 .visual .btn_prev::after {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='20' viewBox='0 0 52 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52 18.8571H2L18.6667 1' stroke='white'/%3E%3C/svg%3E%0A");
 }

 @media screen and (max-width:1400px){ 
    .visual .btn_prev,
    .visual .btn_next {
    display: none;
    }
 }
 @media screen and (max-width:640px){ 
    .visual ul li {
        height: 350px;
    }
    .visual ul li h2 {
        font-size: 30px;
        margin: 130px 0 5px 0px;
    }
    .visual ul li p {
        font-size: 13px;
    }
}

.book {
    margin: 190px 0 0 0;
}
.book .wrapper {
    position: relative;
}

.book .tit {
    float: left;
}
.book .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 0 0 6px 0;
}
.book .tit p {
    color: #3d3d3d;
    font-size: 16px;
}
.book .list {
    margin: 0 0 0 427px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.book .list ul li a strong {
    color: #878073;
    font-size: 16px;
    margin: 10px 0 11px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.book .list ul li h3 {
    font-size: 25px;
    color: #1d1d1d;
    margin: 0 0 6px 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li p {
    display: block;
    line-height: 1.3;
    height: 3.9em;

    overflow: hidden;
    text-overflow: ellipsis;
}
.book .more {
    position: absolute;
    left: 0;
    top: 102px;
}
.book .more a {
    padding: 5px 42px 4px 12px;
    border: 1px solid #4d4d4d;
    border-radius: 50px;
    display: block;
    position: relative;
}
.book .more a::after{
    position: absolute;
    content: "";
    right: 8px;
    top: 4px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_459' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_459)'%3E%3Cpath d='M5.90723 15.4166L9.78535 9.99998L5.90723 4.58331H6.92327L10.8014 9.99998L6.92327 15.4166H5.90723ZM10.7372 15.4166L14.6156 9.99998L10.7372 4.58331H11.7533L15.6316 9.99998L11.7533 15.4166H10.7372Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.book .more a:hover {
    border-color: #878073;
    background-color: #878073;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_61)'%3E%3Cpath d='M5.9082 15.4166L9.78633 9.99998L5.9082 4.58331H6.92424L10.8024 9.99998L6.92424 15.4166H5.9082ZM10.7382 15.4166L14.6165 9.99998L10.7382 4.58331H11.7542L15.6326 9.99998L11.7542 15.4166H10.7382Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
@media screen and (max-width:640px){ 
    .book {
        margin: 60px 0 0 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit h2 {
        font-size: 20px;
        margin: 0 0 9px 0;
    }
    .book .tit p {
        color: #3d3d3d;
        font-size: 16px;
        display: none;
    }
    .book .list {
        margin: 0;
        width: calc(100% + 20px); /* 오른쪽 꽉차게 보여지는*/
    }
    .book .list ul li {
        width: 115px;
    }
    .book .list ul li a strong {
        color: #878073;
        font-size: 16px;
        margin: 10px 0 11px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: none;
    }
    .book .list ul li h3 {
        font-size: 15px;
        margin: 8px 0 5px 0;
        color: #1d1d1d;
    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .book .list ul li p {
        font-size: 12px;
        display: block;
        line-height: 1.3;
        height: 2.6em;
        
    }
    .book .more {
        left: auto;
        right: 0;
        top: 0px;
    }
    .book .more a {
        padding: 0;
        border: 0;
        border-radius: 0;
        display: block;
        position: relative;
        
        font-size: 0;
        line-height: 0;
    }
    .book .more a::after{
        content: "";
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_42' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233D3D3D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_42)'%3E%3Cmask id='path-2-inside-1_16_42' fill='white'%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z'/%3E%3C/mask%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z' fill='%233D3D3D'/%3E%3Cpath d='M4.43066 11.5625L3.61758 10.9804L2.48482 12.5625H4.43066V11.5625ZM7.33926 7.5L8.15235 8.08214L8.56914 7.5L8.15235 6.91786L7.33926 7.5ZM4.43066 3.4375V2.4375H2.48482L3.61758 4.01964L4.43066 3.4375ZM5.1927 3.4375L6.00578 2.85536L5.70661 2.4375H5.1927V3.4375ZM8.10129 7.5L8.91438 8.08214L9.33117 7.5L8.91438 6.91786L8.10129 7.5ZM5.1927 11.5625V12.5625H5.70661L6.00578 12.1446L5.1927 11.5625ZM8.05316 11.5625L7.24009 10.9803L6.10726 12.5625H8.05316V11.5625ZM10.9619 7.5L11.775 8.08216L12.1918 7.5L11.775 6.91784L10.9619 7.5ZM8.05316 3.4375V2.4375H6.10726L7.24009 4.01966L8.05316 3.4375ZM8.8152 3.4375L9.62827 2.85534L9.3291 2.4375H8.8152V3.4375ZM11.7239 7.5L12.537 8.08216L12.9538 7.5L12.537 6.91784L11.7239 7.5ZM8.8152 11.5625V12.5625H9.3291L9.62827 12.1447L8.8152 11.5625ZM5.24375 12.1446L8.15235 8.08214L6.52617 6.91786L3.61758 10.9804L5.24375 12.1446ZM8.15235 6.91786L5.24375 2.85536L3.61758 4.01964L6.52617 8.08214L8.15235 6.91786ZM4.43066 4.4375H5.1927V2.4375H4.43066V4.4375ZM4.37961 4.01964L7.2882 8.08214L8.91438 6.91786L6.00578 2.85536L4.37961 4.01964ZM7.2882 6.91786L4.37961 10.9804L6.00578 12.1446L8.91438 8.08214L7.2882 6.91786ZM5.1927 10.5625H4.43066V12.5625H5.1927V10.5625ZM8.86624 12.1447L11.775 8.08216L10.1488 6.91784L7.24009 10.9803L8.86624 12.1447ZM11.775 6.91784L8.86624 2.85534L7.24009 4.01966L10.1488 8.08216L11.775 6.91784ZM8.05316 4.4375H8.8152V2.4375H8.05316V4.4375ZM8.00212 4.01966L10.9109 8.08216L12.537 6.91784L9.62827 2.85534L8.00212 4.01966ZM10.9109 6.91784L8.00212 10.9803L9.62827 12.1447L12.537 8.08216L10.9109 6.91784ZM8.8152 10.5625H8.05316V12.5625H8.8152V10.5625Z' fill='%233D3D3D' mask='url(%23path-2-inside-1_16_42)'/%3E%3C/g%3E%3C/svg%3E ");    
    }
    .book .more a:hover {
        border-color: transparent;
        background-color:transparent;
    }
    .book .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_42' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233D3D3D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_42)'%3E%3Cmask id='path-2-inside-1_16_42' fill='white'%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z'/%3E%3C/mask%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z' fill='%233D3D3D'/%3E%3Cpath d='M4.43066 11.5625L3.61758 10.9804L2.48482 12.5625H4.43066V11.5625ZM7.33926 7.5L8.15235 8.08214L8.56914 7.5L8.15235 6.91786L7.33926 7.5ZM4.43066 3.4375V2.4375H2.48482L3.61758 4.01964L4.43066 3.4375ZM5.1927 3.4375L6.00578 2.85536L5.70661 2.4375H5.1927V3.4375ZM8.10129 7.5L8.91438 8.08214L9.33117 7.5L8.91438 6.91786L8.10129 7.5ZM5.1927 11.5625V12.5625H5.70661L6.00578 12.1446L5.1927 11.5625ZM8.05316 11.5625L7.24009 10.9803L6.10726 12.5625H8.05316V11.5625ZM10.9619 7.5L11.775 8.08216L12.1918 7.5L11.775 6.91784L10.9619 7.5ZM8.05316 3.4375V2.4375H6.10726L7.24009 4.01966L8.05316 3.4375ZM8.8152 3.4375L9.62827 2.85534L9.3291 2.4375H8.8152V3.4375ZM11.7239 7.5L12.537 8.08216L12.9538 7.5L12.537 6.91784L11.7239 7.5ZM8.8152 11.5625V12.5625H9.3291L9.62827 12.1447L8.8152 11.5625ZM5.24375 12.1446L8.15235 8.08214L6.52617 6.91786L3.61758 10.9804L5.24375 12.1446ZM8.15235 6.91786L5.24375 2.85536L3.61758 4.01964L6.52617 8.08214L8.15235 6.91786ZM4.43066 4.4375H5.1927V2.4375H4.43066V4.4375ZM4.37961 4.01964L7.2882 8.08214L8.91438 6.91786L6.00578 2.85536L4.37961 4.01964ZM7.2882 6.91786L4.37961 10.9804L6.00578 12.1446L8.91438 8.08214L7.2882 6.91786ZM5.1927 10.5625H4.43066V12.5625H5.1927V10.5625ZM8.86624 12.1447L11.775 8.08216L10.1488 6.91784L7.24009 10.9803L8.86624 12.1447ZM11.775 6.91784L8.86624 2.85534L7.24009 4.01966L10.1488 8.08216L11.775 6.91784ZM8.05316 4.4375H8.8152V2.4375H8.05316V4.4375ZM8.00212 4.01966L10.9109 8.08216L12.537 6.91784L9.62827 2.85534L8.00212 4.01966ZM10.9109 6.91784L8.00212 10.9803L9.62827 12.1447L12.537 8.08216L10.9109 6.91784ZM8.8152 10.5625H8.05316V12.5625H8.8152V10.5625Z' fill='%233D3D3D' mask='url(%23path-2-inside-1_16_42)'/%3E%3C/g%3E%3C/svg%3E ");    
    }
}

.interview {
    background-color: rgba(226,221,208,0.3);
    margin: 209px 0 0 0;
    padding: 69px 0 156px 0;
    height: 900px;
}
.interview .wrapper {
    position: relative;
}
.interview .tit {
    text-align: center;
    margin: 0 0 90px 0;
}
.interview .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 69px 0 6px 0;
}
.interview .tit p {
    color: #3d3d3d;
    font-size: 16px;
}
.interview .more {
    position: absolute;
    top: 101px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 5px 42px 4px 12px;
    border: 1px solid #4d4d4d;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.interview .more a::after{
    position: absolute;
    content: "";
    right: 8px;
    top: 4px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_459' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_459)'%3E%3Cpath d='M5.90723 15.4166L9.78535 9.99998L5.90723 4.58331H6.92327L10.8014 9.99998L6.92327 15.4166H5.90723ZM10.7372 15.4166L14.6156 9.99998L10.7372 4.58331H11.7533L15.6316 9.99998L11.7533 15.4166H10.7372Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.interview .more a:hover {
    border-color: #878073;
    background-color: #878073;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_61)'%3E%3Cpath d='M5.9082 15.4166L9.78633 9.99998L5.9082 4.58331H6.92424L10.8024 9.99998L6.92424 15.4166H5.9082ZM10.7382 15.4166L14.6165 9.99998L10.7382 4.58331H11.7542L15.6326 9.99998L11.7542 15.4166H10.7382Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* li의 길이가 제일 긴것을 기준으로 같이 늘어남,
                                각자 존재하는 길이대로 li 높이가 잡히도록 */
}
.interview .list ul li {
    width: 404px;
    position: relative;
}
.interview .list ul li:nth-child(2) {
    margin-top: 65px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 70px 0 70px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 70px 0 70px; 
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    filter: grayscale(100%);
}

.interview .list ul li a .txt {
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 0 29px 0 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* absolute 정렬의 기준이 되는 li의 넓이와 같아짐 */
}
.interview .list ul li a .txt p {
    display: none;
    font-size: 30px;
}
.interview .list ul li a .txt h3 {
    color: #fff;
    font-size: 30px;
}
.interview .list ul li a .txt span {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.interview .list ul li a .txt span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_623' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_623)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
/* pc버전에서만 적용 - 641px 이상에서만 적용*/
/* li에 on클래스가 들어갔을 때*/
@media screen and (min-width:641px){ 
            .interview .list ul li.on a {
                padding: 0 0 107px 0;
                display: block;
            }
            .interview .list ul li.on a .photo img {
                filter: grayscale(0%);
            }
            .interview .list ul li.on a .txt {
                bottom: -107px;
                bottom: 0;
                background-color: #8F846E;
                padding: 47px 32px 36px 32px;
                border-radius: 75px 0 75px 0;
                display: block;
                width: calc(100% - 47px)
            }
            .interview .list ul li:nth-child(2).on a .txt {
                border-radius: 0 75px 0 75px;
            }
            .interview .list ul li.on a .txt p {
                display: block;
                font-size: 15px;
                color: rgba(255,255,255,0.8);
                margin: 9px 0 19px 0;
                line-height: 1.2;    
                height: 3.6em;
                overflow: hidden;
            }
            .interview .list ul li.on a .txt span {
                width: auto;
                height: auto;
                font-size: 15px;
                line-height: 1.2px;
                color: rgba(255,255,255,0.8);
                padding: 19px 11px 0 0;
            }
            .interview .list ul li.on a .txt span::before {
                left: 77px;
                right: 0;
                top: 16px;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_639' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_639)'%3E%3Cpath d='M11.25 12.75H5.5V11.25H11.25V5.5H12.75V11.25H18.5V12.75H12.75V18.5H11.25V12.75Z' fill='white' fill-opacity='0.7'/%3E%3C/g%3E%3C/svg%3E ");
                content: "";
            }
}
@media screen and (max-width:640px){ 
    .interview {
        margin: 67px 0 0 0;
        padding: 34px 0 46px 0;
        height: auto;
    }
    .interview .tit {
        text-align: left;
        margin: 0 0 16px 0;
    }
    .interview .tit h2 {
        font-size: 20px;
        margin: 34px 0 6px 0;
    }
    .interview .tit p {
        color: #3d3d3d;
        font-size: 16px;
        display: none;
    }
    .interview .more {
        top: auto;
        left: auto;
        width: auto;
        position: relative;
        margin: 28px 0 0 0;
    }
    .interview .more a {
        padding: 4px 25px 3px 11px;
        border: 1px solid #4d4d4d;
        border-radius: 20px;
        display: inline-block;
        position: relative;
    }
    .interview .more a::after{
        position: absolute;
        content: "";
        right: 4px;
        top: 4px;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_131' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233D3D3D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_131)'%3E%3Cmask id='path-2-inside-1_16_131' fill='white'%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z'/%3E%3C/mask%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z' fill='%233D3D3D'/%3E%3Cpath d='M4.43066 11.5625L3.61758 10.9804L2.48482 12.5625H4.43066V11.5625ZM7.33926 7.5L8.15235 8.08214L8.56914 7.5L8.15235 6.91786L7.33926 7.5ZM4.43066 3.4375V2.4375H2.48482L3.61758 4.01964L4.43066 3.4375ZM5.1927 3.4375L6.00578 2.85536L5.70661 2.4375H5.1927V3.4375ZM8.10129 7.5L8.91438 8.08214L9.33117 7.5L8.91438 6.91786L8.10129 7.5ZM5.1927 11.5625V12.5625H5.70661L6.00578 12.1446L5.1927 11.5625ZM8.05316 11.5625L7.24009 10.9803L6.10726 12.5625H8.05316V11.5625ZM10.9619 7.5L11.775 8.08216L12.1918 7.5L11.775 6.91784L10.9619 7.5ZM8.05316 3.4375V2.4375H6.10726L7.24009 4.01966L8.05316 3.4375ZM8.8152 3.4375L9.62827 2.85534L9.3291 2.4375H8.8152V3.4375ZM11.7239 7.5L12.537 8.08216L12.9538 7.5L12.537 6.91784L11.7239 7.5ZM8.8152 11.5625V12.5625H9.3291L9.62827 12.1447L8.8152 11.5625ZM5.24375 12.1446L8.15235 8.08214L6.52617 6.91786L3.61758 10.9804L5.24375 12.1446ZM8.15235 6.91786L5.24375 2.85536L3.61758 4.01964L6.52617 8.08214L8.15235 6.91786ZM4.43066 4.4375H5.1927V2.4375H4.43066V4.4375ZM4.37961 4.01964L7.2882 8.08214L8.91438 6.91786L6.00578 2.85536L4.37961 4.01964ZM7.2882 6.91786L4.37961 10.9804L6.00578 12.1446L8.91438 8.08214L7.2882 6.91786ZM5.1927 10.5625H4.43066V12.5625H5.1927V10.5625ZM8.86624 12.1447L11.775 8.08216L10.1488 6.91784L7.24009 10.9803L8.86624 12.1447ZM11.775 6.91784L8.86624 2.85534L7.24009 4.01966L10.1488 8.08216L11.775 6.91784ZM8.05316 4.4375H8.8152V2.4375H8.05316V4.4375ZM8.00212 4.01966L10.9109 8.08216L12.537 6.91784L9.62827 2.85534L8.00212 4.01966ZM10.9109 6.91784L8.00212 10.9803L9.62827 12.1447L12.537 8.08216L10.9109 6.91784ZM8.8152 10.5625H8.05316V12.5625H8.8152V10.5625Z' fill='%233D3D3D' mask='url(%23path-2-inside-1_16_131)'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .interview .more a:hover {
        border: 1px solid #4d4d4d;
        border-radius: 20px;
        display: inline-block;
    }
    .interview .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_61)'%3E%3Cpath d='M5.9082 15.4166L9.78633 9.99998L5.9082 4.58331H6.92424L10.8024 9.99998L6.92424 15.4166H5.9082ZM10.7382 15.4166L14.6165 9.99998L10.7382 4.58331H11.7542L15.6326 9.99998L11.7542 15.4166H10.7382Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .interview .list ul {
        display: block;
    }
    .interview .list ul li {
        width: auto;
    }
    .interview .list ul li:nth-child(2),
    .interview .list ul li:nth-child(3) {
        margin-top: 65px;
        display: none;
    }
    .interview .list ul li a .photo {
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        border-radius: 20px 0 20px 0;
    }
    .interview .list ul li a .photo img {
        filter: grayscale(0%);
    }
    
    .interview .list ul li a .txt {
        left: 0;
        bottom: 0;
        padding: 26px 40px 35px 40px;
        display: block;
        background-color: #878073;
        border-radius: 20px 0 20px 0;
        height: 165px;
    }
    .interview .list ul li a .txt p {
        display: block;
        font-size: 13px;
        color: rgba(255,255,255,0.8);
        margin: 8px 0 22px 0;
    }
    .interview .list ul li a .txt h3 {
        font-size: 16px;
    }
    .interview .list ul li a .txt span {
        width: 24px;
        height: 24px;
        font-size: 13px;
        line-height: 1.2;
        color: rgba(255,255,255,0.8);
    }
    .interview .list ul li a .txt span::before {
        position: absolute;
        left: 45px;
        top: 0;
    }
    /* li에 on클래스가 들어갔을 때*/
    
}
.story .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
    margin: 170px 0 19px 0;
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.story .list ul li a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.story .list ul li a strong {
    color: #878073;
    margin: 10px 0 4px 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.story .list ul li a h3 {
    font-size: 25px;
    color: #1d1d1d;
    margin: 0 0 14px 0;
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.story .list ul li a p {
    line-height: 1.3;
    overflow: hidden;
}
.story .list ul li.long a p {
    height: 5.2em;
}
.story .list ul li.short a p {
    height: 10.4em;
}

@media screen and (max-width:640px){ 
    .story .list ul li {
        width: 190px;
    }
}
.story .wrapper {
    position: relative;
}
.story .more {
    position: absolute;
    right: 0;
    top: 0;
    color: #4d4d4d;
}
.story .more a {
    padding: 5px 38px 4px 10px;
    border: 1px solid #4d4d4d;
    border-radius: 50px;
    display: block;
    position: relative;
}
.story .more a::after {
    position: absolute;
    right: 7px;
    top: 4px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_670' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_670)'%3E%3Cpath d='M5.90723 15.4166L9.78535 9.99992L5.90723 4.58325H6.92327L10.8014 9.99992L6.92327 15.4166H5.90723ZM10.7372 15.4166L14.6156 9.99992L10.7372 4.58325H11.7533L15.6316 9.99992L11.7533 15.4166H10.7372Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.story .more a:hover {
    background-color: #4F4840;
    border-color: #4F4840;
    color: #fff;
} 
.story .more a:hover::after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_61)'%3E%3Cpath d='M5.9082 15.4166L9.78633 9.99998L5.9082 4.58331H6.92424L10.8024 9.99998L6.92424 15.4166H5.9082ZM10.7382 15.4166L14.6165 9.99998L10.7382 4.58331H11.7542L15.6326 9.99998L11.7542 15.4166H10.7382Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){ 
    .story .tit h2 {
        font-size: 20px;
        color: #1d1d1d;
        margin: 43px 0 16px 0;
    }
    .story .list ul li {
        width: 190px;
    }
    .story .list ul li a .photo {
        height: 215px;
    }
    .story .list ul li a strong {
        font-size: 13px;
        margin: 9px 0 5px 0;
    }
    .story .list ul li a h3 {
        font-size: 16px;
        margin: 0 0 7px 0;
    }
    .story .list ul li a p {
        font-size: 13px;
        line-height: 1.2;
        overflow: hidden;
    }
    .story .list ul li.long a p {
        height: 3.6em;
    }
    .story .list ul li.short a p {
        height: 3.6em;
    }
    .story .more {
        position: relative;
        right: auto;
        top: auto;
        color: #4d4d4d;
        margin: 30px 0 30px 0;
        text-align: center;
    }
    .story .more a {
        padding: 4px 25px 3px 11px;
        border: 1px solid #4d4d4d;
        border-radius: 50px;
        display: inline-block;
        position: relative;
    }
    .story .more a::after {
        position: absolute;
        right: 7px;
        top: 4px;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_131' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233D3D3D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_131)'%3E%3Cmask id='path-2-inside-1_16_131' fill='white'%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z'/%3E%3C/mask%3E%3Cpath d='M4.43066 11.5625L7.33926 7.5L4.43066 3.4375H5.1927L8.10129 7.5L5.1927 11.5625H4.43066ZM8.05316 11.5625L10.9619 7.5L8.05316 3.4375H8.8152L11.7239 7.5L8.8152 11.5625H8.05316Z' fill='%233D3D3D'/%3E%3Cpath d='M4.43066 11.5625L3.61758 10.9804L2.48482 12.5625H4.43066V11.5625ZM7.33926 7.5L8.15235 8.08214L8.56914 7.5L8.15235 6.91786L7.33926 7.5ZM4.43066 3.4375V2.4375H2.48482L3.61758 4.01964L4.43066 3.4375ZM5.1927 3.4375L6.00578 2.85536L5.70661 2.4375H5.1927V3.4375ZM8.10129 7.5L8.91438 8.08214L9.33117 7.5L8.91438 6.91786L8.10129 7.5ZM5.1927 11.5625V12.5625H5.70661L6.00578 12.1446L5.1927 11.5625ZM8.05316 11.5625L7.24009 10.9803L6.10726 12.5625H8.05316V11.5625ZM10.9619 7.5L11.775 8.08216L12.1918 7.5L11.775 6.91784L10.9619 7.5ZM8.05316 3.4375V2.4375H6.10726L7.24009 4.01966L8.05316 3.4375ZM8.8152 3.4375L9.62827 2.85534L9.3291 2.4375H8.8152V3.4375ZM11.7239 7.5L12.537 8.08216L12.9538 7.5L12.537 6.91784L11.7239 7.5ZM8.8152 11.5625V12.5625H9.3291L9.62827 12.1447L8.8152 11.5625ZM5.24375 12.1446L8.15235 8.08214L6.52617 6.91786L3.61758 10.9804L5.24375 12.1446ZM8.15235 6.91786L5.24375 2.85536L3.61758 4.01964L6.52617 8.08214L8.15235 6.91786ZM4.43066 4.4375H5.1927V2.4375H4.43066V4.4375ZM4.37961 4.01964L7.2882 8.08214L8.91438 6.91786L6.00578 2.85536L4.37961 4.01964ZM7.2882 6.91786L4.37961 10.9804L6.00578 12.1446L8.91438 8.08214L7.2882 6.91786ZM5.1927 10.5625H4.43066V12.5625H5.1927V10.5625ZM8.86624 12.1447L11.775 8.08216L10.1488 6.91784L7.24009 10.9803L8.86624 12.1447ZM11.775 6.91784L8.86624 2.85534L7.24009 4.01966L10.1488 8.08216L11.775 6.91784ZM8.05316 4.4375H8.8152V2.4375H8.05316V4.4375ZM8.00212 4.01966L10.9109 8.08216L12.537 6.91784L9.62827 2.85534L8.00212 4.01966ZM10.9109 6.91784L8.00212 10.9803L9.62827 12.1447L12.537 8.08216L10.9109 6.91784ZM8.8152 10.5625H8.05316V12.5625H8.8152V10.5625Z' fill='%233D3D3D' mask='url(%23path-2-inside-1_16_131)'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .story .more a:hover {
        background-color: #4F4840;
        border-color: #4F4840;
        color: #fff;
    } 
    .story .more a:hover::after {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_11_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_11_61)'%3E%3Cpath d='M5.9082 15.4166L9.78633 9.99998L5.9082 4.58331H6.92424L10.8024 9.99998L6.92424 15.4166H5.9082ZM10.7382 15.4166L14.6165 9.99998L10.7382 4.58331H11.7542L15.6326 9.99998L11.7542 15.4166H10.7382Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}


footer {
    background-color: #4F4840;
    margin: 130px 0 0 0;
    color: rgba(255,255,255,0.7);
    padding: 112px 0 80px 0;
}
footer .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
footer .slogan {
    font-size: 23px;
}
footer .f_info {
    width: 348px;
}
footer .f_info .item {
    margin: 0 0 80px 0;
}
footer .f_info .item:last-child {
    margin: 0;
}
footer .f_info h2 {
    font-size: 23px;
    margin: 0 0 10px 0;
}
footer .f_info .item span strong{
    font-size: 15px;
}
footer .f_info .item .tel li {
    display: flex;
}
footer .f_info .item .tel li strong {
    width: 2.5em;
}
footer .f_info .item .tel li span {
    width: calc(100% - 2.5em);
}
footer .f_info .item .sns {
    display: flex;
    flex-wrap: wrap;
}
footer .f_info .item .sns li {
    margin: 0 31px 0 0;
}
footer .f_info .item .sns li a:hover {
    text-decoration: underline;
}
footer .copyright {
    position: absolute;
    left: 0;
    top: 328px;
}
footer .copyright .f_logo img {
    width: 200px;
}
footer .copyright .copy {
    color: rgba(255,255,255,0.6);
    margin: 10px 0 0 0;
}

@media screen and (max-width:640px){ 
    footer {
        margin: 56px 0 0 0;
        padding: 41px 0 43px 0;
    }
    footer .wrapper {
        display: block
    }
    footer .slogan {
        font-size: 16px;
        margin: 0 0 71px 0;
    }
    footer .f_info {
        width: auto;
    }
    footer .f_info .item {
        margin: 0 0 59px 0;
    }
    footer .f_info h2 {
        font-size: 16px;
        margin: 0 0 7px 0;
    }
    footer .f_info .item span strong{
        font-size: 13px;
    }
    footer .f_info .item .sns li {
        margin: 0 24px 2px 0;
    }
    footer .copyright {
        position: relative;
        left: auto;
        top: auto;
        margin: 72px 0 0 0;
        font-size: 13px;
    }
    footer .copyright .f_logo img {
        width: 120px;
    }
    footer .copyright .copy {
        color: rgba(255,255,255,0.6);
        margin: 10px 0 0 0;
    }
}
