/* 본고딕을 웹폰트로 선언하는 css 불러오기  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}
h1 {
    color: #39be61;
    font-size: 20px;
    margin-top: 110px;
}
p {
    font-size: 15px;
    color: #3d3d3d;
    letter-spacing: -1px;
    word-break: keep-all;
    margin-bottom: 35px;
}
.tit {
    font-size: 40px;
    color: #1d1d1d;
    line-height: 1.2;
    font-weight: 700;
    margin: 10px 0 32px 0;
}