@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'NanumSquareNeo', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #3d3d3d;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.5; /* 행간:배수로들어감 */
    word-break: keep-all; /* 단어별로 줄바꿈*/
} /*기본 상속 스타일 줬음*/

#wrap { /*홈페이지 전~체를 감싸는 요소 - 가로스크롤바가 생겼을때 배경이 짤리는 현상을 막아줌*/
    min-width: 1260px;
}
/*홈페이지 넓이를 제한하고, 가운데로 정렬하는 요소*/
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .colgroup1 .rowgroup1 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
}
.community .colgroup2 .rowgroup2 {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
}
.community .txt_news {
    width: 297px;
    height: 216px;
    background-color: #f4f4f4;
}
.community .txt_news a {
    height: 216px;
}
.community .txt_news.green {
    background-color: #80b156;
    color: #fff;
}
.community .txt_news.yellow {
    background-color: #eaef9d;
}
.community .photo_news {
    width: 618px;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.community .photo_news a {
    height: 360px;
    display: flex;
    flex-direction: column; /*세로정렬*/
    justify-content: flex-end; /*하단정렬*/
}

/* <div class="photo_news bg1">
하나의 요소에 두개의 이름이 들어간 경우*/
.community .photo_news.bg1 {
    background-image: url(../images/community1.png);
}
.community .photo_news.bg2 {
    background-image: url(../images/community2.png);
}
.community a strong {

}
.community a {
    padding: 26px 33px;
    display: block;
}
.community a h2 {
    font-size: 23px;
    font-weight: 700;
    height: 1.2;
}
.community a .name {
    display: flex;
}
.community a .name span:first-child {
    margin: 0 30px 0 0;
}
