@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/* 폰트 2개 사용.. 제목에는 gmarket / 본문ㅇ[는 pretendard 
   body에는 본문 서체 적용.
   제목 서체를 적용하는 방법
   1. css에서 해당 요소를 모두 선택해서 .biz h2 이렇게 각각 불러서
      gmarket 서체를 사용하는 것 (font-family를 계속 선언해야함)
   2. css를 하나 만들어둠
      예를 들어 .tit 이라고.. 그리고
      html에서 gmarket 서체를 써야하는 html 요소에
      <section class="biz>
             <h2 class="tit"></h2> <!-- 필요한 곳에 class명을 주는 방식)
      </section>
*/
.tit {
    font-family: 'GmarketSans', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.tit_b {
    font-family: 'GmarketSans', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}


header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    padding: 19px 0 19px 0;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul a {
    padding: 44px 53px 32px 53px;
    display: block;
    position: relative;
}
header .gnb .gnb_wrap ul a::after {
    position: absolute;
    right: 0;
    top: 50px;
    width: 3%;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    content: "";
}
header .gnb .gnb_wrap ul li:last-child a::after{
    display: none;
}
@media screen and (max-width:640px){
    header {
        height: 50px;
        border-bottom: 0;
    }
    header .logo {
        padding: 11px 0 0 0;
    }
    header .logo img {
        width: 75px;
    }
    header .gnb .gnb_open {
        /* 모바일에서 나타남
           이미 header에 position값이 존재함 - header를 기준으로 정렬 */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
}



.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: rgba(255,255,255,0.8);
    height: 900px;
    text-align: center;
}
.visual strong {
    display: block;
    padding: 362px 0 0 0;
    font-size: 16px;
    font-weight: 700;
}
.visual h2 {
    font-size: 59px;
    margin: 5px 0 5px 0;
    color: #fff;
}
.visual p {
    font-style: 'Pretendard'sans-serif;
}

@media screen and (max-width:640px){
    .visual {
        height: auto;
        text-align: center;
        padding: 0 0 120px 0;
    }
    .visual strong {
        display: block;
        padding: 99px 0 0 0;
        font-size: 8px;
        font-weight: 700;
    }
    .visual h2 {
        font-size: 33px;
        margin: 5px 0 2px 0;
        color: #fff;
    }
    .visual p {
        font-style: 'Pretendard'sans-serif;
    }
} /*media*/

.biz {
    margin: 142px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
    /* flex로 정렬하면 좌우 요소의 길이가 같아짐.
       하지만 구현을 위해서 존재하는 만큼만 길이가 잡여야함
       align-item을 주면 flex로 정렬된 요소들의 길이가 같아지는 현상이 사라짐. */
}
.biz .subject {
    position: sticky;
    top: 100px;
    /* 나를 감싸는 요소의 길이 내부에서 스크롤되는 동안
       상단에 고정으로 존재하는 것. 감싸는 요소가 모두 스크롤 되면 따라서 스크롤됨.
       대부분 left를 잘 안주고 top만 줌.
       고정될 때 상단의 여백이 됨.. 
       단점: 감싸는 요소중에서 절대로 속성에 overflow:hidden; 이 존재하면 안됨.
       -- wrap한테 무조건 overflow:hidden; 줘야함
       -- 그래서 플러그인으로 대체해서 잘 사용함. */
       margin: 186px 0 0 0;
}
.biz .subject strong {
    color: #043D2C;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 2px;
}
.biz .subject h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 1px 0 6px 0;
}
.biz .subject p {
    font-size: 16px;
    font-weight: 700;
}
.biz .list {
    width: 832px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 2줄 허용 */
    gap: 24px;
}
.biz .list ul li {
    width: 404px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden; /* 넘치는 요소 삭제 */
}
.biz .list ul li:nth-child(odd) { /* odd = 홀수 */
    transform: translate(0,186px);
    /* transform은 현재의 위치에서부터 요소를 움직이는데
       살짝 absolute처럼 다른요소와 부딪히더라도 배치할 수 있음
       margin은 다른 요소와 중복되면 밀리는 현상이 발생하는데
       transform: translatefh 움직이는 것은 공간을 차지하지 않음
       기본적으로 모든 여백은 margin이고 margin으로 안되는 경우 transform: translatefh 를 사용 */
}
.biz .list ul li a {
    height: 363px;
    display: block;
    position: relative;
}
.biz .list ul li a .photo::before {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,64,43,0.70);
    content: ""; /*before를 존재하게 하는 값*/
    display: none;
}

.biz .list ul li a:hover .photo::before {
    display: block;
}
.biz .list ul li a h3 {
    position: absolute;
    left: 32px;
    bottom: 97px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}
.biz .list ul li a p {
    position: absolute;
    font-size: 16px;
    left: 0;
    bottom: 50px;
    margin: 0 32px;
    /* 마우스 오버때에만 보이게 한다면 
     - 미리 오버 스타일을 모두 가지고 있고, display로 보이는 상태만 조절하는게 좋음*/
}
.biz .list ul li a .more {
    display: none; 
    position: absolute; /* a를 기준으로 */
    left: 32px;
    bottom: 24px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    padding-right: 20px; /* 오른쪽에 아이콘 들어갈 여백 만들어주기 */
}
.biz .list ul li a:hover .more {
    display: block;
}
.biz .list ul li .more::after {
    position: absolute; /* moder를 기준으로 정렬 */
    right: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    background: url(../images/biz_more.svg)  no-repeat center center / contain;
    content: ""; /*after를 보이게 하는 값 */
}
@media screen and (max-width:640px){
                .biz {
                    margin: 38px 0 0 0;
                }
                .biz .wrapper {
                    display: block
                }
                .biz .subject {
                    position: relative; /*sticky를 해제하기 위해서
                                          position중에서 줘도 변화가 없는 값으로 대체*/
                    top: auto; /* relative도 top이 적용됨. 해제는 auto*/
                    margin: 0;
                }
                .biz .subject strong {
                    font-size: 13px;
                    font-weight: 700;
                    margin: 0 0 3px 0;
                    display: block;
                }
                .biz .subject h2 {
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0 0 12px 0;
                }
                .biz .subject h2 br {
                    display: none;
                }
                .biz .subject p {
                    display: none; /* 모바일 숨김 */
                }
                .biz .list {
                    width: auto; /* 넓이 고정값 해제 (원래 있던데로 나타나기) */
                }
                .biz .list ul {
                    gap: 16px;
                }
                .biz .list ul li {
                    width: calc(50% - 8px);
                    color: #2d2d2d;
                    border-radius: 10px;
                    overflow: visible; /* overflow해제 - 길이만큼 늘어나게
                                          모바일에서 사이즈가 줄어들면 제목이 2줄이 될 수도 있음*/
                }
                .biz .list ul li:nth-child(odd) { /* odd = 홀수 */
                    transform: translate(0,0px);
                    /* transform은 현재의 위치에서부터 요소를 움직이는데
                    살짝 absolute처럼 다른요소와 부딪히더라도 배치할 수 있음
                    margin은 다른 요소와 중복되면 밀리는 현상이 발생하는데
                    transform: translatefh 움직이는 것은 공간을 차지하지 않음
                    기본적으로 모든 여백은 margin이고 margin으로 안되는 경우 transform: translatefh 를 사용 */
                }
                .biz .list ul li a {
                    height: auto; /* 제목이 여러줄이 될 수도 있음  */
                }
                .biz .list ul li a .photo::before {
                    display: none;
                }
                
                .biz .list ul li a:hover .photo::before {
                    display: none;
                }
                .biz .list ul li a .photo {
                    height: 122px;
                    overflow: hidden;
                    border-radius: 10px;
                }
                .biz .list ul li a .photo img {
                    /* pc와 mobile에서 이미지의 비율이 다르게 보일 때
                       img태그로 코딩한 이미지를 정해진 영역에 맞게 사이즈를 리사이즈 해주는 코딩= object-fit: cover; */
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .biz .list ul li a h3 {
                    position: relative; /* absolute 해제*/
                    left: auto;
                    bottom: auto;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    margin: 5px 0 15px 0;
                }
                .biz .list ul li a:hover h3 {
                    bottom: auto;
                }
                .biz .list ul li a p {
                    display: none;
                }
                .biz .list ul li a .more {
                    display: none;
                }
                .biz .list ul li a:hover .more {
                    display: none;
                }
} /*media*/

.news {
    background-color: rgba(0,64,43,0.05);
    margin: 370px 0 0 0;
    padding: 75px 0 122px 0;
}
.news .subject strong {
    color: #043D2C;
    font-weight: 700;
}
.news .subject h2 {
    font-size: 45px;
    font-weight: 700;
    color: #2d2d2d;
    margin: 2px 0 61px 0;
}
.news .list ul {
    display: flex;
    justify-content: space-between;
}
.news .list ul li {
    width: 404px;
    border-top: 1px solid #5d5d5d;
}
.news .list li a h3 {
    font-weight: 700;
    font-size: 20px;
    /* 무조건 2줄 할때 padding 절대 안됨 */
    margin: 24px 0 24px 0;
    color: #2d2d2d;
    /* 무조건 2줄로 맞추려면 */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
    /* 1줄로 맞추려면
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    transition: 0.2s;
}
.news .list li a:hover h3 {
    color: #4C9A66;
}
.news .list li a p {
    line-height: 1.2;
    height: 3.6em;
    overflow: hidden;
    margin: 0 0 24px 0;
    transition: 0.2s;
}
.news .list li a:hover p {
    color: #4C9A66;
}
.news .list li a .date {
    color: rgba(61,61,61,0.7);
    transition: 0.2s;
    display: block;
}
.news .list li a:hover .date {
    color: #4C9A66;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준이 되어줌*/
}
.news .more { 
    position: absolute;
    right: 0;
    top: 66px;
    font-size: 14px;
    width: 102px;
    height: 32px;
}
.news .more a {/*after 정렬의 기준이 되어줌*/
    position: relative;
    padding: 8px 36px 7px 16px;
    border-radius: 18px;
    border: 1px solid rgba(61,61,61,0.8);
    display: block;
}
.news .more a::after {
    position: absolute; /*more를 기준으로 정렬*/
    right: 12px;
    top: 10px;
    width: 17px;
    height: 17px;
    background: url(../images/new_more.svg);
    content: "";
}
.news .more a:hover {
    background-color: #4C9A66;
    border: 1px solid #4C9A66;
    color: #fff;
}
.news .more a:hover::after {
    background-image: url(../images/new_more_hover.svg);
}
@media screen and (max-width:640px){ 
            .news {
                margin: 52px 0 37px 0;
                padding: 33px 0 41px 0;
            }
            .news .subject h2 {
                font-size: 20px;
                margin: 2px 0 27px 0;
            }
            .news .subject h2 br {
                display: none;
            }
            .news .list ul {
                display: block; /* flex를 제외한 값을 주면 해제됨 (그중에 block이 제일 멀쩡함)*/
            }
            .news .list ul li {
                width: auto; /* 원래 주었던 넓이 고정에 맞춰서 100% 주기 (브라우저 사이즈)
                                li는 block 태그 넓이 100%
                                100%로 주면 margin 등의 여백을 줬을때 사이즈가 늘어날수가 있음*/
                border-top: 1px solid #cac9c9;
            }
            .news .list ul li:last-child {
                border-bottom: 1px solid #cac9c9;
            }
            .news .list ul li a {
                display: flex;
                align-items: center;
                padding: 10px 0;
            }
            .news .list li a h3 {
                font-weight: 700;
                font-size: 13px;
                margin: 8px 0 -8px 0;
                /* 1줄에서 1줄로 그대로*/
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                white-space: wrap;
                overflow: visible;
                width: calc(100% - 90px);
            }
            .news .list li a p {
                display: none;
            }
            .news .list li a .date {
                margin: 0;
                width: 90px;
                text-align: right;
            }
            .news .more { 
                position: relative; /* 앱솔로트 해제할때 */
                font-size: 11px;
                width: auto;
                height: auto;
                margin: -25px 0 60px 0;
                text-align: center;
            }
            .news .more a {/*after 정렬의 기준이 되어줌*/
                position: relative;
                border-radius: 16px;
                display: inline-block;
            }
            .news .more a::after {
                position: absolute; /*more를 기준으로 정렬*/
                right: 12px;
                top: 10px;
                width: 9px;
                height: 9px;
                background: url(../images/new_more_mobile.svg) no-repeat center center / contain;
                content: "";
            }
} /*media*/


.webzine .subject strong {
color: #043D2C;
font-weight: 700;
margin: 145px 0 2px 0;
display: block;
}
.webzine .subject h2 {
font-size: 45px;
font-weight: 700;
color: #2d2d2d;
margin: 0 0 35px 0;
}
.webzine .list ul {
    display: flex;
    justify-content: space-between;
}
.webzine .list ul li {
    width: 404px;
}
.webzine .list ul li a {
    height: 286px;
    border: 1px solid #ccc;
    display: block;
}
/* 게시판에서 이미지를 가져오는 경우에는 이미지의 사이즈가 다양함
   이를 디자인한데로 동일한 사이즈로 리사이즈 하는 방법 
   1. 이미지를 감싸는 요소가 넓이와 높이를 가지고 있어야 함. 
      (overflow:hidden; 도 갖고 있어야함)
   2. 이미지에는 wigth:100%, height:100%, object-fit:cover를 줘야함 */
.webzine .list ul li a .photo {
    overflow: hidden;
    height: 286px;
}
.webzine .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cover = 감싸는 요소에 꽉 맞춰서 리사이즈 - 위아래/좌우에 가운데 이미지  */
}

footer {
    margin: 1000px;
}