*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: 'malgun gothic', '맑은고딕';
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
header {
    width: 200px;
}
header h1 {
    padding-top: 20px;
}
header .gnb {
    padding: 10px 0 0 25px
}
header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
    border: 1px solid #333;
    border-bottom: 0;
    position: relative;
}
header .gnb .depth1 > li:last-child {
    border-bottom: 1px solid #333;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
}
header .gnb .depth1 > li:hover > a {
    background-color: #a8d39c;
}
header .gnb .depth1 li.over {
    height: 176px;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
}
header .gnb .depth2 > li > a {
    display: block;
    padding: 7px 0;
    transition: 0.5s;
}
header .gnb .depth2 > li > a:hover {
    background-color: #e5c6dd;
}
header .gnb .depth1 li.over > .depth2 {
    display: block;
}
.inner_box {
    width: 800px;
    padding-top: 10px;
}
.popup {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 280px;
}
.news h2 {
    font-size: 18px;
    background-color: #a8d39c;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.news ul li a:hover {
    color: #a8d39c;
    text-decoration: underline;
}
.gall {
    width: 280px;
    
}
.gall h2 {
    font-size: 18px;
    background-color: #a8d39c;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.gall ul {
    display: flex;
    justify-content: space-between;
}
.gall ul a:hover {
    opacity: 0.5;
}
.link {
    width: 200px;
}
.layer_popup {
    position: absolute;
    left: 700px;
    top: 300px;
    width: 300px;
    background-color: #e5c6dd;
    padding: 20px 30px;
    z-index: 200;
}
.layer_popup h2 {
    font-size: 22px;
}
.layer_popup p {
    font-size: 16px;
    padding: 10px 0;
}
.layer_popup button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-size: 15px;
    padding: 3px 6px;
}
footer {
    height: 100px;
    margin-top: 20px;
    background-color: #f7f7f7;
    display: flex;
}
footer .copy {
    margin: 35px 50px 0 50px;
    color: #666;
}
footer .sns img {
    width: 40px;
}
footer .sns ul {
    display: flex;
    margin-left: 70px;
}
footer .sns ul li {
    margin: 20px 20px 10px 0;
}
footer .family ul {
    display: flex;
}
footer .family ul li {
    margin-right: 10px;
}