*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 15px;
    font-family: '맑은고딕', 'malgun gothic';
    background-color: #ffffff;
    color: #333333;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
header {
    width: 200px;
    position: relative;
}
header h1 {
    padding-top: 20px;
}
header .gnb .depth1 > li {
    width:200px;
    text-align: center;
    background-color: #c72222;
    border: 1px solid #ec4242;
    color: #ffffff;
    position: relative;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 18px;
    line-height: 40px;
    transition: 0.3s;
}
header .gnb .depth1 > li:hover > a {
    background-color: #ec4242;
    font-weight: 700;
}
header .gnb .depth1 > li.over > .depth2 {
    display: block;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    width: 100%;
}
header .gnb .depth2 > li {
    background-color: #ec4242;
    color: #ffffff;
}
header .gnb .depth2 > li > a {
    display: block;
    line-height: 30px;
    transition: 0.3s;
}
header .gnb .depth2 > li > a:hover {
    font-weight: 700;
    background-color: #c72222;
}
.inner_box {
    width: 800px;
}
.popup {
    height: 350px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.popup ul {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 2400px;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 300px;
}
.news h2 {
    font-size: 18px;
    color: #c72222;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding:6px 0;
    margin-top: 5px;
}
.news ul li a:hover {
    color: #ec4242;
    text-decoration: underline;
}
.gall {
    width: 240px;
}
.gall h2 {
    font-size: 18px;
    color: #c72222;
}
.gall ul {
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}
.gall ul li a:hover {
    opacity: 0.5;
}
.link {
    width: 240px;
}
.layer_popup {
    position: absolute;
    left: calc(55% - 250px);
    top: 300px;
    width: 500px;
    padding: 40px 50px;
    z-index: 200;
    background-color: #ec4242;
    color: #ffffff;
}
.layer_popup h1 {
    font-size: 25px;
}
.layer_popup p {
    padding: 15px 0;
}
.layer_popup button {
    cursor: pointer;
    border: 0;
    background-color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
}
footer {
    height: 100px;
    margin-top: 20px;
    background-color: #ededed;
    display: flex;
}
footer .f_logo {
    margin: 30px 40px 0 40px;
}
footer .f_logo img {
    width: 150px;
   
}
footer .f_nav {
    display: flex;
    margin-top: 20px;
}
footer .f_nav li {
    margin-right: 20px;
}
footer .copy {
    margin-top: 15px;
    color: #666666;
}