*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: 'malgun gothic', '맑은고딕';
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
header {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
header h1 {
    padding-top: 25px;
}
header .gnb .depth1 {
    display: flex;
}
header .gnb .depth1 > li {
    width: 150px;
    height: 30px;
    text-align: center;
    position: relative;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding-top: 60px;
    transition: 0.5s;
}
header .gnb .depth1 > li:hover > a {
    color: #48487d;
    text-decoration: underline;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 150px;
    background-color: #48487d;
    color: #fff;
}
header .gnb .depth2 > li > a {
    display: block;
    padding: 10px 0;
    font-size: 17px;
    transition: 0.5s;
}
header .gnb .depth2 > li > a:hover {
    background-color: #fabd43;
    
}
header .gnb.over .depth2 {
    display: block;
}
.popup {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 380px;
}
.news h2 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    background-color: #48487d;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.news ul li a:hover {
    text-decoration: underline;
    color: #48487d;
}
.gall {
    width: 380px;
}
.gall h2 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    background-color: #48487d;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.gall ul {
    display: flex;
    justify-content:space-around;
}
.gall ul li a:hover {
    opacity: 0.5;
}
.gall ul img {
    width: 100px;
}
.link {
    width: 200px;
}
footer {
    height: 100px;
    margin-top: 20px;
    background-color: #f7f7f7;
    display: flex;
}
footer .copy {
    color: #666;
    margin: 40px 50px 0 50px;
}
footer .f_nav {
    display: flex;
}
footer .f_nav li {
    margin: 20px 20px 0 60px;
}
footer .family ul {
    display: flex;
}
footer .family ul li {
    margin: 10px 0 0 50px;
}