*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: '맑은고딕', 'malgun gothic';
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
header {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
header h1 {
    padding-top: 30px;
}
header .gnb .depth1 {
    display: flex;
}
header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
    padding-top: 65px;
    position: relative;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}
header .gnb .depth1 > li:hover > a {
    color: #bc1d1d;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #bc1d1d;
    color: #fff;
    height: 165px;
}
header .gnb .depth2 > li {
    width: 150px;
}
header .gnb .depth2 > li > a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
    transition: 0.3s;
}
header .gnb .depth2 > li > a:hover {
    background-color: #db7272;
}
header .gnb.over .depth2 {
    display: block;
}
.popup {
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.contanier {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 400px;
}
.news h2 {
    font-size: 18px;
    background-color: #bc1d1d;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.news ul li a:hover {
    color: #bc1d1d;
    text-decoration: underline;
}
.gall {
    width: 380px;
}
.gall ul {
    display: flex;
    justify-content: space-around;
}
.gall h2 {
    font-size: 18px;
    background-color: #bc1d1d;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 5px;
}
.gall ul li a:hover {
    opacity: 0.5;
}
.link {
    width: 380px;
}
.layer_popup {
    position: absolute;
    left: calc(50% - 200px);
    top: 300px;
    width: 400px;
    z-index: 200;
    background-color: #db7272;
    color: #fff;
    padding: 30px 40px;
}
.layer_popup p {
    padding: 15px 0;
}
.layer_popup button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-size: 15px;
    padding: 3px 6px;
}
footer {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
}
footer .copy {
    color: #666;
    margin-top: 30px;
}
footer .sns {
    margin-top: 20px;
}
footer .sns ul {
    display: flex;
}
footer .sns ul li a {
    margin-right: 10px;
}
footer .sns ul li a img {
    width: 30px;
}
footer .famliy ul {
    display: flex;
}
footer .famliy ul li a {
    margin-right: 10px;
}