@import url(layout.css);
@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.container .main_inner {
    display: flex;
}
.container .main_inner .popup {
    width: 50%;
    height: 400px;
    margin-top: 110px;
    position: relative;
}
.container .main_inner .popup .swiper {
    border-radius: 15px;
}
.container .main_inner .popup li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    width: 618px;
    height: 400px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    
}
.container .main_inner .popup li.pop1 {
    object-fit: cover;
    background-image: url(../images/main/popup1.png);
}
.container .main_inner .popup li.pop2 {
    object-fit: cover;
    background-image: url(../images/main/popup2.png);
}
.container .main_inner .popup .box_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(27, 27, 27, 0.7);
    color: rgba(255, 255, 255, 0.8);
    z-index: 60;
    content: "";
    border-radius: 0 0 15px 15px;

    display: flex;
    justify-content: space-between
}
.container .main_inner .popup .box_footer .more {
    padding: 8px 20px;
    display: inline-block;
}
.container .main_inner .popup .box_footer .btn_wrap {
    display: flex;
    padding: 8px 20px;
}
.container .main_inner .popup .box_footer .btn_wrap .paging {
    width: 40px;
}
.container .main_inner .popup button.btn_play {
    display: none;
}
.container .main_inner .popup button.btn_play,
.container .main_inner .popup button.btn_stop {
    position: relative;
    width: 21px;
    height: 21px;
    font-size: 0;
    line-height: 0;
}
.container .main_inner .popup button.btn_play::before {
    position: absolute;
    right: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.0961V5.90405L18.0768 12.0001L8.5 18.0961ZM10 15.3501L15.2693 12.0001L10 8.65005V15.3501Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.container .main_inner .popup button.btn_stop::before {
    position: absolute;
    right: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 15.75V5.25H15V15.75H11.25ZM5 15.75V5.25H8.75V15.75H5ZM12.0833 14.875H14.1667V6.125H12.0833V14.875ZM5.83333 14.875H7.91667V6.125H5.83333V14.875Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.container .main_inner .popup button.btn_prev,
.container .main_inner .popup button.btn_next {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
}
.container .main_inner .popup button.btn_prev::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6628 1.79475L11.3718 2.50375L5.87566 7.99991L11.3718 13.4961L10.6628 14.2051L4.45766 7.99991L10.6628 1.79475Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.container .main_inner .popup button.btn_next::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33717 14.2053L4.62817 13.4963L10.1243 8.00009L4.62817 2.50392L5.33717 1.79492L11.5423 8.00009L5.33717 14.2053Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.main_popup .greeting {
    width: 50%;
    margin-top: 110px;
    margin-left: 24px;
    margin-bottom: 43px;
}
.main_popup .greeting .top_box {
    width: 100%;
    height: 335px;
    margin-bottom: 10px;
    box-shadow: 0 5px 7px 3px #EAEAEA ;
    border-radius: 15px;
}
.main_popup .greeting .top_box .photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    background-image: url(../images/main/greeting1.png);
    border-radius: 15px;
}
.main_popup .greeting .bottom_box {
    width: 100%;
    height: 55px;
}
.main_popup .greeting .bottom_box > ul {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main2);
    border-radius: 15px;
    padding: 0 10px;
}
.main_popup .greeting .bottom_box > ul > li {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    position: relative;
    width: 33.3%;
}
.main_popup .greeting .bottom_box > ul > li > a {
    display: block;
}
.main_popup .greeting .bottom_box li span {
    position: relative;
}
.main_popup .greeting .bottom_box li::before {
    position: absolute;
    left: -2px;
    bottom: 17px;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.main_popup .greeting .bottom_box li:first-child:before {
    display: none;
}
@media screen and (max-width:1300px){
    .main_popup .greeting .bottom_box > ul > li {
        font-size: 18px;
        padding: 16px 0;
    }
    .main_popup .greeting .bottom_box > ul > li > a {
        display: block;
    }
}
@media screen and (max-width:1024px){
    .container .main_inner {
        display: block;
    }
    .container .main_inner .popup {
        width: 100%;
        height: 100%;
        margin-top: 90px;
    }
    .container .main_inner .popup li {
        height: 536px;
    }
    .main_popup .greeting {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .main_popup .greeting .top_box {
        width: 100%;
        height: 510px;
    }
    .main_popup .greeting .bottom_box > ul {
        padding: 0;
    }
    .main_popup .greeting .bottom_box > ul > li {
        padding: 16px 42px;
    }
}
@media screen and (max-width:640px){
    .container .main_inner .popup li {
        height: 335px;
    }
    .main_popup .greeting .bottom_box > ul > li {
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        padding: 9px 0;
    }
    .main_popup .greeting .bottom_box li::before {
        bottom: 7px;
    }
    .main_popup .greeting .top_box {
        width: 100%;
        height: 510px;
    }
    .main_popup .greeting .top_box {
        height: 289px;
    }
}
@media screen and (max-width:455px){
    .container .main_inner .popup {
        margin-top: 70px;
    }
    .container .main_inner .popup li {
        height: 250px;
    }
    .container .main_inner .popup .box_footer {
        height: 22px;
    }
    .container .main_inner .popup .box_footer .more {
        padding: 3px 20px;
    }
    .container .main_inner .popup .box_footer .more a {
        font-size: 12px;
    }
    .container .main_inner .popup .box_footer .btn_wrap {
        padding: 3px 20px;
    }
    .main_popup .greeting {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .main_popup .greeting .top_box {
        height: 173px;
        margin-bottom: 6px;
    }
    .main_popup .greeting .bottom_box > ul {
        border-radius: 10px;
    }
}
.service h2 {
    font-family: 'Paper';
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 144px;
    margin-top: 48px;
}
.service ul {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}
.service ul li {
    text-align: center;
}
.service ul li a {
    display: block;
    width: 107px;
    height: 100%;
    position: relative;
    
}
.service ul li a::after {
    position: absolute;
    content: "";
    left: 0;
    top: -121px;
    width: 100%;
    height: 107px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s;
    border-radius: 15px;
}
.service ul li.service1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_4)'%3E%3Cpath d='M46.5631 66.8933C49.3411 72.5283 51.7142 76.8566 51.7951 76.9383C39.1199 76.8566 28.9717 74.57 28.9717 71.875C28.9717 69.5066 36.4148 67.465 46.555 66.8933H46.5631Z' fill='white'/%3E%3Cpath d='M57.1976 66.8933C67.9128 67.3833 76.0119 69.425 76.0119 71.875C76.0119 74.7333 65.4587 77.02 52.4514 77.02H51.7954C51.7954 76.9383 54.3305 72.5283 57.1976 66.8933Z' fill='white'/%3E%3Cpath d='M57.1975 66.8933C54.3304 72.5283 51.7953 76.9383 51.7144 77.02C51.6334 76.9383 49.2603 72.61 46.4823 66.975C42.7162 59.135 38.1401 48.845 38.1401 43.7816C38.1401 36.1866 44.3603 29.98 51.9654 29.98C59.5705 29.98 65.6287 36.1866 65.7907 43.7816C65.8717 48.845 61.2066 59.0533 57.2056 66.8933H57.1975ZM60.6396 43.7816C60.6396 38.9633 56.7115 35.125 51.9654 35.125C47.2193 35.125 43.2912 39.045 43.2912 43.7816C43.2912 48.5183 47.1383 52.52 51.9654 52.52C56.7925 52.52 60.6396 48.6 60.6396 43.7816Z' fill='%23F9C19B'/%3E%3Cpath d='M51.9657 53.5C46.6526 53.5 42.2305 49.1717 42.2305 43.7817C42.2305 38.3917 46.5635 34.0634 51.9657 34.0634C57.3678 34.0634 61.7009 38.3917 61.7009 43.7817C61.7009 49.1717 57.2868 53.5 51.9657 53.5ZM51.9657 36.1867C47.7136 36.1867 44.2796 39.6167 44.2796 43.8634C44.2796 48.11 47.7136 51.54 51.9657 51.54C56.2177 51.54 59.6518 48.11 59.6518 43.8634C59.6518 39.6167 56.1368 36.1867 51.9657 36.1867Z' fill='%233D3D3D'/%3E%3Cpath d='M51.8037 78C51.5607 78 51.3096 77.9184 51.0666 77.6734C50.9047 77.51 50.7427 77.1834 50.7427 76.9384C50.7427 76.3667 51.2367 75.8767 51.8037 75.8767C52.3787 75.8767 52.8647 76.3667 52.8647 76.9384C52.8647 77.1834 52.7837 77.51 52.5407 77.6734C52.2977 77.9184 52.0466 78 51.8037 78Z' fill='%233D3D3D'/%3E%3Cpath d='M52.4593 78H51.8032C51.2282 78 50.8232 77.51 50.8232 76.9383C50.8232 76.3667 51.3173 75.9583 51.8032 75.9583H52.4593C58.6794 75.9583 64.4865 75.4683 68.9006 74.4883C73.9707 73.4267 74.9507 72.12 74.9507 71.875C74.9507 71.63 74.1327 70.5683 70.3666 69.5883C67.0135 68.69 62.3484 68.1183 57.1973 67.8733C56.6223 67.8733 56.2173 67.3833 56.2173 66.8117C56.2173 66.24 56.7113 65.8317 57.1973 65.8317H57.2783C62.5913 66.0767 67.4184 66.73 70.8525 67.6283C74.9426 68.69 76.9917 70.0783 76.9917 71.875C76.9917 73.835 74.4566 75.3867 69.3056 76.4483C64.8105 77.4283 58.8333 78 52.4593 78Z' fill='%233D3D3D'/%3E%3Cpath d='M51.8035 78C45.5833 78 39.7762 77.4283 35.4431 76.4483C30.454 75.305 28 73.835 28 71.875C28 70.16 29.879 68.8533 33.7261 67.71C36.9982 66.8117 41.4932 66.1583 46.5714 65.9133C47.1464 65.9133 47.6324 66.3217 47.6324 66.8933C47.6324 67.465 47.2274 67.955 46.6524 67.955C41.7443 68.2 37.4112 68.8533 34.3012 69.7517C30.7861 70.65 29.9681 71.63 29.9681 71.875C29.9681 72.12 30.9481 73.345 35.8562 74.4067C40.1083 75.3867 45.7534 75.8767 51.8035 75.9583C52.3785 75.9583 52.7835 76.4483 52.7835 77.02C52.7835 77.51 52.3785 78 51.8035 78Z' fill='%233D3D3D'/%3E%3Cpath d='M51.8037 78C51.3987 78 51.0666 77.8367 50.9047 77.51C50.9047 77.4283 48.4506 73.1 45.6726 67.3833C40.0275 55.95 37.1685 48.0283 37.1685 43.7817C37.1685 39.8617 38.6425 36.105 41.5015 33.3283C44.2795 30.5517 48.0375 29 52.0466 29C56.0557 29 59.7328 30.5517 62.5189 33.3283C65.2969 36.105 66.8519 39.78 66.9329 43.7817C67.0139 48.0283 64.0739 55.95 58.2668 67.3017C55.4078 72.9367 52.8647 77.265 52.7837 77.4283C52.4597 77.8367 52.1276 78 51.8037 78ZM51.9656 31.0417C48.5316 31.0417 45.3405 32.3483 42.8865 34.7983C40.5134 37.2483 39.2094 40.4333 39.2094 43.7817C39.2094 47.62 42.0766 55.46 47.5516 66.485C49.3496 70.0783 50.9047 73.1 51.8847 74.8967C52.8647 73.1 54.5817 70.0783 56.3797 66.4033C61.8628 55.6233 64.8838 47.5383 64.8028 43.7817C64.5599 36.6767 58.9957 31.0417 51.9575 31.0417H51.9656Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_4'%3E%3Crect width='49' height='49' fill='white' transform='translate(28 29)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cpath d='M63.9855 66.8956V74.9723H30.0347V66.8956C30.0347 59.2154 36.2671 53.0405 44.0111 53.0405H50.001C57.6723 53.0405 63.9774 59.2154 63.9774 66.8956H63.9855Z' fill='white'/%3E%3Cpath d='M46.9696 30.9468C53.1211 30.9468 58.1491 35.932 58.1491 42.034C58.1491 48.1361 53.113 53.1213 46.9696 53.1213C40.8261 53.1213 35.79 48.1361 35.79 42.034C35.79 35.932 40.818 30.9468 46.9696 30.9468Z' fill='%23F9C19B'/%3E%3Cpath d='M63.9855 75.9999H30.0347C29.4769 75.9999 29 75.5225 29 74.9721V66.8954C29 58.7378 35.7093 52.0854 44.0192 52.0854H50.0091C58.2381 52.0854 65.0283 58.7378 65.0283 66.8954V74.9721C64.9475 75.5306 64.4705 75.9999 63.9936 75.9999H63.9855ZM30.9966 74.0253H62.9427V66.8954C62.9427 59.7656 57.1145 53.9873 49.9202 53.9873H43.9303C36.744 53.9873 30.9077 59.7656 30.9077 66.8954V74.0253H30.9885H30.9966Z' fill='%233D3D3D'/%3E%3Cpath d='M46.9696 54.0683C40.2603 54.0683 34.8281 48.6865 34.8281 42.0341C34.8281 35.3818 40.2603 30 46.9696 30C53.6789 30 59.111 35.3818 59.111 42.0341C59.111 48.6865 53.6789 54.0683 46.9696 54.0683ZM46.9696 31.9018C41.3758 31.9018 36.8248 36.4177 36.8248 41.9613C36.8248 47.5049 41.3758 52.0208 46.9696 52.0208C52.5634 52.0208 57.1144 47.5049 57.1144 41.9613C57.1144 36.4177 52.5634 31.9018 46.9696 31.9018Z' fill='%233D3D3D'/%3E%3Cpath d='M75.9654 44.3324H66.9361C66.3783 44.3324 65.9014 43.855 65.9014 43.3047C65.9014 42.7543 66.3783 42.2769 66.9361 42.2769H75.9654C76.5231 42.2769 77.0001 42.7543 77.0001 43.3047C76.9192 43.8631 76.4423 44.3324 75.9654 44.3324Z' fill='%233D3D3D'/%3E%3Cpath d='M75.9654 53.2023H66.9361C66.3783 53.2023 65.9014 52.7248 65.9014 52.2555C65.9014 51.697 66.3783 51.2277 66.9361 51.2277H75.9654C76.5231 51.2277 77.0001 51.7051 77.0001 52.2555C76.9192 52.8058 76.4423 53.2023 75.9654 53.2023Z' fill='%233D3D3D'/%3E%3Cpath d='M75.9654 62.145H66.9361C66.3783 62.145 65.9014 61.6675 65.9014 61.1172C65.9014 60.5668 66.3783 60.0894 66.9361 60.0894H75.9654C76.5231 60.0894 77.0001 60.5668 77.0001 61.1172C76.9192 61.6756 76.4423 62.145 75.9654 62.145Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
}
.service ul li.service3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_6)'%3E%3Cpath d='M80.8042 45.17V71H78.4302L78.5208 78.92L62.5101 71H41.9146V60.92V55.25V45.17H67.0859H80.8042Z' fill='%23F9C19B'/%3E%3Cpath d='M67.0857 42.92V45.17H41.9144V55.25L30.4794 60.92V53H28.187V27.17H41.9144H67.0857V42.92Z' fill='white'/%3E%3Cpath d='M57.9339 33.92H37.3384C36.695 33.92 36.1514 33.38 36.1514 32.75C36.1514 32.12 36.7041 31.58 37.3384 31.58H57.9248C58.5682 31.58 59.1118 32.12 59.1118 32.75C59.0212 33.38 58.4685 33.92 57.9248 33.92H57.9339Z' fill='%233D3D3D'/%3E%3Cpath d='M52.1623 40.67H43.0107C42.3674 40.67 41.8237 40.13 41.8237 39.5C41.8237 38.87 42.3764 38.33 43.0107 38.33H52.1623C52.8056 38.33 53.3493 38.87 53.3493 39.5C53.3493 40.13 52.7965 40.67 52.1623 40.67Z' fill='%233D3D3D'/%3E%3Cpath d='M30.4794 62C30.2982 62 30.0173 61.91 29.8361 61.82C29.4736 61.64 29.2834 61.28 29.2834 60.83L29.374 54.08H28.187C27.5437 54.08 27 53.54 27 52.91V27.17C27 26.54 27.5527 26 28.187 26H67.0766C67.7199 26 68.2636 26.54 68.2636 27.17V45.17C68.2636 45.8 67.7109 46.34 67.0766 46.34C66.4423 46.34 65.8896 45.71 65.8896 45.17V28.25H29.2834V51.92H30.4703C30.7422 51.92 31.1137 52.01 31.2949 52.28C31.4761 52.46 31.6573 52.82 31.6573 53.09L31.5667 59.12L41.3616 54.26C41.9143 53.99 42.6392 54.17 42.9201 54.8C43.1919 55.34 43.0107 56.06 42.3674 56.33L30.9325 62H30.4794Z' fill='%233D3D3D'/%3E%3Cpath d='M78.5208 80C78.3396 80 78.1583 80 77.9681 79.91L62.2292 72.17H41.9145C41.2712 72.17 40.7275 71.63 40.7275 71V45.17C40.7275 44.54 41.2803 44 41.9145 44H80.8041C81.4475 44 81.9911 44.54 81.9911 45.17V71.09C81.9911 71.72 81.4384 72.26 80.8041 72.26H79.6172L79.7078 79.01C79.7078 79.37 79.5266 79.73 79.1551 80C78.8832 79.91 78.702 80 78.5117 80H78.5208ZM43.0109 69.92H62.501C62.6822 69.92 62.8635 69.92 63.0537 70.01L77.3247 77.03L77.2341 71C77.2341 70.73 77.3247 70.37 77.5966 70.19C77.7778 70.01 78.1493 69.83 78.4211 69.83H79.6081V46.25H43.0109V69.92Z' fill='%233D3D3D'/%3E%3Cpath d='M71.6617 51.92H51.0752C50.4318 51.92 49.8882 51.38 49.8882 50.75C49.8882 50.12 50.4409 49.58 51.0752 49.58H71.6617C72.305 49.58 72.8486 50.12 72.8486 50.75C72.758 51.38 72.2053 51.92 71.6617 51.92Z' fill='%233D3D3D'/%3E%3Cpath d='M65.8898 58.67H56.7383C56.0949 58.67 55.5513 58.13 55.5513 57.5C55.5513 56.87 56.104 56.33 56.7383 56.33H65.8898C66.5331 56.33 67.0768 56.87 67.0768 57.5C67.0768 58.13 66.5241 58.67 65.8898 58.67Z' fill='%233D3D3D'/%3E%3Cpath d='M71.6617 65.42H51.0752C50.4318 65.42 49.8882 64.88 49.8882 64.25C49.8882 63.62 50.4409 63.08 51.0752 63.08H71.6617C72.305 63.08 72.8486 63.62 72.8486 64.25C72.8486 64.88 72.2053 65.42 71.6617 65.42Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_6'%3E%3Crect width='55' height='54' fill='white' transform='translate(27 26)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_7)'%3E%3Cpath d='M49.0176 58.6769L68.7506 65.6464L76.661 32.4668L25.8984 49.7325L41.4802 55.3599' fill='%23F9C19B'/%3E%3Cpath d='M69.4391 66.9022L48.7017 59.578L49.333 57.7757L68.0713 64.3905L75.3313 33.9335L28.7965 49.7612L41.8052 54.4587L41.1548 56.261L23 49.7037L78 31L69.4391 66.9022Z' fill='%233D3D3D'/%3E%3Cpath d='M49.0174 58.6769L76.6609 32.4668L41.48 55.3599L45.66 73.7855L55.3878 60.9201' fill='%23F9C19B'/%3E%3Cpath d='M45.1815 76L40.3989 54.9188L76.1441 31.6615L77.3207 33.1666L49.6772 59.3767L48.3572 57.977L68.3868 38.9953L42.5607 55.8008L46.1381 71.5614L54.6224 60.3449L56.1433 61.5049L45.1815 76Z' fill='%233D3D3D'/%3E%3Cpath d='M48.089 58.4651L44.7344 73.5684L46.6017 73.985L49.9563 58.8817L48.089 58.4651Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_7'%3E%3Crect width='55' height='45' fill='white' transform='translate(23 31)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service5 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_8)'%3E%3Cpath d='M47.4589 31.6815L38.7144 40.47L52.1106 53.9335L60.8551 45.145L47.4589 31.6815Z' fill='%23F9C19B'/%3E%3Cpath d='M52.1021 55.1011L37.5454 40.4713L47.4502 30.5167L62.007 45.1465L52.1021 55.1011ZM39.8672 40.463L52.1021 52.7593L59.6769 45.1465L47.442 32.8502L39.8672 40.463Z' fill='%233D3D3D'/%3E%3Cpath d='M44.4315 28.4101L35.326 37.5613C34.5543 38.3369 34.5543 39.5943 35.326 40.3699L35.6695 40.7151C36.4412 41.4906 37.6923 41.4906 38.464 40.7151L47.5695 31.5639C48.3412 30.7883 48.3412 29.5309 47.5695 28.7553L47.226 28.4101C46.4543 27.6345 45.2031 27.6345 44.4315 28.4101Z' fill='%23F9C19B'/%3E%3Cpath d='M37.0679 42.118C36.3516 42.118 35.6353 41.845 35.0837 41.2906L34.7461 40.9513C33.651 39.8507 33.651 38.0634 34.7461 36.9711L43.844 27.8275C44.9391 26.7269 46.7175 26.7269 47.8043 27.8275L48.1419 28.1668C49.2369 29.2673 49.2369 31.0547 48.1419 32.1469L39.0439 41.2906C38.5005 41.8367 37.776 42.118 37.0597 42.118H37.0679ZM45.8283 28.655C45.5319 28.655 45.2355 28.7708 45.0132 28.9942L35.9152 38.1379C35.4624 38.593 35.4624 39.3294 35.9152 39.7763L36.2528 40.1155C36.7056 40.5707 37.4384 40.5707 37.883 40.1155L46.981 30.9719C47.4338 30.5168 47.4338 29.7803 46.981 29.3335L46.6434 28.9942C46.4211 28.7708 46.1247 28.655 45.8283 28.655Z' fill='%233D3D3D'/%3E%3Cpath d='M60.962 45.0175L51.8565 54.1687C51.0848 54.9443 51.0848 56.2017 51.8565 56.9773L52.2 57.3225C52.9717 58.0981 54.2228 58.0981 54.9945 57.3225L64.1 48.1713C64.8717 47.3957 64.8717 46.1383 64.1 45.3627L63.7565 45.0175C62.9848 44.242 61.7337 44.242 60.962 45.0175Z' fill='%23F9C19B'/%3E%3Cpath d='M53.6006 58.7338C52.8843 58.7338 52.168 58.4607 51.6164 57.9063L51.2788 57.567C50.1838 56.4665 50.1838 54.6791 51.2788 53.5868L60.3768 44.4432C61.4718 43.3427 63.2502 43.3427 64.337 44.4432L64.6746 44.7825C65.7697 45.883 65.7697 47.6704 64.6746 48.7626L55.5767 57.9063C55.0333 58.4524 54.3087 58.7338 53.5924 58.7338H53.6006ZM62.361 45.2707C62.0646 45.2707 61.7682 45.3865 61.5459 45.61L52.448 54.7536C51.9951 55.2087 51.9951 55.9452 52.448 56.392L52.7855 56.7313C53.2384 57.1864 53.9711 57.1864 54.4157 56.7313L63.5137 47.5876C63.9665 47.1325 63.9665 46.3961 63.5137 45.9492L63.1761 45.61C62.9538 45.3865 62.6574 45.2707 62.361 45.2707Z' fill='%233D3D3D'/%3E%3Cpath d='M21.4239 68.0041L43.7627 45.5533L47.0404 48.8475L24.7017 71.2983C23.8924 72.1117 22.5825 72.1058 21.7791 71.2983L21.424 70.9414C20.6147 70.1281 20.6205 68.8116 21.4239 68.0041Z' fill='%23F9C19B'/%3E%3Cpath d='M23.2441 72.7265C22.5031 72.7265 21.7621 72.4451 21.2022 71.8742L20.8482 71.5183C19.7202 70.3847 19.7202 68.5394 20.8482 67.4058L43.7701 44.3688L48.2161 48.8372L25.286 71.8824C24.7261 72.4451 23.9851 72.7347 23.2441 72.7347V72.7265ZM43.7619 46.7188L22.0091 68.5808C21.5233 69.069 21.5233 69.8634 22.0091 70.3516L22.3631 70.7074C22.8489 71.1956 23.6393 71.1956 24.1251 70.7074L45.8778 48.8454L43.7619 46.7188Z' fill='%233D3D3D'/%3E%3Cpath d='M50.3237 74.2573H82.8129C85.2253 74.2573 87.1766 76.2267 87.1766 78.643V79.1725H45.96V78.643C45.96 76.2184 47.9195 74.2573 50.3237 74.2573Z' fill='%23D6D6D6'/%3E%3Cpath d='M88 80H45.1367V78.6429C45.1367 75.7633 47.4668 73.4298 50.3238 73.4298H82.813C85.6782 73.4298 88 75.7716 88 78.6429V80ZM46.7916 78.345H86.3451C86.1969 76.5163 84.6655 75.0848 82.813 75.0848H50.3238C48.4713 75.0848 46.9481 76.5246 46.7916 78.345Z' fill='%233D3D3D'/%3E%3Cpath d='M56.6307 69.3422H76.498C78.9104 69.3422 80.8618 71.3116 80.8618 73.7278V74.2574H52.2588V73.7278C52.2588 71.3033 54.2183 69.3422 56.6225 69.3422H56.6307Z' fill='%23D6D6D6'/%3E%3Cpath d='M81.6933 75.0848H51.4436V73.7278C51.4436 70.8481 53.7737 68.5146 56.6307 68.5146H76.498C79.3632 68.5146 81.685 70.8564 81.685 73.7278V75.0848H81.6933ZM53.1068 73.4299H80.0384C79.8901 71.6011 78.3587 70.1696 76.5062 70.1696H56.6389C54.7864 70.1696 53.2632 71.6094 53.1068 73.4299Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_8'%3E%3Crect width='68' height='53' fill='white' transform='translate(20 27)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service6 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_9)'%3E%3Cpath d='M80.1735 74.0262H28.8267V80.1693H80.1735V74.0262Z' fill='%23D6D6D6'/%3E%3Cpath d='M81 81H28V73.2122H81V81ZM29.6532 79.3552H79.3468V74.8569H29.6532V79.3552Z' fill='%233D3D3D'/%3E%3Cpath d='M31.9841 54.8734V69.8323H38.1586V54.8734H31.9841Z' fill='%23F9C19B'/%3E%3Cpath d='M38.9851 70.6546H31.1575V54.051H38.9851V70.6546ZM32.8106 69.0099H37.332V55.6958H32.8106V69.0099Z' fill='%233D3D3D'/%3E%3Cpath d='M45.0276 46.3701V69.8323H51.2021V46.3701H45.0276Z' fill='%23F9C19B'/%3E%3Cpath d='M52.0286 70.6546H44.2009V45.5477H52.0286V70.6546ZM45.8541 69.0099H50.3754V47.1925H45.8541V69.0099Z' fill='%233D3D3D'/%3E%3Cpath d='M70.8416 40.0131V69.8322H77.0161V40.0131H70.8416Z' fill='%23F9C19B'/%3E%3Cpath d='M77.8426 70.6546H70.0149V39.199H77.8426V70.6628V70.6546ZM71.668 69.0098H76.1894V40.8437H71.668V69.0181V69.0098Z' fill='%233D3D3D'/%3E%3Cpath d='M57.7898 50.9588V69.8322H63.9643V50.9588H57.7898Z' fill='%23F9C19B'/%3E%3Cpath d='M64.7991 70.6546H56.9714V50.1365H64.7991V70.6546ZM58.6246 69.0098H63.146V51.7812H58.6246V69.0098Z' fill='%233D3D3D'/%3E%3Cpath d='M35.0754 44.643L48.1188 36.1397L60.8811 40.7368L73.9245 29.8979' fill='%23F4F4F4'/%3E%3Cpath d='M35.5218 45.3339L34.6208 43.9605L48.0114 35.2269L60.7158 39.8075L73.3955 29.2648L74.4535 30.523L61.0465 41.6743L48.2263 37.0526L35.5218 45.3339Z' fill='%233D3D3D'/%3E%3Cpath d='M45.0276 36.1399C45.0276 34.4458 46.408 33.0642 48.119 33.0642C49.83 33.0642 51.2104 34.4376 51.2104 36.1399C51.2104 37.8422 49.83 39.2155 48.119 39.2155C46.408 39.2155 45.0276 37.8422 45.0276 36.1399Z' fill='white'/%3E%3Cpath d='M48.1189 40.0379C45.9615 40.0379 44.2009 38.2945 44.2009 36.1398C44.2009 33.9852 45.9533 32.2418 48.1189 32.2418C50.2845 32.2418 52.0369 33.9852 52.0369 36.1398C52.0369 38.2945 50.2845 40.0379 48.1189 40.0379ZM48.1189 33.8948C46.8708 33.8948 45.8541 34.9063 45.8541 36.1481C45.8541 37.3898 46.8708 38.4014 48.1189 38.4014C49.367 38.4014 50.3837 37.3898 50.3837 36.1481C50.3837 34.9063 49.367 33.8948 48.1189 33.8948Z' fill='%233D3D3D'/%3E%3Cpath d='M57.7981 40.7369C57.7981 39.0428 59.1785 37.6613 60.8895 37.6613C62.6005 37.6613 63.9809 39.0346 63.9809 40.7369C63.9809 42.4392 62.6005 43.8126 60.8895 43.8126C59.1785 43.8126 57.7981 42.4392 57.7981 40.7369Z' fill='%23D6D6D6'/%3E%3Cpath d='M60.8811 44.6349C58.7237 44.6349 56.9631 42.8915 56.9631 40.7369C56.9631 38.5823 58.7155 36.8389 60.8811 36.8389C63.0467 36.8389 64.7991 38.5823 64.7991 40.7369C64.7991 42.8915 63.0467 44.6349 60.8811 44.6349ZM60.8811 38.4836C59.633 38.4836 58.6163 39.4951 58.6163 40.7369C58.6163 41.9787 59.633 42.9902 60.8811 42.9902C62.1292 42.9902 63.1459 41.9787 63.1459 40.7369C63.1459 39.4951 62.1292 38.4836 60.8811 38.4836Z' fill='%233D3D3D'/%3E%3Cpath d='M70.8416 29.898C70.8416 28.204 72.2219 26.8224 73.9329 26.8224C75.644 26.8224 77.0243 28.1957 77.0243 29.898C77.0243 31.6003 75.644 32.9737 73.9329 32.9737C72.2219 32.9737 70.8416 31.6003 70.8416 29.898Z' fill='white'/%3E%3Cpath d='M73.9246 33.7879C71.7672 33.7879 70.0066 32.0445 70.0066 29.8898C70.0066 27.7352 71.7589 25.9918 73.9246 25.9918C76.0902 25.9918 77.8425 27.7352 77.8425 29.8898C77.8425 32.0445 76.0902 33.7879 73.9246 33.7879ZM73.9246 27.6448C72.6764 27.6448 71.6597 28.6563 71.6597 29.8981C71.6597 31.1398 72.6764 32.1514 73.9246 32.1514C75.1727 32.1514 76.1894 31.1398 76.1894 29.8981C76.1894 28.6563 75.1727 27.6448 73.9246 27.6448Z' fill='%233D3D3D'/%3E%3Cpath d='M35.3105 47.7106C37.0127 47.5794 38.2857 46.1001 38.1538 44.4065C38.0219 42.713 36.5351 41.4464 34.8329 41.5776C33.1307 41.7088 31.8576 43.1881 31.9895 44.8817C32.1214 46.5752 33.6082 47.8418 35.3105 47.7106Z' fill='%23D6D6D6'/%3E%3Cpath d='M35.0754 48.5412C32.9181 48.5412 31.1575 46.7977 31.1575 44.6431C31.1575 42.4885 32.9098 40.7451 35.0754 40.7451C37.2411 40.7451 38.9934 42.4885 38.9934 44.6431C38.9934 46.7977 37.2411 48.5412 35.0754 48.5412ZM35.0754 42.3981C33.8273 42.3981 32.8106 43.4096 32.8106 44.6514C32.8106 45.8931 33.8273 46.9047 35.0754 46.9047C36.3236 46.9047 37.3403 45.8931 37.3403 44.6514C37.3403 43.4096 36.3236 42.3981 35.0754 42.3981Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_9'%3E%3Crect width='53' height='55' fill='white' transform='translate(28 26)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service7 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_10)'%3E%3Cpath d='M35.17 42.35V61.68C30.11 61.68 26 57.57 26 52.51V51.51C26 46.45 30.11 42.34 35.17 42.34V42.35Z' fill='%23F9C19B'/%3E%3Cpath d='M36.17 62.68H35.17C29.56 62.68 25 58.12 25 52.51V51.51C25 45.9 29.56 41.34 35.17 41.34H36.17V62.67V62.68ZM34.17 43.41C30.14 43.9 27 47.35 27 51.51V52.51C27 56.67 30.13 60.12 34.17 60.61V43.41Z' fill='%233D3D3D'/%3E%3Cpath d='M35.1699 61.68C56.9899 62.39 69.1399 69.31 69.1399 69.31V34.72C69.1399 34.72 56.9899 41.64 35.1699 42.35' fill='white'/%3E%3Cpath d='M70.1399 71.03L68.6499 70.18C68.5299 70.11 56.4199 63.37 35.1399 62.68L35.1999 60.68C52.9299 61.25 64.2499 65.83 68.1399 67.68V36.35C64.2499 38.2 52.9299 42.77 35.1999 43.35L35.1399 41.35C56.4599 40.66 68.5199 33.92 68.6399 33.85L70.1399 33V71.03Z' fill='%233D3D3D'/%3E%3Cpath d='M46.37 62.87V72.21C46.37 72.95 45.77 73.56 45.02 73.56H43.39C41.25 73.56 39.52 71.83 39.52 69.69V61.96' fill='white'/%3E%3Cpath d='M45.02 74.5499H43.39C40.71 74.5499 38.52 72.37 38.52 69.68V61.95C38.52 61.4 38.97 60.95 39.52 60.95C40.07 60.95 40.52 61.4 40.52 61.95V69.68C40.52 71.26 41.81 72.5499 43.39 72.5499H45.02C45.21 72.5499 45.36 72.39 45.36 72.2V62.86C45.36 62.31 45.81 61.86 46.36 61.86C46.91 61.86 47.36 62.31 47.36 62.86V72.2C47.36 73.49 46.31 74.5499 45.02 74.5499Z' fill='%233D3D3D'/%3E%3Cpath d='M69.1299 46.0399C71.6499 47.1299 73.4299 49.6499 73.4299 52.5699C73.4299 55.4899 71.6499 57.9999 69.1299 59.0899' fill='%23F9C19B'/%3E%3Cpath d='M69.3299 59.55L68.9299 58.63C71.3599 57.58 72.9299 55.2 72.9299 52.57C72.9299 49.94 71.3599 47.55 68.9299 46.5L69.3299 45.58C72.1299 46.79 73.9299 49.53 73.9299 52.57C73.9299 55.61 72.1199 58.34 69.3299 59.55Z' fill='%233D3D3D'/%3E%3Cpath d='M86.1899 51.5699H79.4399V53.5699H86.1899V51.5699Z' fill='%233D3D3D'/%3E%3Cpath d='M84.1509 43.5515L77.9124 46.3317L78.7265 48.1585L84.965 45.3783L84.1509 43.5515Z' fill='%233D3D3D'/%3E%3Cpath d='M79.0325 37.0602L74.4182 42.1903L75.9052 43.5278L80.5195 38.3977L79.0325 37.0602Z' fill='%233D3D3D'/%3E%3Cpath d='M75.7829 61.6971L74.2969 63.0356L78.6872 67.9099L80.1733 66.5714L75.7829 61.6971Z' fill='%233D3D3D'/%3E%3Cpath d='M78.7207 57.0051L77.9062 58.8318L83.9708 61.5357L84.7852 59.709L78.7207 57.0051Z' fill='%233D3D3D'/%3E%3Cpath d='M65.1001 36.96H63.1001V67.06H65.1001V36.96Z' fill='%233D3D3D'/%3E%3Cpath d='M35.5301 42.35H34.8101V43.33H35.5301V42.35Z' fill='%233D3D3D'/%3E%3Cpath d='M35.5732 60.6982L34.856 60.6359L34.7711 61.6122L35.4883 61.6746L35.5732 60.6982Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_10'%3E%3Crect width='61.18' height='41.55' fill='white' transform='translate(25 33)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service8 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_11)'%3E%3Cpath d='M42.7399 42.1268C44.8797 42.1268 46.6145 40.4112 46.6145 38.2948C46.6145 36.1785 44.8797 34.4629 42.7399 34.4629C40.6 34.4629 38.8652 36.1785 38.8652 38.2948C38.8652 40.4112 40.6 42.1268 42.7399 42.1268Z' fill='%23F9C19B' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M34.2463 49.668C34.2463 46.3552 36.1836 43.4859 39.0085 42.1268C40.1155 42.7309 41.3943 43.0707 42.7495 43.0707C44.1047 43.0707 45.3739 42.7309 46.4905 42.1268C49.3058 43.4954 51.2431 46.3552 51.2431 49.668' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M44.2314 64.9022C46.2061 64.0868 47.1386 61.8427 46.3142 59.8897C45.4898 57.9367 43.2206 57.0145 41.2459 57.8298C39.2712 58.6452 38.3387 60.8893 39.1632 62.8423C39.9876 64.7953 42.2567 65.7175 44.2314 64.9022Z' fill='%23F9C19B' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M34.2463 73.0562C34.2463 69.7434 36.1836 66.8741 39.0085 65.515C40.1155 66.1191 41.3943 66.4588 42.7495 66.4588C44.1047 66.4588 45.3739 66.1191 46.4905 65.515C49.3058 66.8836 51.2431 69.7434 51.2431 73.0562' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M64.1742 41.6078C66.3141 41.6078 68.0488 39.8921 68.0488 37.7758C68.0488 35.6595 66.3141 33.9438 64.1742 33.9438C62.0343 33.9438 60.2996 35.6595 60.2996 37.7758C60.2996 39.8921 62.0343 41.6078 64.1742 41.6078Z' fill='%23F9C19B' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M55.7571 49.668C55.7571 46.3552 57.6944 43.4859 60.5192 42.1268C61.6263 42.7309 62.9051 43.0707 64.2602 43.0707C65.6154 43.0707 66.8847 42.7309 68.0012 42.1268C70.8165 43.4954 72.7539 46.3552 72.7539 49.668' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M67.8943 62.4225C68.4877 60.3892 67.3021 58.2651 65.2461 57.6782C63.1902 57.0913 61.0424 58.2639 60.449 60.2972C59.8556 62.3305 61.0412 64.4546 63.0972 65.0415C65.1531 65.6284 67.3009 64.4559 67.8943 62.4225Z' fill='%23F9C19B' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M55.7571 73.0562C55.7571 69.7434 57.6944 66.8741 60.5192 65.515C61.6263 66.1191 62.9051 66.4588 64.2602 66.4588C65.6154 66.4588 66.8847 66.1191 68.0012 65.515C70.8165 66.8836 72.7539 69.7434 72.7539 73.0562' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M72.7443 73.0562H84.8453L80.2549 49.6681H72.7443H55.7571H51.2335H34.2463H26.497L22.1453 73.0562H34.2463' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M55.757 73.0562H51.2334' stroke='%233D3D3D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_11'%3E%3Crect width='65' height='41' fill='white' transform='translate(21 33)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li.service9 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='107' height='107' viewBox='0 0 107 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='107' height='107' rx='15' fill='%23F4F4F4'/%3E%3Cg clip-path='url(%23clip0_51_12)'%3E%3Cpath d='M40.53 31H67.86V75.17H30V41.53L40.53 31Z' fill='white'/%3E%3Cpath d='M68.86 76.17H29V41.12L40.12 30H68.87V76.17H68.86ZM31 74.17H66.86V32H40.94L31 41.94V74.17Z' fill='%233D3D3D'/%3E%3Cpath d='M40.53 31V41.53H30' fill='white'/%3E%3Cpath d='M41.53 42.53H30V40.53H39.53V31H41.53V42.53Z' fill='%233D3D3D'/%3E%3Cpath d='M62.7799 41.53H53.4299V55.37H62.7799V41.53Z' fill='%23F9C19B'/%3E%3Cpath d='M63.7699 56.37H52.4199V40.53H63.7699V56.37ZM54.4299 54.37H61.7799V42.53H54.4299V54.37Z' fill='%233D3D3D'/%3E%3Cpath d='M47.63 54.37H34.73V56.37H47.63V54.37Z' fill='%233D3D3D'/%3E%3Cpath d='M62.77 59.9301H34.73V61.9301H62.77V59.9301Z' fill='%233D3D3D'/%3E%3Cpath d='M62.77 65.49H34.73V67.49H62.77V65.49Z' fill='%233D3D3D'/%3E%3Cpath d='M47.63 48.8101H34.73V50.8101H47.63V48.8101Z' fill='%233D3D3D'/%3E%3Cpath d='M76.38 75.05L76.44 54.51L74.22 50.41L72.05 54.72L71.99 75.12L76.38 75.05Z' fill='%23F9C19B'/%3E%3Cpath d='M70.99 76.14L71.06 54.48L74.19 48.25L77.45 54.26L77.38 76.03L71 76.13L70.99 76.14ZM73.05 54.96L72.99 74.11L75.37 74.07L75.43 54.77L74.24 52.58L73.04 54.96H73.05Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_51_12'%3E%3Crect width='48.44' height='46.17' fill='white' transform='translate(29 30)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.service ul li a:hover::after {
    transform: translate(-10px, -10px);
    box-shadow: 3px 4px 10px 0 #EAEAEA ;
}

@media screen and (max-width:1300px){
    .service ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1024px){
    .service h2 {
        font-size: 22px;
    }
    .service ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .service ul li {
        margin: 0 5px 141px 5px;
    }
}
@media screen and (max-width:640px){
    .service h2 {
        font-size: 18px;
        margin-bottom: 115px;
    }
    .service ul li {
        margin: 0 5px 116px 5px;
    }
    .service ul li a {
        width: 87px;
        
    }
    .service ul li a::after {
        height: 87px;
        top: -96px;
    }
}

.tag .inner_box {
    margin: 63px 0 58px 0;
    background-color: #F2EEE9;
    width: 100%;
    height: 173px;
    border-radius: 15px;
}
.tag .inner_box ul {
    display: flex;
    justify-content: center;
    padding: 62px 0;
}
.tag .inner_box ul li {
    background-color: #fff;
    border-radius: 50px;
    margin: 0 8px;
}
.tag .inner_box ul li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    padding: 15px 18px;
    transition: 0.3s;
}
.tag .inner_box ul li a:hover {
    background-color: var(--color-main2);
    color: #fff;
}
@media screen and (max-width:1024px){
    .tag .inner_box {
        margin: -60px 0 48px 0;
        height: 173px;
    }
    .tag .inner_box ul {
        padding: 61px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tag .inner_box ul li {
        margin: 4px 6px;
    }
    .tag .inner_box ul li a {
        font-size: 14px;
        padding: 13px 13px;
    }
}
@media screen and (max-width:809px){
    .tag .inner_box ul {
        padding: 35px 0;
    }
}
@media screen and (max-width:640px){
    .tag .inner_box ul li a {
        font-size: 13px;
        padding: 13px 13px;
    }
}
@media screen and (max-width:412px){
    .tag .inner_box ul {
        padding: 12px 0;
    }
}

.news_ppzone .news_wrap {
    width: calc(60% - 24px);
    margin-right: 24px;
}
.news_ppzone .inner_box {
    display: flex;
}
.news_ppzone .tab_area .tab_btn {
}
.news_ppzone .tab_area .tab_btn ul {
    display: flex;
}
.news_ppzone .tab_area .tab_btn ul li button {
    padding: 0;
    font-size: 16px;
    color: #2d2d2d;
    font-family: 'Paprer';
    font-weight: 700;
    white-space: nowrap; /* 무조건 한줄 */
    padding: 10px 40px 0 0;
}
.news_ppzone .tab_area .tab_btn ul li button:hover {
    color: var(--color-main2);
}
.news_ppzone .tab_area .tab_btn ul li button span {
    position: relative;
}
.news_ppzone .tab_area .tab_btn ul li button span:hover::after {
    position: absolute;
    left: 50%;
    top: -8px;
    width: 8px;
    height: 8px;
    background-color: var(--color-main2);
    border-radius: 50%;
    content: "";
}
.news_ppzone .tab_area .tab_cnt div[role="tabpanel"] {
    display: none;
    position: relative;
}
.news_ppzone .tab_area .tab_cnt div[role="tabpanel"].active {
    display: block;
}
.news_ppzone .tab_cnt {
    width: 100%;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    margin: 10px 0 0 0;
    padding: 28px 7%;
}
.news_ppzone .tab_cnt .news_head {
    position: relative;
    padding: 0 0 26px 0;
    display: flex;
}
.news_ppzone .tab_cnt .news_head::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #EDEDED;
    content: "";
}
.news_ppzone .tab_cnt .news_head .date {
    background-color: var(--color-main2);
    border-radius: 10px;
    margin-right: 33px;
    padding: 16px 8px 11px 8px;
    color: #fff;
    text-align: center;
    width: 82px;
    height: 82px;
}
.news_ppzone .tab_cnt .news_head .date strong {
    font-size: 30px;
    font-weight: 800;
}
.news_ppzone .tab_cnt .news_head .txt {
    font-size: 16px;
    color: #2d2d2d;
    margin-top: 7px;
    width: calc(100% - 110px);
}
.news_ppzone .tab_cnt .news_head .txt h3 {
    font-weight: 700;
    transition: 0.1s;
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
}
.news_ppzone .tab_cnt .news_head .txt h3:hover {
    color: var(--color-main2);
}
.news_ppzone .tab_cnt .news_head .txt p {
    margin-top: 5px;
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}

.news_ppzone .tab_cnt .news_list {
    margin: 24px 0 0 0;
}
.news_ppzone .tab_cnt .news_list li {
    line-height: 1.7;
    font-size: 16px;
    position: relative;
    height: 1.7em;
    overflow: hidden;
}
.news_ppzone .tab_cnt .news_list li a {
    display: flex;
    justify-content: space-between;
}
.news_ppzone .tab_cnt .news_list li::after {
    position: absolute;
    left: 0;
    top: 13px;
    width: 4px;
    height: 4px;
    background-color: #CFCFCF;
    content: "";
}
.news_ppzone .tab_cnt .news_list li strong {
    width: calc(100% - 120px);
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news_ppzone .tab_cnt .news_list li strong:hover {
    border-bottom: 0.5px solid #9E9E9E;
}
.news_ppzone .tab_cnt .news_list span {
    width: 120px;
    padding-left: 10px;
}
.news_ppzone .tab_cnt .more {
    position: absolute;
    right: -9%;
    top: -63px;
}
.news_ppzone .tab_cnt .more a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
}
.news_ppzone .tab_cnt .more a::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.0769 26.9231L5.03378 20.2788C4.63795 19.4406 4.32503 18.5816 4.09503 17.7016C3.86503 16.8216 3.75003 15.921 3.75003 15C3.75003 13.4438 4.04524 11.9812 4.63565 10.6125C5.22607 9.24375 6.02732 8.05312 7.0394 7.04062C8.05149 6.02812 9.2417 5.22656 10.61 4.63594C11.9782 4.04531 13.4401 3.75 14.996 3.75C16.5516 3.75 18.0142 4.04521 19.3838 4.63563C20.7532 5.22604 21.9444 6.02729 22.9575 7.03938C23.9707 8.05146 24.7726 9.24167 25.3635 10.61C25.9545 11.9781 26.25 13.4401 26.25 14.9959C26.25 16.5516 25.9547 18.0142 25.3641 19.3837C24.7735 20.7531 23.9719 21.9444 22.9594 22.9575C21.9469 23.9706 20.7563 24.7726 19.3875 25.3634C18.0188 25.9545 16.5563 26.25 15 26.25C14.079 26.25 13.1785 26.135 12.2985 25.905C11.4185 25.675 10.5594 25.3621 9.72128 24.9662L3.0769 26.9231ZM4.93753 25.0625L8.93753 23.875C9.26128 23.7917 9.55815 23.7524 9.82815 23.7572C10.0982 23.762 10.3846 23.8429 10.6875 24C11.3542 24.3333 12.0521 24.5833 12.7813 24.75C13.5104 24.9167 14.25 25 15 25C17.7917 25 20.1563 24.0312 22.0938 22.0938C24.0313 20.1562 25 17.7917 25 15C25 12.2083 24.0313 9.84375 22.0938 7.90625C20.1563 5.96875 17.7917 5 15 5C12.2084 5 9.84378 5.96875 7.90628 7.90625C5.96878 9.84375 5.00003 12.2083 5.00003 15C5.00003 15.75 5.08336 16.4896 5.25003 17.2188C5.4167 17.9479 5.6667 18.6458 6.00003 19.3125C6.14586 19.5833 6.22795 19.8698 6.24628 20.1719C6.26482 20.474 6.2244 20.7708 6.12503 21.0625L4.93753 25.0625ZM14.375 19.375H15.625V15.625H19.375V14.375H15.625V10.625H14.375V14.375H10.625V15.625H14.375V19.375Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.3s;
}
.news_ppzone .tab_cnt .more a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.07666 26.9231L5.03354 20.2788C4.6377 19.4406 4.32478 18.5816 4.09478 17.7016C3.86478 16.8216 3.74979 15.921 3.74979 15C3.74979 13.4438 4.04499 11.9812 4.63541 10.6125C5.22583 9.24375 6.02708 8.05312 7.03916 7.04062C8.05124 6.02812 9.24145 5.22656 10.6098 4.63594C11.9779 4.04531 13.4399 3.75 14.9957 3.75C16.5513 3.75 18.014 4.04521 19.3835 4.63563C20.7529 5.22604 21.9442 6.02729 22.9573 7.03938C23.9704 8.05146 24.7724 9.24167 25.3632 10.61C25.9543 11.9781 26.2498 13.4401 26.2498 14.9959C26.2498 16.5516 25.9545 18.0142 25.3638 19.3837C24.7732 20.7531 23.9717 21.9444 22.9592 22.9575C21.9467 23.9706 20.756 24.7726 19.3873 25.3634C18.0185 25.9545 16.556 26.25 14.9998 26.25C14.0787 26.25 13.1782 26.135 12.2982 25.905C11.4182 25.675 10.5592 25.3621 9.72104 24.9662L3.07666 26.9231ZM4.93729 25.0625L8.93729 23.875C9.26104 23.7917 9.55791 23.7524 9.82791 23.7572C10.0979 23.762 10.3844 23.8429 10.6873 24C11.354 24.3333 12.0519 24.5833 12.781 24.75C13.5102 24.9167 14.2498 25 14.9998 25C17.7915 25 20.156 24.0312 22.0935 22.0938C24.031 20.1562 24.9998 17.7917 24.9998 15C24.9998 12.2083 24.031 9.84375 22.0935 7.90625C20.156 5.96875 17.7915 5 14.9998 5C12.2081 5 9.84354 5.96875 7.90604 7.90625C5.96854 9.84375 4.99979 12.2083 4.99979 15C4.99979 15.75 5.08312 16.4896 5.24979 17.2188C5.41645 17.9479 5.66645 18.6458 5.99979 19.3125C6.14562 19.5833 6.2277 19.8698 6.24604 20.1719C6.26458 20.474 6.22416 20.7708 6.12479 21.0625L4.93729 25.0625ZM14.3748 19.375H15.6248V15.625H19.3748V14.375H15.6248V10.625H14.3748V14.375H10.6248V15.625H14.3748V19.375Z' fill='%23DC6921'/%3E%3C/svg%3E%0A");
}


.news_ppzone .popup_wrap {
    width: 40%;
    height: 340px;
    position: relative; 
}
.news_ppzone .pop_tit h2 {
    font-family: 'Paper';
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 8px;
}
.news_ppzone .ppzone .swiper { 
    
}
.news_ppzone .ppzone li {
    width: 511px;
}
.news_ppzone .ppzone li a {
    display: block;
}
.news_ppzone .ppzone li .photo {
    overflow: hidden;
    border-radius: 15px;
    height: 340px;
}
.news_ppzone .ppzone li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news_ppzone .ppzone .box_footer {
    position: absolute;
    left: 0;
    bottom: -34px;
    width: 100%;
    height: 35px;
    background-color: rgba(27, 27, 27, 0.7);
    color: rgba(255, 255, 255, 0.8);
    z-index: 60;
    content: "";
    border-radius: 0 0 15px 15px;

    display: flex;
    justify-content: space-between
}
.news_ppzone .ppzone .box_footer .more {
    padding: 8px 20px;
    display: inline-block;
}
.news_ppzone .ppzone .box_footer .btn_wrap {
    display: flex;
    padding: 8px 20px;
}
.news_ppzone .ppzone .box_footer .btn_wrap .paging {
    width: 40px;
}
.news_ppzone .ppzone button.btn_play {
    display: none;
}
.news_ppzone .ppzone button.btn_play,
.news_ppzone .ppzone button.btn_stop {
    position: relative;
    width: 21px;
    height: 21px;
    font-size: 0;
    line-height: 0;
}
.news_ppzone .ppzone button.btn_play::before {
    position: absolute;
    right: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.0961V5.90405L18.0768 12.0001L8.5 18.0961ZM10 15.3501L15.2693 12.0001L10 8.65005V15.3501Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.news_ppzone .ppzone button.btn_stop::before {
    position: absolute;
    right: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 15.75V5.25H15V15.75H11.25ZM5 15.75V5.25H8.75V15.75H5ZM12.0833 14.875H14.1667V6.125H12.0833V14.875ZM5.83333 14.875H7.91667V6.125H5.83333V14.875Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.news_ppzone .ppzone button.btn_prev,
.news_ppzone .ppzone button.btn_next {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
}
.news_ppzone .ppzone button.btn_prev::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6628 1.79475L11.3718 2.50375L5.87566 7.99991L11.3718 13.4961L10.6628 14.2051L4.45766 7.99991L10.6628 1.79475Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}
.news_ppzone .ppzone button.btn_next::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33717 14.2053L4.62817 13.4963L10.1243 8.00009L4.62817 2.50392L5.33717 1.79492L11.5423 8.00009L5.33717 14.2053Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){ 
    .news_ppzone .news_wrap {
        width: 100%;
        margin-right: 24px;
        margin-bottom: 30px;
    }
    .news_ppzone .inner_box {
        display: block;
    }
    .news_ppzone .tab_area .tab_btn ul li button {
        padding: 10px 50px 0 0;
    }
    .news_ppzone .tab_cnt {
        padding: 25px 4%;
    }
    .news_ppzone .tab_cnt .news_head {
        padding: 0 0 22px 0;
    }
    .news_ppzone .tab_cnt .news_head .txt {
        font-size: 15px;
    }

    .news_ppzone .tab_cnt .news_list {
        margin: 14px 0 0 0;
    }
    .news_ppzone .tab_cnt .news_list li {
        font-size: 15px;
    }
    .news_ppzone .tab_cnt .news_list li::after {
        top: 11px;
        width: 3px;
        height: 3px;
    }
    .news_ppzone .tab_cnt .news_list li strong {
        width: calc(100% - 120px);
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .news_ppzone .tab_cnt .news_list li strong:hover {
        border-bottom: 0.5px solid #9E9E9E;
    }
    .news_ppzone .tab_cnt .news_list span {
        width: 120px;
        padding-left: 10px;
    }
    .news_ppzone .tab_cnt .more {
        right: -4%;
    }
}
@media screen and (max-width:640px){ 
    .news_ppzone .tab_area .tab_btn ul li button {
        padding: 10px 20px 0 0;
    }
    .news_ppzone .tab_cnt .more {
        position: relative;
        right: auto;
        top: auto;
        background-color: #fff;
        border: 1px solid #B4B4B4;
        margin-top: 19px;
        
        text-align: center;
    }
    .news_ppzone .tab_cnt .more a {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        font-size: 14px;
        line-height: 1.5;
        padding: 3px 0;
    }
    .news_ppzone .tab_cnt .more a::before {
        display: none;
    }
    .news_ppzone .tab_cnt .more a:hover {
        background-color: var(--color-main2);
        border: 0;
        color: #fff;
    }
}