@import url(fonts.css);
@import url(default.css);

body, html {
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2d2d2d;
    word-break: keep-all;
}

#wrap{
    min-width: 1260px;}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

