@import url(layout.css);
@import url(default.css);
@import url(fonts.css);
@import url(common.css);

#fp-nav {
    left: 4%;
}
.section {
    text-align: center;
    font-size: 50px;
}

header

.visual {
    background-color: #5d5d5d;
}
.history {
    background-color: darkolivegreen;
}
.research {
    background-color: darkcyan;
}
.contest {
    background-color: darkgoldenrod;
}
.news {
    background-color: forestgreen;
}
footer {
    background-color: brown;
    height: 300px;
}