* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: '맑은고딕';
    font-size: 15px;
    background-color: #fff;
    color: #333;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 100px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
header h1 {
    padding-top: 25px;
}
header .gnb .depth1 {
    display: flex;
}
header .gnb .depth1 > li {
    width: 170px;
    text-align: center;
    position: relative;
}
header .gnb .depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 22px;
}
header .gnb .depth1 > li:hover > a {
    color: #0066ed;
}
header .gnb .depth1 > li.over > .depth2 {
    display: block;
}
header .gnb .depth2 {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    display: none;
}
header .gnb .depth2 > li > a {
    line-height: 40px;
    display: block;
    background-color: #0066ed;
    color: #fff;
}
header .gnb .depth2 > li > a:hover {
    background-color: #30a3f3;
}
.popup {
    height: 300px;
    background-color: #ededed;
    overflow: hidden;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 400px;
    position: relative;
}
.news .tab {
    display: flex;
}
.news .tab > li > button {
    border: 0;
    background-color: #ededed;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}
.news .tab > li.active > button {
    background-color: #0066ed;
    color: #fff;
}
.news .tab > li.active .detail {
    display: block;
}
.news .detail{
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
.news .notice ul li a {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.news .notice ul li a:hover {
    color: #0066ed;
    text-decoration: underline;
}
.news .tab > .gall {
    display: flex;
    justify-content: space-around;
}
.news .gall ul {
    display: flex;
    justify-content: space-around;
}
.news .gall ul li a {
    display: block;

}
.news .gall ul li a:hover {
    opacity: 0.5;
}
.banner {
    width: 380px;
    background-color: #ededed;
}
.link {
    width: 380px;
}
.layer_popup {
    position: absolute;
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    background-color: #30a3f3;
    color: #fff;
    padding: 40px 50px;
}
.layer_popup h2 {
    font-size: 22px;
}
.layer_popup p {
    padding: 20px 0;
    font-size: 16px;
}
.layer_popup button {
    border: 0;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
footer {
    height: 100px;
    padding-top: 20px;
}