*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 15px;
    font-family: 'malgun gothic';
    background-color: #fff;
    color: #222328;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
header {
    width: 200px;
    padding-right: 20px;
    position: relative;
    z-index: 100;
}
header h1 {
    padding-top: 20px;
}
header .gnb .depth1 {
    margin: 10px 0 0 15px;
}
header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
    border: 1px solid #9a4bd2;
    border-bottom: none;
    position: relative;
}
header .gnb .depth1 > li:last-child {
    border-bottom: 1px solid #9a4bd2;
}
header .gnb .depth1 > li > a {
    display: block;
    font-size: 19px;
    line-height: 35px;
    transition: 0.2s;
}
header .gnb .depth1 > li:hover > a {
    background-color: #9a4bd2;
    color: #fff;
}
header .gnb .depth1 > li.over .depth2 {
    display: block;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 140px;
    top: -10px;
    width: 100%;
    z-index: 3;
}
header .gnb .depth2 > li {
    background-color: #d9cd8c;
}
header .gnb .depth2 > li >a {
    display: block;
    padding: 5px 0;
}
header .gnb .depth2 > li >a:hover {
    background-color: #9a4bd2;
    color: #fff;
}
.inner_box {
    width: 800px;
}
.popup {
    height: 350px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.popup ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 2400px;
    display: flex;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 300px;
    position: relative;
}
.news .tab {
    display: flex;
}
.news .tab li {
    margin-right: 10px;
}
.news .tab li button {
    cursor: pointer;
    border: 0;
    background-color: #ededed;
    padding: 5px 10px;
    font-size: 17px;

}
.news .tab li.active button {
    background-color: #d9cd8c;
}
.news .detail {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
.news .detail li a {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.news .detail li a:hover {
    text-decoration: underline;
}
.news .tab li.active .detail {
    display: block;
}
.news .gall ul {
    display: flex;
    justify-content: space-between;
}
.news .gall ul li a {
    transition: 0.3s;
}
.news .gall ul li a:hover {
    opacity: 0.5;
}
.banner {
    width: 230px;
    
}
.link {
    width: 230px;
}
.layer_popup {
    position: absolute;
    left: 900px;
    top: 300px;
    width: 400px;
    background-color: #d9cd8c;
    padding: 30px 40px;
}
.layer_popup h2 {
    font-size: 25px;
}
.layer_popup p {
    font-size: 17px;
    padding: 15px 0;
}
.layer_popup button {
    cursor: pointer;
    font-size: 15px;
    border: 0;
    background-color: #fff;
    padding: 3px 6px;
}
footer {
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
}
footer .f_logo {
    margin-top: 30px;
}
footer .f_nav {
    margin: 20px 0 10px 50px;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-left: 10px;
}
footer .copy {
    color: #666;
}