@import url(default.css);
@import url(fonts.css);


body, html {
    font-family: "pretendard", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #2d2d2d;
    letter-spacing: 0;
    line-height: 1.3px;
    word-break: keep-all;
}

#wrap{min-width: 1260px;}

.wrapprer{
    width: 1260px;
    margin: 0 auto;
}

.visual {
    background: url(../images/visual_bg1.png) no-repeat center center / cover;
    height: 800px;
}