*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-size: 15px;
    font-family: 'malgun gothic';
    background-color: #fff;
    color: #333;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
header h1 {
    padding-top: 25px;
}
header .gnb .depth1 {
    display: flex;
    justify-content: space-between;
}
header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
    position: relative;
}
header .gnb .depth1 > li > a {
    line-height: 100px;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
header .gnb .depth1 > li:hover > a {
    color: #30a3f3;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #30a3f3;
    color: #fff;
}
header .gnb .depth2 > li > a {
    font-size: 16px;
    display: block;
    line-height: 40px;
}
header .gnb .depth2 > li > a:hover {
    background-color: #0066ad;
}
header .gnb .depth1 > li.over .depth2 {
    display: block;
}
.popup {
    height: 300px;
    background-color: #ededed;
    overflow: hidden;
    position: relative;
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 400px;
    position: relative;
}
.news .tab {
    display: flex;
}
.news .tab > li {
    margin-right: 10px;
}
.news .tab > li button {
    cursor: pointer;
    border: 0;
    background-color: #ededed;
    font-size: 17px;
    padding: 5px 10px;
}
.news .tab > li.active button {
    background-color: #0066ad;
    color: #fff;
}
.news .detail {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
.news .detail li a {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}
.news .detail li a:hover {
    color: #0066ad;
    text-decoration: underline;
}
.news .tab li.active .detail {
    display: block;
}
.news .gall ul {
    display: flex;
    justify-content: space-around;
}
.news .gall ul li a {
    transition: 0.5s;
}
.news .gall ul li a:hover {
    opacity: 0.5;
}
.banner {
    width: 380px;
}
.link {
    width: 380px;
}
.layer_popup {
    position: absolute;
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    z-index: 200;
    background-color: #30a3f3;
    color: #fff;
    padding: 30px 50px;
}
.layer_popup h2 {
    font-size: 25px;
}
.layer_popup p {
    padding: 15px 0;
    font-size: 17px;
}
.layer_popup button {
    cursor: pointer;
    font-size: 15px;
    border: 0;
    background-color: #fff;
    padding: 3px 6px;
}
footer {
    background-color: #f7f7f7;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
footer .f_logo {
    margin-top: 30px;
}
footer .f_nav {
    margin: 20px 0 10px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 20px;
}
footer .copy {
    color: #666;
}