/* header와 footer처럼 페이지에 공통으로 배치되는 요소 */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 16px;
}
header .logo a {
    width: 155px;
    height: 51px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='52' viewBox='0 0 155 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_5)'%3E%3Cpath d='M123.402 12.5586C123.402 12.9955 123.466 13.4482 123.641 13.8772C124.411 15.7836 126.373 16.9592 128.867 15.9663C129.463 15.728 145.962 9.07935 145.962 9.07935C145.962 9.07935 139.464 25.554 139.218 26.1657C138.272 28.5249 139.408 30.6617 141.339 31.3766C141.768 31.5354 142.212 31.6149 142.649 31.6069C144.23 31.599 145.62 30.6696 146.303 28.8109C146.407 28.5328 154.533 6.21971 154.707 5.6875C154.811 5.36976 155.001 4.62308 155.001 4.10676C155.001 3.00262 154.596 1.96203 153.81 1.17563C153.039 0.397172 152.007 0 150.918 0C150.386 0 149.957 0.0953213 149.306 0.301851C148.917 0.428946 127.97 8.22146 126.183 8.88871C124.395 9.55596 123.402 10.9858 123.41 12.5586' fill='%23ED1C24'/%3E%3Cpath d='M84.1526 25.1409V24.6643H71.451V27.9132H78.8305C76.9082 33.9978 70.0371 37.5724 70.0371 37.5724L71.872 40.1381C71.872 40.1381 84.1526 35.0702 84.1526 25.133V25.1409Z' fill='white'/%3E%3Cpath d='M80.1406 46.7154V40.4004H75.6367V47.5177C75.6367 49.7419 77.4081 51.3464 79.8388 51.3464H93.7954V48.1055H81.7135C80.6173 48.1055 80.1565 47.6686 80.1327 46.7154H80.1406Z' fill='white'/%3E%3Cpath d='M83.6445 30.6537V33.9025H89.0064V41.7348H93.5103V24.3228H89.0064V30.6537H83.6445Z' fill='white'/%3E%3Cpath d='M122.456 37.3739H126.96V24.1877H122.456V28.2945H117.762V31.5037H122.456V37.3739Z' fill='white'/%3E%3Cpath d='M21.431 40.1541H4.28906V47.5176C4.28906 49.7418 6.06045 51.3464 8.49114 51.3464H22.4319V41.1549C22.4319 40.5989 21.9791 40.1541 21.431 40.1541ZM17.9279 48.1054H10.3658C9.2696 48.1054 8.80094 47.6765 8.78505 46.7153V43.4109H17.9279V48.1054Z' fill='white'/%3E%3Cpath d='M22.7341 24.712V24.561H4.04321V27.8099H18.0237C18.0237 28.0244 18.0237 28.2945 18.0237 28.5566C18.0237 31.5751 17.8727 33.561 17.7933 34.3712H0V37.62H27.4128V34.3712H21.8047C22.0748 33.3544 22.7421 30.2088 22.7421 24.712H22.7341Z' fill='white'/%3E%3Cpath d='M50.7276 41.7904C54.469 40.9722 57.2333 38.1682 57.2333 34.8479C57.2333 33.0606 56.431 31.4242 55.1124 30.1612H59.8944V26.9124H50.7276V23.8462H46.2317V26.9124H37.0649V30.1612H41.8469C40.5283 31.4242 39.726 33.0526 39.726 34.8479C39.726 38.1762 42.4903 40.9722 46.2396 41.7904V45.079H34.7852V48.3279H62.19V45.079H50.7356V41.7904H50.7276ZM44.3491 34.7446C44.3491 32.5284 46.1999 30.7173 48.4717 30.7173C50.7435 30.7173 52.5943 32.5204 52.5943 34.7446C52.5943 36.9688 50.7435 38.7719 48.4717 38.7719C46.1999 38.7719 44.3491 36.9688 44.3491 34.7446Z' fill='white'/%3E%3Cpath d='M113.844 37.0957H118.205C118.023 36.0392 116.426 27.5079 112.272 24.553H107.243L103.375 37.1989H107.895L110.468 28.0958C112.637 30.6377 113.694 36.2616 113.837 37.0957H113.844Z' fill='white'/%3E%3Cpath d='M114.744 48.2165C113.6 48.2165 113.393 47.9226 113.393 46.9535V46.5483H126.969V39.717C126.969 39.1292 126.54 38.6685 125.928 38.6685H108.969V41.7982H122.655V43.4742H109.088V47.5174C109.088 49.8608 110.772 51.3462 113.29 51.3462H127.262V48.2165H114.744Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_5'%3E%3Crect width='155' height='51.3465' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을때 */
header.fiexd {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
}
header.fiexd .logo a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='52' viewBox='0 0 155 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.402 12.5586C123.402 12.9955 123.466 13.4482 123.641 13.8772C124.411 15.7836 126.373 16.9592 128.867 15.9663C129.463 15.728 145.962 9.07935 145.962 9.07935C145.962 9.07935 139.464 25.554 139.218 26.1657C138.272 28.5249 139.408 30.6617 141.339 31.3766C141.768 31.5354 142.212 31.6149 142.649 31.6069C144.23 31.599 145.62 30.6696 146.303 28.8109C146.407 28.5328 154.533 6.21971 154.707 5.6875C154.811 5.36976 155.001 4.62308 155.001 4.10676C155.001 3.00262 154.596 1.96203 153.81 1.17563C153.039 0.397172 152.007 0 150.918 0C150.386 0 149.957 0.0953213 149.306 0.301851C148.917 0.428946 127.97 8.22146 126.183 8.88871C124.395 9.55596 123.402 10.9858 123.41 12.5586' fill='%23ED1C24'/%3E%3Cpath d='M84.1526 25.1409V24.6643H71.451V27.9132H78.8305C76.9082 33.9978 70.0371 37.5724 70.0371 37.5724L71.872 40.1381C71.872 40.1381 84.1526 35.0702 84.1526 25.133V25.1409Z' fill='%23454B52'/%3E%3Cpath d='M80.1406 46.7154V40.4004H75.6367V47.5177C75.6367 49.7419 77.4081 51.3464 79.8388 51.3464H93.7954V48.1055H81.7135C80.6173 48.1055 80.1565 47.6686 80.1327 46.7154H80.1406Z' fill='%23454B52'/%3E%3Cpath d='M83.6445 30.6537V33.9025H89.0064V41.7348H93.5103V24.3228H89.0064V30.6537H83.6445Z' fill='%23454B52'/%3E%3Cpath d='M122.456 37.3739H126.96V24.1877H122.456V28.2945H117.762V31.5037H122.456V37.3739Z' fill='%23454B52'/%3E%3Cpath d='M21.431 40.1541H4.28906V47.5176C4.28906 49.7418 6.06045 51.3464 8.49114 51.3464H22.4319V41.1549C22.4319 40.5989 21.9791 40.1541 21.431 40.1541ZM17.9279 48.1054H10.3658C9.2696 48.1054 8.80094 47.6765 8.78505 46.7153V43.4109H17.9279V48.1054Z' fill='%23454B52'/%3E%3Cpath d='M22.7341 24.712V24.561H4.04321V27.8099H18.0237C18.0237 28.0244 18.0237 28.2945 18.0237 28.5566C18.0237 31.5751 17.8727 33.561 17.7933 34.3712H0V37.62H27.4128V34.3712H21.8047C22.0748 33.3544 22.7421 30.2088 22.7421 24.712H22.7341Z' fill='%23454B52'/%3E%3Cpath d='M50.7276 41.7904C54.469 40.9722 57.2333 38.1682 57.2333 34.8479C57.2333 33.0606 56.431 31.4242 55.1124 30.1612H59.8944V26.9124H50.7276V23.8462H46.2317V26.9124H37.0649V30.1612H41.8469C40.5283 31.4242 39.726 33.0526 39.726 34.8479C39.726 38.1762 42.4903 40.9722 46.2396 41.7904V45.079H34.7852V48.3279H62.19V45.079H50.7356V41.7904H50.7276ZM44.3491 34.7446C44.3491 32.5284 46.1999 30.7173 48.4717 30.7173C50.7435 30.7173 52.5943 32.5204 52.5943 34.7446C52.5943 36.9688 50.7435 38.7719 48.4717 38.7719C46.1999 38.7719 44.3491 36.9688 44.3491 34.7446Z' fill='%23454B52'/%3E%3Cpath d='M113.844 37.0957H118.205C118.023 36.0392 116.426 27.5079 112.272 24.553H107.243L103.375 37.1989H107.895L110.468 28.0958C112.637 30.6377 113.694 36.2616 113.837 37.0957H113.844Z' fill='%23454B52'/%3E%3Cpath d='M114.744 48.2165C113.6 48.2165 113.393 47.9226 113.393 46.9535V46.5483H126.969V39.717C126.969 39.1292 126.54 38.6685 125.928 38.6685H108.969V41.7982H122.655V43.4742H109.088V47.5174C109.088 49.8608 110.772 51.3462 113.29 51.3462H127.262V48.2165H114.744Z' fill='%23454B52'/%3E%3C/svg%3E%0A");
}
header.fiexd .tnb .lang::before {
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    align-items: flex-start;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .ARTERA {
    border: 1px solid #1d1d1d;
}
header .tnb .ARTERA::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    
}
@media screen and (min-width:1025px){
    /* 1025px이상일 경우 - pc형 */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 152px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /*li와 사이즈가 동일하게 바뀜*/
        line-height: 100px;  /* header의 높이와 동일한 값 */
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #FF0000;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a span::after {
        position: absolute;
        right: -8px;
        top: -3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #FF0000;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        padding-top: 22px;
        /* 1차 메뉴 a와 2차메뉴 사이의 여백은 반드시 padding으로 줘야함.
           padding으로 안주면 2차 메뉴로 이동시 메뉴가 아웃됨 */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        color: #FF0000;
        font-weight: 700;
    }
    header .tnb {
        display: flex;
        margin-top: 35px;
        font-size: 20px;
        font-weight: 700;
    }
    header .tnb .lang {
        padding-left: 25px; /* 왼쪽에 아이콘 들어갈 자리를 만들어줌 - 내부여백으로 처리 
                                아이콘을 클릭해도 링크가 적용되어야 함
                                (아이콘까지 a태그이어야함) */
        display: block;
        position: relative;
        margin-right: 27px;
        margin-top: 3px;
    }
    header .tnb .lang:hover {
        color: #FF0000;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        align-items: flex-start;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .lang:hover::before{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='%23FF0000'/%3E%3C/svg%3E%0A");
    }
    header .tnb .ARTERA {
        display: block;
        width: 136px;
        height: 32px;
        line-height: 32px;
        padding-left: 20px;
        border: 1px solid #1d1d1d;
        border-radius: 50px;
        position: relative;    
    }
    header .tnb .ARTERA:hover {
        color: #fff;
        border: 1px solid #FF0000;
        background-color: #FF0000;
    }
    header .tnb .ARTERA::after {
        position: absolute;
        right: 20px;
        top: 7px;
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .ARTERA:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.memu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 366px;
        background-color: #fff;
        content: "";
        z-index: -1;
    }
    header.memu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: block;
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
    }
}/*media*/