/* header와 footer처럼 페이지에 공통으로 배치되는 요소 */

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야함 (상단에 숨겨져 있어야함) */
    width: 100%;
    z-index: 9999999999;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3d3d3d;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px; /* a가 포커스되면 올라간 만큼 다시 내려옴 */
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 16px;
}
header .logo a {
    width: 155px;
    height: 51px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='52' viewBox='0 0 155 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_5)'%3E%3Cpath d='M123.402 12.5586C123.402 12.9955 123.466 13.4482 123.641 13.8772C124.411 15.7836 126.373 16.9592 128.867 15.9663C129.463 15.728 145.962 9.07935 145.962 9.07935C145.962 9.07935 139.464 25.554 139.218 26.1657C138.272 28.5249 139.408 30.6617 141.339 31.3766C141.768 31.5354 142.212 31.6149 142.649 31.6069C144.23 31.599 145.62 30.6696 146.303 28.8109C146.407 28.5328 154.533 6.21971 154.707 5.6875C154.811 5.36976 155.001 4.62308 155.001 4.10676C155.001 3.00262 154.596 1.96203 153.81 1.17563C153.039 0.397172 152.007 0 150.918 0C150.386 0 149.957 0.0953213 149.306 0.301851C148.917 0.428946 127.97 8.22146 126.183 8.88871C124.395 9.55596 123.402 10.9858 123.41 12.5586' fill='%23ED1C24'/%3E%3Cpath d='M84.1526 25.1409V24.6643H71.451V27.9132H78.8305C76.9082 33.9978 70.0371 37.5724 70.0371 37.5724L71.872 40.1381C71.872 40.1381 84.1526 35.0702 84.1526 25.133V25.1409Z' fill='white'/%3E%3Cpath d='M80.1406 46.7154V40.4004H75.6367V47.5177C75.6367 49.7419 77.4081 51.3464 79.8388 51.3464H93.7954V48.1055H81.7135C80.6173 48.1055 80.1565 47.6686 80.1327 46.7154H80.1406Z' fill='white'/%3E%3Cpath d='M83.6445 30.6537V33.9025H89.0064V41.7348H93.5103V24.3228H89.0064V30.6537H83.6445Z' fill='white'/%3E%3Cpath d='M122.456 37.3739H126.96V24.1877H122.456V28.2945H117.762V31.5037H122.456V37.3739Z' fill='white'/%3E%3Cpath d='M21.431 40.1541H4.28906V47.5176C4.28906 49.7418 6.06045 51.3464 8.49114 51.3464H22.4319V41.1549C22.4319 40.5989 21.9791 40.1541 21.431 40.1541ZM17.9279 48.1054H10.3658C9.2696 48.1054 8.80094 47.6765 8.78505 46.7153V43.4109H17.9279V48.1054Z' fill='white'/%3E%3Cpath d='M22.7341 24.712V24.561H4.04321V27.8099H18.0237C18.0237 28.0244 18.0237 28.2945 18.0237 28.5566C18.0237 31.5751 17.8727 33.561 17.7933 34.3712H0V37.62H27.4128V34.3712H21.8047C22.0748 33.3544 22.7421 30.2088 22.7421 24.712H22.7341Z' fill='white'/%3E%3Cpath d='M50.7276 41.7904C54.469 40.9722 57.2333 38.1682 57.2333 34.8479C57.2333 33.0606 56.431 31.4242 55.1124 30.1612H59.8944V26.9124H50.7276V23.8462H46.2317V26.9124H37.0649V30.1612H41.8469C40.5283 31.4242 39.726 33.0526 39.726 34.8479C39.726 38.1762 42.4903 40.9722 46.2396 41.7904V45.079H34.7852V48.3279H62.19V45.079H50.7356V41.7904H50.7276ZM44.3491 34.7446C44.3491 32.5284 46.1999 30.7173 48.4717 30.7173C50.7435 30.7173 52.5943 32.5204 52.5943 34.7446C52.5943 36.9688 50.7435 38.7719 48.4717 38.7719C46.1999 38.7719 44.3491 36.9688 44.3491 34.7446Z' fill='white'/%3E%3Cpath d='M113.844 37.0957H118.205C118.023 36.0392 116.426 27.5079 112.272 24.553H107.243L103.375 37.1989H107.895L110.468 28.0958C112.637 30.6377 113.694 36.2616 113.837 37.0957H113.844Z' fill='white'/%3E%3Cpath d='M114.744 48.2165C113.6 48.2165 113.393 47.9226 113.393 46.9535V46.5483H126.969V39.717C126.969 39.1292 126.54 38.6685 125.928 38.6685H108.969V41.7982H122.655V43.4742H109.088V47.5174C109.088 49.8608 110.772 51.3462 113.29 51.3462H127.262V48.2165H114.744Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_5'%3E%3Crect width='155' height='51.3465' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을때 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
    
}
header.fixed .logo a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='52' viewBox='0 0 155 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.402 12.5586C123.402 12.9955 123.466 13.4482 123.641 13.8772C124.411 15.7836 126.373 16.9592 128.867 15.9663C129.463 15.728 145.962 9.07935 145.962 9.07935C145.962 9.07935 139.464 25.554 139.218 26.1657C138.272 28.5249 139.408 30.6617 141.339 31.3766C141.768 31.5354 142.212 31.6149 142.649 31.6069C144.23 31.599 145.62 30.6696 146.303 28.8109C146.407 28.5328 154.533 6.21971 154.707 5.6875C154.811 5.36976 155.001 4.62308 155.001 4.10676C155.001 3.00262 154.596 1.96203 153.81 1.17563C153.039 0.397172 152.007 0 150.918 0C150.386 0 149.957 0.0953213 149.306 0.301851C148.917 0.428946 127.97 8.22146 126.183 8.88871C124.395 9.55596 123.402 10.9858 123.41 12.5586' fill='%23ED1C24'/%3E%3Cpath d='M84.1526 25.1409V24.6643H71.451V27.9132H78.8305C76.9082 33.9978 70.0371 37.5724 70.0371 37.5724L71.872 40.1381C71.872 40.1381 84.1526 35.0702 84.1526 25.133V25.1409Z' fill='%23454B52'/%3E%3Cpath d='M80.1406 46.7154V40.4004H75.6367V47.5177C75.6367 49.7419 77.4081 51.3464 79.8388 51.3464H93.7954V48.1055H81.7135C80.6173 48.1055 80.1565 47.6686 80.1327 46.7154H80.1406Z' fill='%23454B52'/%3E%3Cpath d='M83.6445 30.6537V33.9025H89.0064V41.7348H93.5103V24.3228H89.0064V30.6537H83.6445Z' fill='%23454B52'/%3E%3Cpath d='M122.456 37.3739H126.96V24.1877H122.456V28.2945H117.762V31.5037H122.456V37.3739Z' fill='%23454B52'/%3E%3Cpath d='M21.431 40.1541H4.28906V47.5176C4.28906 49.7418 6.06045 51.3464 8.49114 51.3464H22.4319V41.1549C22.4319 40.5989 21.9791 40.1541 21.431 40.1541ZM17.9279 48.1054H10.3658C9.2696 48.1054 8.80094 47.6765 8.78505 46.7153V43.4109H17.9279V48.1054Z' fill='%23454B52'/%3E%3Cpath d='M22.7341 24.712V24.561H4.04321V27.8099H18.0237C18.0237 28.0244 18.0237 28.2945 18.0237 28.5566C18.0237 31.5751 17.8727 33.561 17.7933 34.3712H0V37.62H27.4128V34.3712H21.8047C22.0748 33.3544 22.7421 30.2088 22.7421 24.712H22.7341Z' fill='%23454B52'/%3E%3Cpath d='M50.7276 41.7904C54.469 40.9722 57.2333 38.1682 57.2333 34.8479C57.2333 33.0606 56.431 31.4242 55.1124 30.1612H59.8944V26.9124H50.7276V23.8462H46.2317V26.9124H37.0649V30.1612H41.8469C40.5283 31.4242 39.726 33.0526 39.726 34.8479C39.726 38.1762 42.4903 40.9722 46.2396 41.7904V45.079H34.7852V48.3279H62.19V45.079H50.7356V41.7904H50.7276ZM44.3491 34.7446C44.3491 32.5284 46.1999 30.7173 48.4717 30.7173C50.7435 30.7173 52.5943 32.5204 52.5943 34.7446C52.5943 36.9688 50.7435 38.7719 48.4717 38.7719C46.1999 38.7719 44.3491 36.9688 44.3491 34.7446Z' fill='%23454B52'/%3E%3Cpath d='M113.844 37.0957H118.205C118.023 36.0392 116.426 27.5079 112.272 24.553H107.243L103.375 37.1989H107.895L110.468 28.0958C112.637 30.6377 113.694 36.2616 113.837 37.0957H113.844Z' fill='%23454B52'/%3E%3Cpath d='M114.744 48.2165C113.6 48.2165 113.393 47.9226 113.393 46.9535V46.5483H126.969V39.717C126.969 39.1292 126.54 38.6685 125.928 38.6685H108.969V41.7982H122.655V43.4742H109.088V47.5174C109.088 49.8608 110.772 51.3462 113.29 51.3462H127.262V48.2165H114.744Z' fill='%23454B52'/%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){
    /* 1025px이상일 경우 - pc형 */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 152px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /*li와 사이즈가 동일하게 바뀜*/
        line-height: 100px;  /* header의 높이와 동일한 값 */
        font-size: 20px;
        font-weight: 700;
    }
    
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a span::after {
        position: absolute;
        right: -8px;
        top: -3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #ED1C24;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a > span::before {
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: "";
        /* 서브페이지에서 마우스 선택되었을때 메뉴 디자인 */
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        padding-top: 22px;
        /* 1차 메뉴 a와 2차메뉴 사이의 여백은 반드시 padding으로 줘야함.
           padding으로 안주면 2차 메뉴로 이동시 메뉴가 아웃됨 */
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        color: #ED1C24;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 20px;
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 3px;
        top: 9px;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.46628 13V11.3932H11.3932V1.60677H6.46628V0H11.3932C11.8379 0 12.2169 0.156616 12.5302 0.469847C12.8434 0.783079 13 1.16205 13 1.60677V11.3932C13 11.8379 12.8434 12.2169 12.5302 12.5302C12.2169 12.8434 11.8379 13 11.3932 13H6.46628ZM4.92272 10.2341L3.81228 9.07913L5.58803 7.30338H0V5.69662H5.58803L3.81228 3.92087L4.92272 2.76594L8.65254 6.5L4.92272 10.2341Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.46628 13V11.3932H11.3932V1.60677H6.46628V0H11.3932C11.8379 0 12.2169 0.156616 12.5302 0.469847C12.8434 0.783079 13 1.16205 13 1.60677V11.3932C13 11.8379 12.8434 12.2169 12.5302 12.5302C12.2169 12.8434 11.8379 13 11.3932 13H6.46628ZM4.92272 10.2341L3.81228 9.07913L5.58803 7.30338H0V5.69662H5.58803L3.81228 3.92087L4.92272 2.76594L8.65254 6.5L4.92272 10.2341Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        margin-top: 35px;
        font-size: 20px;
        font-weight: 700;
    }
    header .tnb .lang {
        padding-left: 25px; /* 왼쪽에 아이콘 들어갈 자리를 만들어줌 - 내부여백으로 처리 
                                아이콘을 클릭해도 링크가 적용되어야 함
                                (아이콘까지 a태그이어야함) */
        display: block;
        position: relative;
        margin-right: 27px;
        margin-top: 3px;
    }
    header .tnb .lang:hover {
        color: #ED1C24;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        align-items: flex-start;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .lang:hover::before{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .tnb .artera {
        display: block;
        width: 136px;
        height: 32px;
        line-height: 32px;
        padding-left: 20px;
        border: 1px solid #fff;
        border-radius: 50px;
        position: relative;    
    }
    header .tnb .artera:hover {
        color: #fff;
        border: 1px solid #ED1C24;
        background-color: #ED1C24;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 20px;
        top: 7px;
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.memu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 410px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        content: "";
        z-index: -1;
    }
    header.memu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.memu_over .gnb .gnb_wrap ul.depth2 {
        display: block;   
    }
    header.fixed .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        align-items: flex-start;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .tnb .lang.lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0007 17.9166C8.91523 17.9166 7.89093 17.7085 6.92773 17.2924C5.96454 16.8763 5.12454 16.3098 4.40773 15.5928C3.69079 14.876 3.12426 14.036 2.70815 13.0728C2.29204 12.1096 2.08398 11.0853 2.08398 9.99992C2.08398 8.90589 2.29204 7.87943 2.70815 6.92054C3.12426 5.96165 3.69079 5.12381 4.40773 4.407C5.12454 3.69006 5.96454 3.12353 6.92773 2.70742C7.89093 2.29131 8.91523 2.08325 10.0007 2.08325C11.0947 2.08325 12.1211 2.29131 13.08 2.70742C14.0389 3.12353 14.8768 3.69006 15.5936 4.407C16.3105 5.12381 16.877 5.96165 17.2931 6.92054C17.7093 7.87943 17.9173 8.90589 17.9173 9.99992C17.9173 11.0853 17.7093 12.1096 17.2931 13.0728C16.877 14.036 16.3105 14.876 15.5936 15.5928C14.8768 16.3098 14.0389 16.8763 13.08 17.2924C12.1211 17.7085 11.0947 17.9166 10.0007 17.9166ZM10.0007 16.6489C10.4259 16.0848 10.7838 15.516 11.0744 14.9422C11.365 14.3685 11.6016 13.7413 11.7844 13.0608H8.2169C8.41037 13.7627 8.64975 14.4005 8.93503 14.9743C9.22016 15.548 9.57537 16.1062 10.0007 16.6489ZM8.3869 16.4197C8.06746 15.9614 7.78058 15.4403 7.52628 14.8566C7.27197 14.2727 7.07433 13.6741 6.93336 13.0608H4.10648C4.54662 13.9262 5.1369 14.6533 5.87732 15.242C6.61773 15.8306 7.45426 16.2232 8.3869 16.4197ZM11.6144 16.4197C12.547 16.2232 13.3836 15.8306 14.124 15.242C14.8644 14.6533 15.4547 13.9262 15.8948 13.0608H13.0679C12.9002 13.6794 12.6891 14.2806 12.4348 14.8645C12.1807 15.4484 11.9072 15.9668 11.6144 16.4197ZM3.58232 11.8108H6.68023C6.62787 11.501 6.58989 11.1973 6.56628 10.8997C6.5428 10.6022 6.53107 10.3023 6.53107 9.99992C6.53107 9.69756 6.5428 9.39763 6.56628 9.10013C6.58989 8.80249 6.62787 8.49881 6.68023 8.18909H3.58232C3.50218 8.47214 3.44079 8.76645 3.39815 9.072C3.35537 9.37756 3.33398 9.68686 3.33398 9.99992C3.33398 10.313 3.35537 10.6223 3.39815 10.9278C3.44079 11.2334 3.50218 11.5277 3.58232 11.8108ZM7.93003 11.8108H12.0713C12.1235 11.501 12.1614 11.2001 12.185 10.9078C12.2085 10.6156 12.2202 10.313 12.2202 9.99992C12.2202 9.68686 12.2085 9.38422 12.185 9.092C12.1614 8.79978 12.1235 8.49881 12.0713 8.18909H7.93003C7.8778 8.49881 7.83989 8.79978 7.81628 9.092C7.7928 9.38422 7.78107 9.68686 7.78107 9.99992C7.78107 10.313 7.7928 10.6156 7.81628 10.9078C7.83989 11.2001 7.8778 11.501 7.93003 11.8108ZM13.3211 11.8108H16.419C16.4991 11.5277 16.5605 11.2334 16.6031 10.9278C16.6459 10.6223 16.6673 10.313 16.6673 9.99992C16.6673 9.68686 16.6459 9.37756 16.6031 9.072C16.5605 8.76645 16.4991 8.47214 16.419 8.18909H13.3211C13.3734 8.49881 13.4114 8.80249 13.435 9.10013C13.4585 9.39763 13.4702 9.69756 13.4702 9.99992C13.4702 10.3023 13.4585 10.6022 13.435 10.8997C13.4114 11.1973 13.3734 11.501 13.3211 11.8108ZM13.0679 6.93909H15.8948C15.4494 6.06297 14.8632 5.33589 14.1361 4.75784C13.409 4.17992 12.5684 3.78464 11.6144 3.572C11.9338 4.057 12.218 4.58749 12.4669 5.16346C12.7159 5.73929 12.9163 6.33117 13.0679 6.93909ZM8.2169 6.93909H11.7844C11.5909 6.24242 11.3476 5.60054 11.0544 5.01346C10.7611 4.42638 10.4098 3.87221 10.0007 3.35096C9.59148 3.87221 9.24023 4.42638 8.9469 5.01346C8.65371 5.60054 8.41037 6.24242 8.2169 6.93909ZM4.10648 6.93909H6.93336C7.08503 6.33117 7.28537 5.73929 7.5344 5.16346C7.78329 4.58749 8.06746 4.057 8.3869 3.572C7.42746 3.78464 6.58558 4.18131 5.86128 4.762C5.13683 5.34256 4.5519 6.06825 4.10648 6.93909Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header.fixed  .tnb .artera {
        border: 1px solid #1d1d1d;
        border-radius: 25px;
    }
    header.fixed  .tnb .artera::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header.fixed  .tnb .artera:hover {
        border: 1px solid #ED1C24;
    }
    header.fixed  .tnb .artera:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95849 16V14.0224H14.0224V1.97756H7.95849V0H14.0224C14.5698 0 15.0362 0.192758 15.4217 0.578274C15.8072 0.96379 16 1.43022 16 1.97756V14.0224C16 14.5698 15.8072 15.0362 15.4217 15.4217C15.0362 15.8072 14.5698 16 14.0224 16H7.95849ZM6.05873 12.5958L4.69204 11.1743L6.87757 8.98878H0V7.01122H6.87757L4.69204 4.82569L6.05873 3.40423L10.6493 8L6.05873 12.5958Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    
}/*media*/

@media screen and (max-width:1200px) and (min-width:1025px) {  /*1200px 이하~ 1025px까지*/
    header .logo a {
        width: 125px;
        height: 41px;
        font-size: 0;
        line-height: 0;
        display: block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 130px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        line-height: 100px;  /* header의 높이와 동일한 값 */
        font-size: 18px;
        font-weight: 700;
    }
}/*media*/

@media screen and (max-width:1024px) { /* 1024이하 - 모바일버전*/
    header .logo a {
        width: 123px;
        height: 41px;
    }
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 57px;
        height: 100%; /* header의 높이와 동일 (header의 높이가 나중에 바뀔 수 있기때문에 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치하기 위해서 */
        transform: translate(-50%, -50%);
        width: 17px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.269V9.76925H17V11.269H0ZM0 6.3845V4.8845H17V6.3845H0ZM0 1.49975V0H17V1.49975H0Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.269V9.76925H17V11.269H0ZM0 6.3845V4.8845H17V6.3845H0ZM0 1.49975V0H17V1.49975H0Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 100px 0 0 0;
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우스크롤바는 금지, 세로스크롤바는 만약 내부 콘텐츠의 길이가 옾이보다 길면 스크롤바 생김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {

    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 17px;
        font-weight: 700;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 13px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9992 16.1829L20.7492 10.4329L22.0664 11.75L14.9992 18.8172L7.93203 11.75L9.24922 10.4329L14.9992 16.1829Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0008 13.8171L9.25078 19.5671L7.93359 18.25L15.0008 11.1828L22.068 18.25L20.7508 19.5671L15.0008 13.8171Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #ededed;
        padding: 15px 40px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        font-size: 13px;
        line-height: 2.6;
        color: #1d1d1d;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 57px;
        height: 100%; /* header의 높이와 동일 (header의 높이가 나중에 바뀔 수 있기때문에 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치하기 위해서 */
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39945 18.6537L5.3457 17.5999L10.9457 11.9999L5.3457 6.39994L6.39945 5.34619L11.9995 10.9462L17.5995 5.34619L18.6532 6.39994L13.0532 11.9999L18.6532 17.5999L17.5995 18.6537L11.9995 13.0537L6.39945 18.6537Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 22px;
        top: 35px;
        color: #1d1d1d;
        font-weight: 700;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 18px;
        margin-right: 14px;
        position: relative;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 2px;
        top: -2px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.4375C6.68594 13.4375 5.91771 13.2815 5.19531 12.9694C4.47292 12.6573 3.84292 12.2324 3.30531 11.6947C2.7676 11.1571 2.34271 10.5271 2.03063 9.80469C1.71854 9.08229 1.5625 8.31406 1.5625 7.5C1.5625 6.67948 1.71854 5.90964 2.03063 5.19047C2.34271 4.4713 2.7676 3.84292 3.30531 3.30531C3.84292 2.7676 4.47292 2.34271 5.19531 2.03063C5.91771 1.71854 6.68594 1.5625 7.5 1.5625C8.32052 1.5625 9.09036 1.71854 9.80953 2.03063C10.5287 2.34271 11.1571 2.7676 11.6947 3.30531C12.2324 3.84292 12.6573 4.4713 12.9694 5.19047C13.2815 5.90964 13.4375 6.67948 13.4375 7.5C13.4375 8.31406 13.2815 9.08229 12.9694 9.80469C12.6573 10.5271 12.2324 11.1571 11.6947 11.6947C11.1571 12.2324 10.5287 12.6573 9.80953 12.9694C9.09036 13.2815 8.32052 13.4375 7.5 13.4375ZM7.5 12.4867C7.81896 12.0637 8.0874 11.637 8.30531 11.2067C8.52323 10.7764 8.70073 10.306 8.83781 9.79563H6.16219C6.30729 10.3221 6.48682 10.8005 6.70078 11.2308C6.91464 11.6611 7.18104 12.0797 7.5 12.4867ZM6.28969 12.3148C6.0501 11.9711 5.83495 11.5803 5.64422 11.1425C5.45349 10.7046 5.30526 10.2556 5.19953 9.79563H3.07938C3.40948 10.4447 3.85219 10.99 4.4075 11.4316C4.96281 11.873 5.59021 12.1674 6.28969 12.3148ZM8.71031 12.3148C9.40979 12.1674 10.0372 11.873 10.5925 11.4316C11.1478 10.99 11.5905 10.4447 11.9206 9.79563H9.80047C9.67463 10.2596 9.51635 10.7105 9.32563 11.1484C9.135 11.5864 8.9299 11.9752 8.71031 12.3148ZM2.68625 8.85813H5.00969C4.97042 8.62583 4.94193 8.39807 4.92422 8.17484C4.90661 7.95172 4.89781 7.72677 4.89781 7.5C4.89781 7.27323 4.90661 7.04828 4.92422 6.82516C4.94193 6.60193 4.97042 6.37417 5.00969 6.14188H2.68625C2.62615 6.35417 2.5801 6.5749 2.54813 6.80406C2.51604 7.03323 2.5 7.26521 2.5 7.5C2.5 7.73479 2.51604 7.96677 2.54813 8.19594C2.5801 8.4251 2.62615 8.64583 2.68625 8.85813ZM5.94703 8.85813H9.05297C9.09214 8.62583 9.12057 8.4001 9.13828 8.18094C9.15589 7.96177 9.16469 7.73479 9.16469 7.5C9.16469 7.26521 9.15589 7.03823 9.13828 6.81906C9.12057 6.5999 9.09214 6.37417 9.05297 6.14188H5.94703C5.90786 6.37417 5.87943 6.5999 5.86172 6.81906C5.84411 7.03823 5.83531 7.26521 5.83531 7.5C5.83531 7.73479 5.84411 7.96177 5.86172 8.18094C5.87943 8.4001 5.90786 8.62583 5.94703 8.85813ZM9.99031 8.85813H12.3138C12.3739 8.64583 12.4199 8.4251 12.4519 8.19594C12.484 7.96677 12.5 7.73479 12.5 7.5C12.5 7.26521 12.484 7.03323 12.4519 6.80406C12.4199 6.5749 12.3739 6.35417 12.3138 6.14188H9.99031C10.0296 6.37417 10.0581 6.60193 10.0758 6.82516C10.0934 7.04828 10.1022 7.27323 10.1022 7.5C10.1022 7.72677 10.0934 7.95172 10.0758 8.17484C10.0581 8.39807 10.0296 8.62583 9.99031 8.85813ZM9.80047 5.20438H11.9206C11.5866 4.54729 11.1469 4.00198 10.6016 3.56844C10.0562 3.135 9.42583 2.83854 8.71031 2.67906C8.9499 3.04281 9.16302 3.44068 9.34969 3.87266C9.53646 4.30453 9.68672 4.74844 9.80047 5.20438ZM6.16219 5.20438H8.83781C8.69271 4.68188 8.51021 4.20047 8.29031 3.76016C8.07031 3.31984 7.80688 2.90422 7.5 2.51328C7.19312 2.90422 6.92969 3.31984 6.70969 3.76016C6.48979 4.20047 6.30729 4.68188 6.16219 5.20438ZM3.07938 5.20438H5.19953C5.31328 4.74844 5.46354 4.30453 5.65031 3.87266C5.83698 3.44068 6.0501 3.04281 6.28969 2.67906C5.5701 2.83854 4.9387 3.13604 4.39547 3.57156C3.85214 4.00698 3.41344 4.55125 3.07938 5.20438Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        width: 95px;
        height: 20px;
        line-height: 20px;
        border: 1px solid #1d1d1d;
        border-radius: 20px;
        padding-left: 14px;
        position: relative;
    }
    header .tnb .artera::after {
        position: absolute;
        left: 72px;
        top: 3px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.97406 10V8.76402H8.76402V1.23598H4.97406V0H8.76402C9.10611 0 9.39763 0.120474 9.63858 0.361421C9.87953 0.602368 10 0.893887 10 1.23598V8.76402C10 9.10611 9.87953 9.39763 9.63858 9.63858C9.39763 9.87953 9.10611 10 8.76402 10H4.97406ZM3.78671 7.87235L2.93252 6.98395L4.29848 5.61799H0V4.38201H4.29848L2.93252 3.01605L3.78671 2.12765L6.6558 5L3.78671 7.87235Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
}/*media*/
@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 9px;
    }
    header .logo a {
        width: 80px;
        height: 27px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 50px 0 0 0;
        height: calc(100vh - 50px);
    }
    header .tnb {
        top: 17px;
    }
    header .gnb .gnb_wrap ul.depth2 > li.active > a {
        color: #ED1C24;
        font-weight: 700;
    }

}/*media*/

footer {
    padding: 74px 0 135px 0;
    background-color: #1C2014;
    color: rgba(255,255,255,0.7);
}
footer .wrapper {
    position: relative;
}
footer .youtube {
    position: absolute;
    right: 192px;
    top: 0px;
}
footer .youtube a {
    display: block;
    width: 37px;
    height: 37px;
}

footer .youtube a::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_35_243)'%3E%3Cpath d='M24.6471 0H8.35293C3.73973 0 0 3.73973 0 8.35293V24.6471C0 29.2603 3.73973 33 8.35293 33H24.6471C29.2603 33 33 29.2603 33 24.6471V8.35293C33 3.73973 29.2603 0 24.6471 0Z' fill='%23ED1C24'/%3E%3Cpath d='M25.2231 14.51C25.2231 12.3508 23.4665 10.5942 21.3074 10.5942H11.2985C9.1394 10.5942 7.38281 12.3508 7.38281 14.51V19.1667C7.38281 21.3259 9.13025 23.0825 11.2985 23.0825H21.3074C23.4665 23.0825 25.2231 21.335 25.2231 19.1667V14.51ZM19.3404 17.1814L14.8574 19.4046C14.6836 19.4961 14.0798 19.368 14.0798 19.1759V14.6197C14.0798 14.4185 14.6836 14.2904 14.8574 14.391L19.1483 16.724C19.3312 16.8246 19.5142 17.0899 19.3312 17.1814H19.3404Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_243'%3E%3Crect width='33' height='33' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
    width: 184px;
}
footer .family_site button {
    width: 100%;
    height: 37px;
    background-color: #1C2014;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: left;
    padding: 7px 0 0 22px;
    position: relative;
}
footer .family_site button::after {
    position: absolute;
    right: 17px;
    top: 9px;
    width: 10px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.48649 3.02703L1.51351 8L-6.61578e-08 6.48649L6.48649 1.93304e-07L12.973 6.48649L11.4595 8L6.48649 3.02703Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site ul {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 36px;
    background-color: #1C2014;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: left;
    padding: 15px 10px 15px 22px;

}
footer .family_site ul li a {
    display: block;
    line-height: 2;
}
footer .family_site .family_close {
    display: none;
}
footer .family_site.open .family_open {
    display: none;
}
footer .family_site.open .family_close {
    display: block;
}
footer .family_site button.family_close::after {
    transform: rotate(180deg);
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 36px;
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -19px;
    top: 3px;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .copyright {
    margin-top: 13px;
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width:768px) {
    footer {
        padding: 26px 0 58px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: -7px;
        text-align: center;
        margin: 20px 0 15px 0;
    }
    footer .youtube a {
        display: block;
        width: 30px;
        height: 30px;
    }
    
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
    }
    footer .family_site button {
        width: 100%;
        height: 37px;
        background-color: #1C2014;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: left;
        padding: 7px 0 0 22px;
        position: relative;
    }
    footer .family_site button::after {
        position: absolute;
        right: 17px;
        top: 9px;
        width: 10px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.48649 3.02703L1.51351 8L-6.61578e-08 6.48649L6.48649 1.93304e-07L12.973 6.48649L11.4595 8L6.48649 3.02703Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
        content: "";
    }
    footer .family_site ul {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 36px;
        background-color: #1C2014;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: left;
        padding: 15px 10px 15px 22px;

    }
    footer .f_nav {
        margin: 41px 0 0 0;
    }
    footer .f_nav ul {
        flex-wrap: wrap;
    }
    footer .f_nav ul li {
        margin: 0 30px 10px 0;
        position: relative;
    }
}

/* 서브페이지 레이아웃 코딩 */

.sub_visual {
    height: 450px;
    background: url(../images/common/sub_visual01.png) no-repeat center center / cover;
    color: #fff;
}
/*
    1차메뉴마다 배경이 다른이미지가 적용
    bg1 - 회사소개
    bg2 - esg
    bg3 - 사업분야
    bg4 - ir
    bg5 - 홍보센터
*/
.sub_visual.bg1 {
    background-image: url(../images/common/sub_visual01.png);
}
.sub_visual.bg2 {
    background-image: url(../images/common/sub_visual02.png);
}
.sub_visual.bg3 {
    background-image: url(../images/common/sub_visual03.png);
}
.sub_visual.bg4 {
    background-image: url(../images/common/sub_visual04.png);
}
.sub_visual.bg5 {
    background-image: url(../images/common/sub_visual05.png);
}
.sub_visual strong {
    display: block;
    font-size: 40px;
    font-weight: 700;
    padding: 297px 0 9px 0;
}
.sub_memu {
    background-color: #ED1C24;
    color: #fff;
    height: 50px;
}
.sub_memu .wrapper {
    display: flex;
    justify-content: space-between;
}
.sub_memu .lnb ul {
    display: flex;
}
.sub_memu .lnb ul li a {
    display: block;
    line-height: 50px;
    padding: 0 15px;
    white-space: nowrap; /* 줄바꿈 금지 */
}
.sub_memu .lnb ul li:first-child a {
    padding-left: 0;
}
.sub_memu .lnb ul li.active a,
.sub_memu .lnb ul li a:hover {
    font-weight: 700;
    position: relative;
}
.sub_memu .lnb ul li.active a::after,
.sub_memu .lnb ul li a:hover::after {
    position: absolute;
    right: 8px;
    top: 15px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.sub_memu .breadcrumb ol {
    display: flex;
}
.sub_memu .breadcrumb ol li {
    margin-right: 20px;
    position: relative;
}
.sub_memu .breadcrumb ol li::after {
    position: absolute;
    right: -16px;
    top: 17px;
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.34103 11.7292L3.57227 10.9605L8.03262 6.50011L3.57227 2.03976L4.34103 1.271L9.57014 6.50011L4.34103 11.7292Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
.sub_memu .breadcrumb ol li:last-child {
    margin-right: 0;
}
.sub_memu .breadcrumb ol li:last-child:after {
    display: none;
} 
.sub_memu .breadcrumb ol li a {
    display: block;
    line-height: 50px;
}
.sub_memu .breadcrumb ol li.now a {
    position: relative;
}
.sub_memu .breadcrumb ol li.now a::after {
    position: absolute ;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
.sub_contents {
    min-height: 400px;
    /* 콘텐츠에 최소높이 - 아직 콘텐츠를 코딩하지 않았을때 페이지만 생성되어 있어서 */
}
.sub_contents .sub_title h2 {
    font-size: 25px;
    font-weight: 700;
    color: #ED1C24;
    margin: 111px 0 7px 0;
}
.sub_contents .sub_title p {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
@media screen and (max-width:1300px){
    .sub_contents .sub_title h2 {
        font-size: 20px;
        margin: 78px 0 4px 0;
    }
    .sub_contents .sub_title p {
        font-size: 37px;
    }
} /*media*/
@media screen and (max-width:1024px){

} /*media*/
@media screen and (max-width:768px){
    .sub_visual {
        height: 250px;
    }
    .sub_visual strong {
        font-size: 32px;
        padding: 183px 0 35px 0;
    }
    .sub_visual p {
        font-size: 0;
        line-height: 0;
    }
    .sub_memu {
        height: 40px;
        position: relative;
    }
    .sub_memu::after {
        position: absolute;
        right: 20px; /* 오른쪽 wrapper의 여백 */
        top: 0;
        width: 33px;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(237,28,36,0),rgba(237,28,36,1));
        content: "";
    }
    .sub_memu .wrapper {
        /* 만약 모바일에서 메뉴의 수가 많아서 한번에 보이지 않게 되면
           가로스크롤바가 생성되어야함 - 메뉴를 감싸는 요소 ( flex를 준 요소) */
        overflow-y: auto; /* 내부 요소가 감싸는 요소보다 더 넓어지면 가로스크롤바 생성 */
        
    }
    
    .sub_memu .wrapper::-webkit-scrollbar{
        height: 0;
        background-color: transparent; /* 투명 */
    }
    .sub_memu .wrapper::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .sub_memu .wrapper::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .sub_memu .lnb {
        margin-right: 33px; /* 오른쪽 그라데이션 준 만큼 추가 여백, 줌 글자가 끊겨 보이기때문에 */
    }
    .sub_memu .lnb ul li a {
        line-height: 40px;
    }
    .sub_memu .breadcrumb {
        display: none
    }
    .sub_contents .sub_title h2 {
        font-size: 16px;
        margin: 78px 0 4px 0;
    }
    .sub_contents .sub_title p {
        font-size: 28px;
    }
    
} /*media*/