@import url(layout.css);
@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin: 51vh 0 0 0;
}
.visual ul li p {
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    margin-top: 14px;
}
.visual .btn_wrap {
    position: absolute;  /*swiper기준으로 정렬*/
    left: 50%;
    transform: translate(-50%, 0); /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
                                      btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform) 
                                      그럼 가운데 정렬이 됨 */
    bottom: 8%;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿*/
    width: 147px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; 
    /* 애니메이션 종류 후 마지막 상태 유지, 애니메이션 반복 횟수가 제한되었을때 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0;}
    100% { width: 100%;}
}
.visual .btn_wrap button {
    width: 27px;
    height: 27px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 10px;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' viewBox='0 0 15 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67568 12.1622L15 2.83784L12.1622 0L9.53674e-07 12.1622L12.1622 24.3243L15 21.4865L5.67568 12.1622Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 23px;
} 
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 21H21V9H9V21ZM15 30C12.925 30 10.975 29.6062 9.15 28.8187C7.325 28.0312 5.7375 26.9625 4.3875 25.6125C3.0375 24.2625 1.96875 22.675 1.18125 20.85C0.39375 19.025 0 17.075 0 15C0 12.925 0.39375 10.975 1.18125 9.15C1.96875 7.325 3.0375 5.7375 4.3875 4.3875C5.7375 3.0375 7.325 1.96875 9.15 1.18125C10.975 0.39375 12.925 0 15 0C17.075 0 19.025 0.39375 20.85 1.18125C22.675 1.96875 24.2625 3.0375 25.6125 4.3875C26.9625 5.7375 28.0312 7.325 28.8187 9.15C29.6062 10.975 30 12.925 30 15C30 17.075 29.6062 19.025 28.8187 20.85C28.0312 22.675 26.9625 24.2625 25.6125 25.6125C24.2625 26.9625 22.675 28.0312 20.85 28.8187C19.025 29.6062 17.075 30 15 30ZM15 27C18.35 27 21.1875 25.8375 23.5125 23.5125C25.8375 21.1875 27 18.35 27 15C27 11.65 25.8375 8.8125 23.5125 6.4875C21.1875 4.1625 18.35 3 15 3C11.65 3 8.8125 4.1625 6.4875 6.4875C4.1625 8.8125 3 11.65 3 15C3 18.35 4.1625 21.1875 6.4875 23.5125C8.8125 25.8375 11.65 27 15 27Z' fill='white'/%3E%3C/svg%3E%0A");
} 
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지버튼만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 21.75L21.75 15L11.25 8.25V21.75ZM15 30C12.925 30 10.975 29.6063 9.15 28.8188C7.325 28.0313 5.7375 26.9625 4.3875 25.6125C3.0375 24.2625 1.96875 22.675 1.18125 20.85C0.39375 19.025 0 17.075 0 15C0 12.925 0.39375 10.975 1.18125 9.15C1.96875 7.325 3.0375 5.7375 4.3875 4.3875C5.7375 3.0375 7.325 1.96875 9.15 1.18125C10.975 0.39375 12.925 0 15 0C17.075 0 19.025 0.39375 20.85 1.18125C22.675 1.96875 24.2625 3.0375 25.6125 4.3875C26.9625 5.7375 28.0313 7.325 28.8188 9.15C29.6063 10.975 30 12.925 30 15C30 17.075 29.6063 19.025 28.8188 20.85C28.0313 22.675 26.9625 24.2625 25.6125 25.6125C24.2625 26.9625 22.675 28.0313 20.85 28.8188C19.025 29.6063 17.075 30 15 30ZM15 27C18.35 27 21.1875 25.8375 23.5125 23.5125C25.8375 21.1875 27 18.35 27 15C27 11.65 25.8375 8.8125 23.5125 6.4875C21.1875 4.1625 18.35 3 15 3C11.65 3 8.8125 4.1625 6.4875 6.4875C4.1625 8.8125 3 11.65 3 15C3 18.35 4.1625 21.1875 6.4875 23.5125C8.8125 25.8375 11.65 27 15 27Z' fill='white'/%3E%3C/svg%3E%0A");
} 
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' viewBox='0 0 15 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.32432 12.1622L0 2.83784L2.83784 0L15 12.1622L2.83784 24.3243L0 21.4865L9.32432 12.1622Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 23px;
}
@media screen and (max-width:1300px){
    .visual ul li h3 {
        font-size: 50px;
    }
    .visual ul li p {
        font-size: 18px;
    }
}
@media screen and (max-width:1024px){
    .visual ul li h3 {
        font-size: 45px;
    }
    .visual ul li p {
        font-size: 15px;
    }
}
@media screen and (max-width:768px){ /* 모바일 디자인 적용 시작 */
    .visual ul li {
        height: 450px;
        min-height: auto;
    }
    .visual ul li h3 {
        font-size: 30px;
        margin: 150px 0 0 0;
    }
    .visual ul li p {
        font-size: 13px;
        margin-top: 10px;
    }
    .visual .btn_wrap button.btn_prev::before {
        display: none;
    } 
    .visual .btn_wrap button.btn_next::before {
        display: none;
    }
    .visual .btn_wrap {
        bottom: 115px;
    }
    .visual .btn_wrap button {
        margin-left: -10px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 블릿*/
        width: 80px;
        height: 3px;
    }
}
@media screen and (max-width:500px){
    .visual ul li h3 {
        font-size: 25px;
    }
}

section .tit h2 {
    color: #ED1C24;
    font-size: 25px;
    font-weight: 700;
    margin: 159px 0 0 0;
}
section .tit h2 span {
    position: relative;
}
section .tit h2 span::after {
    position: absolute;
    right: -21px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.94872C0 8.22524 0.0402151 8.51182 0.150823 8.78331C0.638506 9.98995 1.88034 10.734 3.45902 10.1056C3.83609 9.95475 14.2785 5.74661 14.2785 5.74661C14.2785 5.74661 10.1659 16.174 10.01 16.5611C9.41176 18.0543 10.1307 19.4067 11.3524 19.8592C11.6239 19.9598 11.9055 20.0101 12.182 20.005C13.1825 20 14.0623 19.4118 14.4947 18.2353C14.5601 18.0593 19.7034 3.93665 19.814 3.5998C19.8793 3.39869 20 2.92609 20 2.5993C20 1.90045 19.7436 1.24183 19.2459 0.744093C18.7582 0.251383 18.1046 0 17.4158 0C17.0789 0 16.8074 0.0603318 16.3952 0.191051C16.1488 0.271493 2.8909 5.20362 1.75968 5.62594C0.628457 6.04827 -2.76166e-06 6.95324 0.00502489 7.94872' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: #1d1d1d;
    margin-bottom: 46px;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 0.5s;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 800px;
    position: relative;
    z-index: 10;
}
.biz .list ul li a .inner {
    margin: 0 5%;
    position: absolute; /* absolute로 준 이유: 마우스를 오버했을때 효과를 부드럽기 주기 위해 */
    top: 590px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    font-size: 16px;
    display: block;
    line-height: 1.2;
}
.biz .list ul li a .inner h3 {
    font-size: 40px;
    line-height: 1;
    margin: 10px 0 10px 0;
}
.biz .list ul li a .inner p {
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (min-width:768px){ 
    /* 하나의 li에 over했을때  -- 768px 이상일때만 적용  */
    .biz .list ul li.on {
        width: 75%;
    }
    /* .biz .list ul li.off {
        width: 17%;
    } */
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.off a {
        opacity: 0.8;
    }
    .biz .list ul li.on a .inner {
        transition: 0.5s;
    }
    .biz .list ul li.on a .inner strong {
        font-weight: 700;
    }
    .biz .list ul li.on a .inner h3 {
        font-size: 50px;
        font-weight: 700;
    }
    .biz .list ul li.on a .inner p {
        opacity: 1;
    } 
}
@media screen and (max-width:1300px){ 
    section .tit h2 {
        font-size: 20px;
    }
    section .tit p {
        font-size: 37px;
    }
    section .tit h2 span::after {
        right: -14px;
        top: 3px;
        width: 13px;
        height: 13px;
    }
}
@media screen and (max-width:1024px){ 
    
}
@media screen and (max-width:768px){ 
    section .tit h2 {
        font-size: 14px;
        margin: 85px 0 0 0;
    }
    section .tit h2 span::after {
        right: -11px;
        top: 2px;
        width: 10px;
        height: 10px;
    }
    section .tit p {
        font-size: 28px;
        margin-bottom: 23px;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-bottom: 1px;
    }
    .biz .list ul li a {
        height: 130px;
    }
    .biz .list ul li a .inner {
        margin: 0 5%;
        left: 0;
        top: 55px;
        width: calc(100% - 42px);
    }
    .biz .list ul li a .inner strong {
        font-size: 14px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 25px;
        line-height: 1;
        margin: 5px 0 10px 0;
        font-weight: 700;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
@media screen and (max-width:500px){ 
   
}

.news .list ul li a {
    display: block;
    border-top: 1px solid #1d1d1d;
}
.news .list ul li a .date {
    color: #1d1d1d;
    display: block;
    font-size: 40px;
    margin: 26px 0 11px 0;
}
.news .list ul li a h3 {
    color: #1d1d1d;
    font-size: 33px;
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.news .list ul li a p {
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
    margin: 27px 0 75px 0;
}
.news .list ul li a:hover {
    border-top: 1px solid #ED1C24;
}
.news .ctrl_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 209px;
}
.news .ctrl_bar .scroll {
    position: relative;
    width: calc(100% - 64px);
}
.news .ctrl_bar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 1px;
    height: 6px;
    width: 100%;
    border-radius: 0;
    background: #ededed;
}
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 100%;
    background: #767676;
    cursor: pointer; /* 손가락 모양 */
}
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: #ED1C24;
}
.news .ctrl_bar .btn_wrap button {
    display: none;
}
.news .ctrl_bar .btn_wrap .more {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.news .ctrl_bar .btn_wrap .more::before {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.95833 9.37516V7.9585H17.875V9.37516H7.95833ZM7.95833 12.2085V10.7918H17.875V12.2085H7.95833ZM7.95833 15.0418V13.6252H17.875V15.0418H7.95833ZM5.83333 9.37516C5.63264 9.37516 5.46441 9.30728 5.32865 9.17152C5.19288 9.03575 5.125 8.86752 5.125 8.66683C5.125 8.46613 5.19288 8.29791 5.32865 8.16214C5.46441 8.02638 5.63264 7.9585 5.83333 7.9585C6.03403 7.9585 6.20226 8.02638 6.33802 8.16214C6.47378 8.29791 6.54167 8.46613 6.54167 8.66683C6.54167 8.86752 6.47378 9.03575 6.33802 9.17152C6.20226 9.30728 6.03403 9.37516 5.83333 9.37516ZM5.83333 12.2085C5.63264 12.2085 5.46441 12.1406 5.32865 12.0049C5.19288 11.8691 5.125 11.7009 5.125 11.5002C5.125 11.2995 5.19288 11.1312 5.32865 10.9955C5.46441 10.8597 5.63264 10.7918 5.83333 10.7918C6.03403 10.7918 6.20226 10.8597 6.33802 10.9955C6.47378 11.1312 6.54167 11.2995 6.54167 11.5002C6.54167 11.7009 6.47378 11.8691 6.33802 12.0049C6.20226 12.1406 6.03403 12.2085 5.83333 12.2085ZM5.83333 15.0418C5.63264 15.0418 5.46441 14.9739 5.32865 14.8382C5.19288 14.7024 5.125 14.5342 5.125 14.3335C5.125 14.1328 5.19288 13.9646 5.32865 13.8288C5.46441 13.693 5.63264 13.6252 5.83333 13.6252C6.03403 13.6252 6.20226 13.693 6.33802 13.8288C6.47378 13.9646 6.54167 14.1328 6.54167 14.3335C6.54167 14.5342 6.47378 14.7024 6.33802 14.8382C6.20226 14.9739 6.03403 15.0418 5.83333 15.0418Z' fill='%23767676'/%3E%3Crect x='1' y='1' width='22' height='22' rx='11' stroke='%23767676' stroke-width='2'/%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap .more:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='37' height='37' rx='18.5' fill='%23FF0000' stroke='%23FF0000' stroke-width='2'/%3E%3Cpath d='M13.1667 15.4998V13.1665H29.5V15.4998H13.1667ZM13.1667 20.1665V17.8332H29.5V20.1665H13.1667ZM13.1667 24.8332V22.4998H29.5V24.8332H13.1667ZM9.66667 15.4998C9.33611 15.4998 9.05903 15.388 8.83542 15.1644C8.61181 14.9408 8.5 14.6637 8.5 14.3332C8.5 14.0026 8.61181 13.7255 8.83542 13.5019C9.05903 13.2783 9.33611 13.1665 9.66667 13.1665C9.99722 13.1665 10.2743 13.2783 10.4979 13.5019C10.7215 13.7255 10.8333 14.0026 10.8333 14.3332C10.8333 14.6637 10.7215 14.9408 10.4979 15.1644C10.2743 15.388 9.99722 15.4998 9.66667 15.4998ZM9.66667 20.1665C9.33611 20.1665 9.05903 20.0547 8.83542 19.8311C8.61181 19.6075 8.5 19.3304 8.5 18.9998C8.5 18.6693 8.61181 18.3922 8.83542 18.1686C9.05903 17.945 9.33611 17.8332 9.66667 17.8332C9.99722 17.8332 10.2743 17.945 10.4979 18.1686C10.7215 18.3922 10.8333 18.6693 10.8333 18.9998C10.8333 19.3304 10.7215 19.6075 10.4979 19.8311C10.2743 20.0547 9.99722 20.1665 9.66667 20.1665ZM9.66667 24.8332C9.33611 24.8332 9.05903 24.7214 8.83542 24.4978C8.61181 24.2741 8.5 23.9971 8.5 23.6665C8.5 23.3359 8.61181 23.0589 8.83542 22.8353C9.05903 22.6116 9.33611 22.4998 9.66667 22.4998C9.99722 22.4998 10.2743 22.6116 10.4979 22.8353C10.7215 23.0589 10.8333 23.3359 10.8333 23.6665C10.8333 23.9971 10.7215 24.2741 10.4979 24.4978C10.2743 24.7214 9.99722 24.8332 9.66667 24.8332Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:768px){ 
    .news .list ul li {
        width: 218px;
    }
    .news .list ul li a .date {
        font-size: 15px;
        margin: 12px 0 12px 0;
    }
    .news .list ul li a h3 {
        font-size: 20px;
    }
    .news .list ul li a p {
        margin: 10px 0 41px 0;
    }
    .news .ctrl_bar .btn_wrap .more::before {
        width: 24px;
        height: 24px;
    }
    .news .ctrl_bar .scroll {
        position: relative;
        width: calc(100% - 54px);
    }
    .news .ctrl_bar {
        margin-bottom: 100px;
    }
}

.service {
    padding: 115px 0 180px 0; 
    /* 브라우저 사이즈가 줄어들어서 글자가 여러줄이 되면 높이가 변경됨
       그래서 아예 높이를 안주고 위아래 여백을 줌 */
    background: url(../images/main/service_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service h2 {
    display: none;
}
.service .tit p {
    color: #fff;
}
.service .list ul {
    display: flex;
    justify-content: space-between
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*
        100 나누기 li갯수 = 33.33%
        중간여백 총합 24*2 = 48
        48 - li의 갯수 3 = 16
        calc(33.33% - 16px)
    */
    
}
.service .list ul li a {
    display: block;
    height: 109px;
    background-color: #fff;
    transition: 0.3s;
    text-align: center;
}
.service .list ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

/*
    오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 오류가 발생함..
    a가 이동하고 a를 감싸는 이동하지 않는 li에 오버를 적용
    :hover를 준 요소는 움직이면 x
*/

.service .list ul li a .inner {
    /* margin: 0 39px 0 39px; */
    padding: 30px 30px 18px 55px;
    position: relative;
    display: inline-block;
    text-align: left;
}
.service .list ul li a .inner::before {
    position: absolute;
    left: -1px;
    top: 26px;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.service .list ul li.esg a .inner::before{
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='34' viewBox='0 0 40 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6667 33.6364V26.9091H0L6.41667 16.8182H3.33333L15 0L20 7.23182L25 0L36.6667 16.8182H33.5833L40 26.9091H28.3333V33.6364H21.6667V26.9091H18.3333V33.6364H11.6667ZM27.875 23.5455H33.9167L27.4583 13.4545H30.25L25 5.88636L22.0417 10.133L26.6667 16.8182H23.5833L27.875 23.5455ZM6.08333 23.5455H23.9167L17.4583 13.4545H20.25L15 5.88636L9.75 13.4545H12.5417L6.08333 23.5455ZM6.08333 23.5455H12.5417H9.75H20.25H17.4583H23.9167H6.08333ZM27.875 23.5455H23.5833H26.6667H22.0417H30.25H27.4583H33.9167H27.875Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
.service .list ul li.inv a .inner::before{
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9993 38.3332C16.8882 38.3332 14.0271 37.6248 11.416 36.2082C8.8049 34.7915 6.66602 32.9026 4.99935 30.5415V34.9998H1.66602V24.9998H11.666V28.3332H7.54102C8.87435 30.3332 10.6313 31.9443 12.8118 33.1665C14.9924 34.3887 17.3882 34.9998 19.9993 34.9998C22.0827 34.9998 24.0341 34.604 25.8535 33.8123C27.673 33.0207 29.2563 31.9512 30.6035 30.604C31.9507 29.2568 33.0202 27.6734 33.8118 25.854C34.6035 24.0346 34.9993 22.0832 34.9993 19.9998H38.3327C38.3327 22.5276 37.8535 24.9026 36.8952 27.1248C35.9368 29.3471 34.6243 31.2915 32.9577 32.9582C31.291 34.6248 29.3466 35.9373 27.1243 36.8957C24.9021 37.854 22.5271 38.3332 19.9993 38.3332ZM18.4993 31.6665V29.4998C17.1938 29.1943 16.1313 28.6318 15.3118 27.8123C14.4924 26.9929 13.8882 25.9165 13.4993 24.5832L16.2493 23.4998C16.5827 24.6387 17.1035 25.4929 17.8118 26.0623C18.5202 26.6318 19.3327 26.9165 20.2493 26.9165C21.166 26.9165 21.9507 26.7012 22.6035 26.2707C23.2563 25.8401 23.5827 25.1665 23.5827 24.2498C23.5827 23.4443 23.2424 22.7915 22.5618 22.2915C21.8813 21.7915 20.666 21.2221 18.916 20.5832C17.2771 19.9998 16.0757 19.3054 15.3118 18.4998C14.548 17.6943 14.166 16.6387 14.166 15.3332C14.166 14.1943 14.5618 13.1596 15.3535 12.229C16.1452 11.2984 17.2216 10.6943 18.5827 10.4165V8.33317H21.4993V10.4165C22.4993 10.4998 23.4091 10.9026 24.2285 11.6248C25.048 12.3471 25.6105 13.1943 25.916 14.1665L23.2493 15.2498C23.0271 14.6109 22.666 14.0762 22.166 13.6457C21.666 13.2151 20.9716 12.9998 20.0827 12.9998C19.1105 12.9998 18.3674 13.2082 17.8535 13.6248C17.3396 14.0415 17.0827 14.6109 17.0827 15.3332C17.0827 16.0554 17.4021 16.6248 18.041 17.0415C18.6799 17.4582 19.8327 17.9443 21.4993 18.4998C23.4993 19.2221 24.8327 20.0693 25.4993 21.0415C26.166 22.0137 26.4993 23.0832 26.4993 24.2498C26.4993 25.0554 26.3605 25.7637 26.0827 26.3748C25.8049 26.9859 25.4368 27.5068 24.9785 27.9373C24.5202 28.3679 23.9855 28.7151 23.3743 28.979C22.7632 29.2429 22.1105 29.4443 21.416 29.5832V31.6665H18.4993ZM1.66602 19.9998C1.66602 17.4721 2.14518 15.0971 3.10352 12.8748C4.06185 10.6526 5.37435 8.70817 7.04102 7.0415C8.70768 5.37484 10.6521 4.06234 12.8743 3.104C15.0966 2.14567 17.4716 1.6665 19.9993 1.6665C23.1105 1.6665 25.9716 2.37484 28.5827 3.7915C31.1938 5.20817 33.3327 7.09706 34.9993 9.45817V4.99984H38.3327V14.9998H28.3327V11.6665H32.4577C31.1243 9.6665 29.3674 8.05539 27.1868 6.83317C25.0063 5.61095 22.6105 4.99984 19.9993 4.99984C17.916 4.99984 15.9646 5.39567 14.1452 6.18734C12.3257 6.979 10.7424 8.04845 9.39518 9.39567C8.04796 10.7429 6.97852 12.3262 6.18685 14.1457C5.39518 15.9651 4.99935 17.9165 4.99935 19.9998H1.66602Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before{
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.1667 29.3333C29.6389 29.3333 28.3403 28.7986 27.2708 27.7292C26.2014 26.6597 25.6667 25.3611 25.6667 23.8333C25.6667 22.3056 26.2014 21.0069 27.2708 19.9375C28.3403 18.8681 29.6389 18.3333 31.1667 18.3333C32.6944 18.3333 33.9931 18.8681 35.0625 19.9375C36.1319 21.0069 36.6667 22.3056 36.6667 23.8333C36.6667 25.3611 36.1319 26.6597 35.0625 27.7292C33.9931 28.7986 32.6944 29.3333 31.1667 29.3333ZM31.1667 25.6667C31.6861 25.6667 32.1215 25.491 32.4729 25.1396C32.8243 24.7882 33 24.3528 33 23.8333C33 23.3139 32.8243 22.8785 32.4729 22.5271C32.1215 22.1757 31.6861 22 31.1667 22C30.6472 22 30.2118 22.1757 29.8604 22.5271C29.509 22.8785 29.3333 23.3139 29.3333 23.8333C29.3333 24.3528 29.509 24.7882 29.8604 25.1396C30.2118 25.491 30.6472 25.6667 31.1667 25.6667ZM20.1667 42.1667V36.85C20.1667 36.2083 20.3194 35.6049 20.625 35.0396C20.9306 34.4743 21.3583 34.0236 21.9083 33.6875C22.8861 33.1069 23.9174 32.6257 25.0021 32.2437C26.0868 31.8618 27.1944 31.5792 28.325 31.3958L31.1667 34.8333L34.0083 31.3958C35.1389 31.5792 36.2389 31.8618 37.3083 32.2437C38.3778 32.6257 39.4014 33.1069 40.3792 33.6875C40.9292 34.0236 41.3646 34.4743 41.6854 35.0396C42.0062 35.6049 42.1667 36.2083 42.1667 36.85V42.1667H20.1667ZM23.7875 38.5H29.425L26.95 35.475C26.4 35.6278 25.8653 35.8264 25.3458 36.0708C24.8264 36.3153 24.3069 36.575 23.7875 36.85V38.5ZM32.9083 38.5H38.5V36.85C38.0111 36.5444 37.5069 36.2771 36.9875 36.0479C36.4681 35.8187 35.9333 35.6278 35.3833 35.475L32.9083 38.5ZM9.16667 38.5C8.15833 38.5 7.29514 38.141 6.57708 37.4229C5.85903 36.7049 5.5 35.8417 5.5 34.8333V9.16667C5.5 8.15833 5.85903 7.29514 6.57708 6.57708C7.29514 5.85903 8.15833 5.5 9.16667 5.5H34.8333C35.8417 5.5 36.7049 5.85903 37.4229 6.57708C38.141 7.29514 38.5 8.15833 38.5 9.16667V18.3333C38.0111 17.7222 37.4764 17.1417 36.8958 16.5917C36.3153 16.0417 35.6278 15.675 34.8333 15.4917V9.16667H9.16667V34.8333H16.775C16.6833 35.1694 16.6146 35.5056 16.5687 35.8417C16.5229 36.1778 16.5 36.5139 16.5 36.85V38.5H9.16667ZM12.8333 16.5H25.6667C26.4611 15.8889 27.3319 15.4306 28.2792 15.125C29.2264 14.8194 30.1889 14.6667 31.1667 14.6667V12.8333H12.8333V16.5ZM12.8333 23.8333H22C22 23.1917 22.0687 22.5653 22.2062 21.9542C22.3437 21.3431 22.5347 20.7472 22.7792 20.1667H12.8333V23.8333ZM12.8333 31.1667H19.1583C19.4944 30.8917 19.8535 30.6472 20.2354 30.4333C20.6174 30.2194 21.0069 30.0208 21.4042 29.8375V27.5H12.8333V31.1667ZM9.16667 34.8333V9.16667V15.4458V14.6667V34.8333Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
}
.service .list ul li a .inner strong {
    color: #1d1d1d;
    font-size: 25px;
}
.service .list ul li a .inner h3 {
    margin-top: 5px;
}

@media screen and (max-width:768px){ 
    .service {
        padding: 35px 0 96px 0;
    }
    .service .list ul li {
        width: calc(33.33% - 16px);
    }
    .service .list ul li a {
        border-radius: 48px;
        height: 127px;
    }
    .service .list ul li a .inner {
        margin: 0;
        padding: 69px 0 0 0;
    }
    .service .list ul li a .inner::before {
        left: 50%;
        top: 32px;
        transform: translate(-50%, 0);
        width: 30px;
        height: 30px;
    }
    .service .list ul li a .inner strong {
        color: #1d1d1d;
        font-size: 15px;
        font-weight: 700;
    }
    .service .list ul li a .inner h3 {
        display: none;
    }
}
