
@font-face {
    font-family: 'S-CoreDream-3Light';
    font-weight: 400;
    font-display: swap;
    src: local('S-CoreDream-3Light'), url(../fonts/SCDream4.otf) format('woff');
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    font-weight: 700;
    font-display: swap;
    src: local('S-CoreDream-3Light'), url(..//fonts/SCDream7.otf) format('woff');
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    font-weight: 800;
    font-display: swap;
    src: local('S-CoreDream-3Light'), url(..//fonts/SCDream8.otf) format('woff');
}
