*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: '맑은고딕';
    font-size: 15px;
    color: #333333;
    background-color: #ffffff;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}


header {
    height: 100px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
header h1 {
    padding-top: 25px;
}
header .gnb .depth1 {
    display: flex;
    justify-content: space-between;
}
header .gnb .depth1 > li.over > .depth2  {
    display: block;
}
header .gnb .depth1 > li {
    width: 160px;
    text-align: center;
}
header .gnb .depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 20px;
    font-weight: 700;
}
header .gnb .depth1 > li:hover > a {
    color: #0066ed;
}
header .gnb .depth1 > li > .depth2 {
    display: none;
}
header .gnb .depth1 > li > .depth2 >li {
    line-height: 40px;
}
header .gnb .depth1 > li > .depth2 >li > a {
    display: block;
}header .gnb .depth1 > li > .depth2 >li:hover > a  {
    background-color: #30a3f3;
    color: #ffffff;
}
