* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: 'malgun gothic', '맑은고딕';
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 100px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
header h1 {
    padding-top: 25px;
}
header .gnb {
    
}
header .gnb .depth1 {
    display: flex;
    
}
header .gnb .depth1 > li {
    width: 130px;
    text-align: center;
    position: relative;
    
}
header .gnb .depth1 > li > a {
    display: block;
    background-color: #c9463d;
    color: #fff;
    line-height: 40px;
    margin: 30px 0;
    font-size: 20px;
    transition: 0.5s;
}
header .gnb .depth1 > li:hover > a {
    background-color: #5e1742;
    font-weight: 700;
}
header .gnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    
    background-color: #5e1742;
    color: #fff;
}
header .gnb .depth2 > li > a{
    display: block;
    padding: 10px 0;
    transition: 0.5s;
}
header .gnb .depth2 > li > a:hover {
    font-weight: 700;
}
header .gnb.over .depth2 {
    display: block;
    height: 180px;
}
.popup {
    height: 300px;
    position: relative;
    /* overflow: hidden; */
}
.popup ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    opacity: 0.5;
}
.popup ul li.active {
    z-index: 2;
    opacity: 1;
}
.container {
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.news {
    width: 400px;
    position: relative;
}
.news .tab {
    display: flex;
}
.news .tab li {
    margin-right: 5px;
}
.news .tab button {
    border: 0;
    background-color: #ededed;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.news .tab li.active button {
    background-color: #5e1742;
    color: #fff;
}
.news .detail {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
.news .detail li a {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.news .detail li a:hover {
    color: #5e1742;
    text-decoration: underline;
}
.news .tab li.active .detail {
    display: block;
}
.news .gall ul {
    display: flex;
    justify-content: space-around;
}
.news .gall ul li a:hover {
    opacity: 0.5;
}
.banner {
    width: 380px;
    background-color: #ededed;
}
.link {
    width: 380px;
}
.layer_popup {
    position: absolute;
    left: calc(50% - 250px);
    top: 300px;
    width: 500px;
    padding: 30px 40px;
    background-color: #c9463d;
    color: #fff;
    z-index: 200;
}
.layer_popup h2 {
    font-size: 25px;
}
.layer_popup p {
    font-size: 16px;
    padding: 10px 0;
}
.layer_popup button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-size: 15px;
    padding: 5px 10px;
}
footer {
    height: 100px;
    margin-top: 20px;
    background-color: #f7f7f7;
    display: flex;
}
footer .f_logo {
    margin: 20px 30px 0 30px;
}
footer .copy {
    margin: 30px 50px 0 100px;
    color: #666;
}
footer .sns ul {
    display: flex;
    margin-left: 100px;
}
footer .sns ul li {
    margin: 30px 0 0 20px;
}
footer .sns ul li img {
    width: 30px;
}