@import url(default.css); /* default.css를 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/Pretendard-Bold.woff2) format('woff2'), url(../fonts/Pretendard-Bold.woff) format('woff');}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');}

html, body {
    /* font-family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px;
    color: #3d3d3d;
    line-height: 1.2; /* 행간 */
    font-weight: 400;
    word-break: keep-all; /*단어별로 줄바꿈 */
    letter-spacing: 0; /*자간 */
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
} 
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 30px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 700;
    line-height: 100px; /* header의 높이와 동일한 값으로 행간을 준다 */
    /* 행간을 100px을 주면 높이 100px 안에 글자가 위아래 가운데로 정렬된다 (꼼수) */
    display: block ; /* inline요소인 a를 block요소로 변경 */
    padding: 0 20px;
}
header .gnb ul li a:hover { /* 마우스를 오버했을때 변화시키기*/
    color: #114294;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 700px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 55px;
    line-height: 1.1em;
    font-weight: 700;
    padding: 245px 0 25px 0;
}
.visual p {
    font-size: 20px; }

.biz .tit {
    margin: 158px 0 48px 0;
}
.biz .tit h2{
    font-size: 15px;
    color: #002f87;
    font-weight: 700;
}
.biz .tit p {
    font-size: 49px;
    color: #1d1d1d;
    font-weight: 700;
    margin: -5px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
    text-align: center;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a h3 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 30px 0 10px 0;
}
.biz .list ul li a p {
    margin: 0 50px 22px 50px;
}
.biz .list ul li a .more {
    width: 195px;
    height: 35px;
    line-height: 35px;
    /* 행간을 높이와 동일하게 주면 글자가 위아래 가운데 정렬이 됨 */
    border: 1px solid #cccccc;
    display: inline-block;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover;
    height: 1149px;
    margin: 133px 0 0 0;
    color: #fff;
}
.brand h2 {
    color: #002f87;
    font-size: 15px;
    font-weight: 700;
    padding: 307px 0 0 0;
}
.brand p {
    font-size: 48px;
    line-height: 61.55px;
    font-weight: 700;
    padding: 0 0 31px 0;
}
.brand a {
    border: 1px solid rgba(255,255,255,0.6);
    padding: 15px 38px; /* 위아래 15px 좌우 38px */
    display: inline-block;
}
footer{
    background-color: #2d2d2d;
    color: rgba(255,255,255,0.8);
    padding: 56px 0 82px 0;
}
footer .f_nav ul{
    display: flex;
}
footer .f_nav ul li {
    margin: 0 40px 0 0;
}
/*li.privacy (여백없음) li중에서 privacy라는 클래스명을 갖은 li
  li .privacy (여백있음) li안에 privacy라는 클래스명을 갖은 요소*/
footer .f_nav ul li.privacy {
    font-weight: 700;
}
footer .f_sub {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: 30px 0 0 0; /*선 밖 여백*/
    padding: 25px 0 0 0; /*선 내부 여백*/
}
footer .f_sub .f_info span {
    margin: 0 38px 13px 0;
    display: inline-block;
}
footer .f_sub .copyright {
    margin: 29px 0 0 0;
    color: rgba(255,255,255,0.6);
}